<% form_remote_tag :update => 'save_topic', :url => { :action => 'back_index'} do %>  
<div id="save_topic">
    <b>new topic</b>
    <div style="float:left;width:80px;">
        New topic
    </div>	
    <div style="float:left">
        <%=text_field(:forum, :title, :size => 20) %>
    </div>
    <div>
        <%=@locations = Location.find(:all,:select=>"id,name")
        select_tag(:location_id,options_from_collection_for_select(@locations, :id, :name)) %>
    </div>
    <div>
        &nbsp;
    </div>
    <div style="float:left;width:80px;">
        Content:
    </div>
    <div>
        <%=text_area(:forum, :content, :cols => 30, :rows => 10) %>
    </div>
    <div style="float:left;width:80px;">
        &nbsp;
    </div>
    <div>
        <%= submit_tag 'Save' %>
    </div>
    <% end -%>
</div>
