<div align="left">
	<span><%= link_to "Friends", :action => "index" %></span> |
    <span><%= link_to "Send", :action => "index" %></span> |
    <span><%= link_to "Sent", :action => "index" %></span> |
    <span><%= link_to "Receive", :action => "index" %></span>
</div>
<div align="left"><h2>Page My Friends</h2></div>
