<%for forum in @forums %>
<div style="float:left;">
    <%=forum.title %>
</div>
<div>
    <%=forum.user_name %>
</div>
<div>
    <%=forum.content %>
</div>
<div>
    <%=forum.create_date %>
</div>
<%end %>