
<script type="text/javascript" src="http://www.vietbando.com/API/VBDMapAPI.js?key=jSwEQzgO5MpfVPTv9f3NyMQSdjYvI0NMNkAJg3BdWTs="></script>
    <script type="text/javascript">
        function loadMap()
        {
            if (VBrowserIsCompatible())
	        {
	            var map = new VMap(document.getElementById('mymap'));
	            map.setCenter(new VLatLng(10.8152328,106.680505), 4);
	        }
        }
    </script>
<body onload="loadMap();">
<div id="mymap" style="width:700px; height:500px;"></div>
</body> 