<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>    
    <div>
      <span>
        <%unless session[:fb_id].nil?%>        
            Welcome
            <fb:name uid='loggedinuser' useyou='false'></fb:name>
            <fb:profile-pic uid="loggedinuser" size="thumb" />            
        <% end %>
      </span>
      <span>
        <% if session[:fb_id].nil?%>
          <div id="connect_fb" class="blue" style="float:left;margin-right:5px;">
            <fb:login-button size="medium" onlogin="connectFB();"></fb:login-button>
          </div>
        <%else%>
          <%= link_to_function("Logout of Facebook", "logoutFB();") %>
        <% end %>
      </span>
    </div>    
    <!--FB connect-->
    <%form_tag '/connect/connect_fb', :name => "frm_fb" do%>
      <input name="fb_id" id="fb_id" type="hidden"/>
    <%end %>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
    <script type="text/javascript">
      FB.init("b9b1ab2079e533379f446cbd34050c93", "/xd_receiver.html");
      function connectFB(){
        $("fb_id").value = FB.Connect.get_loggedInUser();
        document.frm_fb.submit();
      }      
      function logoutFB(){
        FB.Connect.logout(function(){
          window.location = "/connect/logout_fb";
        });
      }
    </script>
    <!--END FB connect-->
  </body>
</html>
