.dialog_buttons {padding: 8px;}
.dialog_buttons input {margin-left:5px;}
.pop_dialog_table {border-collapse: collapse;direction: ltr;margin: auto;table-layout: fixed;width: 465px;}
.pop_dialog_table1 {border-collapse: collapse;direction: ltr;margin: auto;table-layout: fixed;width: 600px;}
.pop_dialog_table {border-collapse: collapse;direction: ltr;}
.pop_topleft {background-image: url(http://www.facebook.com/imgs/pop_dialog_top_left.png) !important;filter: none !important;}
.pop_border {background-image: url(http://www.facebook.com/imgs/pop_dialog_border.png) !important;filter: none !important;}
.label {font-size: 11px;text-align: left;}
.pop_topright {background-image: url(http://www.facebook.com/imgs/pop_dialog_top_right.png) !important;filter: none !important;}
.pop_topleft, .pop_topright, .pop_bottomleft, .pop_bottomright {height: 10px;overflow: hidden;padding: 0 !important;width: 10px !important;}
.pop_content {background-color: white;padding: 0;}
.dialog_title {background: #6D84B4 none repeat scroll 0 0;border: 1px solid #3B5998;color: white;font-size: 14px;font-weight: bold;width:auto;margin: 0;}
.dialog_content {background: #FFFFFF none repeat scroll 0 0;border-color: #555555;border-style: solid;border-width: 0 1px 1px;}
.dialog_body {border-bottom: 1px solid #CCCCCC;padding: 10px;}
clearfix {display: block;}
.dialog_content_img {float: left;margin-right: 15px;}
.dialog_content_txt {float: left;padding-bottom: 5px;width: 300px;}
.pop_bottomleft {background-image: url(http://www.facebook.com/imgs/pop_dialog_bottom_left.png) !important;filter: none !important;}
.pop_bottomright {background-image: url(http://www.facebook.com/imgs/pop_dialog_bottom_right.png) !important;filter: none !important;}
.generic_dialog_popup {height: 0;overflow: visible;position: relative;}
.generic_dialog {height: 0;left: 0;overflow: visible;position: absolute;top: 0;width: 100%;z-index: 101;}
#menu {background: #FFFFFF;color: #FFFFFF;font-size: 11px;font-weight: normal;margin: 0 0 1px;padding: 6px;text-align: left;text-transform: uppercase;}
.font_standand {line-height: 140%;width: 600px;direction: ltr;font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 12.5px;text-align: left;}
.small {font-size: 11px;line-height: 1.2em;}
.small2 {font-size: 10px;line-height: 1.15em;}
.small3 {font: normal 11px Arial, Helvetica, sans-serif;line-height: 1.15em;}
.small4 {font: normal 11px Arial, Helvetica, sans-serif;line-height: 1.15em;color: #666666;}
h1, h2, h3, h4 {padding: 0;margin: 0;}
a {color: #0078B3;text-decoration: none;}
a:hover {color: #CC3366;text-decoration: underline;}
.h3c {font-size: 12px;background-color: #E6E6E6;padding: 3px;border-top: 2px solid #0080C0;}
.h3content {border-left: 1px solid #0080C0;border-right: 1px solid #0080C0;border-bottom: 1px solid #0080C0;}
#wrapper {width: 760px;margin: 0 auto;}
#masthead {color: #000000;}
#masthead .logo {float: left;}
#masthead .topmenu {float: left;margin: 22px 0px 0px 20px;text-transform: uppercase;font: bold 14px Arial, Helvetica, sans-serif;}
#masthead .topmenu a, .topmenu a:visited {text-decoration: none;color: #004080;font-weight: bold;}
#masthead .topmenu a:hover {text-decoration: underline;color: #FF0000;}
#masthead .topsearch {float: left;margin: 15px 0px 0px 30px;}
#column_wrapper {.newstxt {font: normal 16px "Times New Roman", Times, serif;}
.newstxt .title {font-size: 20px;font-weight: bold;padding: 0px;margin: 0px 0px 5px 0px;color: #993300;}
.newstxt .subtitle {font-style: italic;padding: 0 0 10px 0;margin: 0px;}
.newstxt .image {.SearchBoxText {font-size: 13px;width: 250px;border: 1px inset #999}
.sb_btn {width: 60px;height: 22px;margin-left: 1px;background: transparent url('/images/search.gif') no-repeat}
#tabsJ {float: left;width: 100%;font: bold 12px Arial, Helvetica, sans-serif;text-transform: uppercase;line-height: normal;border-bottom: 3px solid #002D59;}
#tabsJ ul {margin: 0;padding: 10px 10px 0 180px;list-style: none;}
#tabsJ li {display: inline;margin: 0;padding: 0;}
#tabsJ a {float: left;background: url("/images/tableftJ.gif") no-repeat left top;margin: 0;padding: 0 0 0 5px;text-decoration: none;}
#tabsJ a span {float: left;display: block;background: url("/images/tabrightJ.gif") no-repeat right top;padding: 6px 11px 5px 6px;color: #00274F;}
#tabsJ a span {float: none;}
#tabsJ a:hover span {color: #FFF;}
#tabsJ a:hover {background-position: 0% -42px;}
#tabsJ a:hover span {background-position: 100% -42px;}
#tabsJ .tabact a {background-position: 0% -42px;color: #FFF;}
#tabsJ .tabact a span {background-position: 100% -42px;color: #FFF;}
textarea {border: 1px solid #BDC7D8;font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;padding: 3px;}
.wallkit_title {background-color: #CFD7E4;border-top: 1px solid #3B5998;color: #3B5998;font-size: 11px;font-weight: bold;overflow: hidden;padding: 3px 5px 2px;}
.wallkit_subtitle {background-color: #EEEEEE;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;color: #000000;font-size: 11px;font-weight: normal;padding: 3px 5px 2px;}
.inputbutton, .inputsubmit {background-color: #3B5998;border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style: solid;border-width: 1px;color: #FFFFFF;font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;padding: 2px 15px 3px;text-align: center;}
a {color: #0078B3;text-decoration: none;}
.wall_time {display: block;font-size: 9px;padding-top: 2px;}
.wallkit_post .wallkit_actionset {border-bottom: 1px solid #D8DFEA;font-size: 9px;padding-bottom: 3px;}
.wallkit_form {background-color: #F7F7F7;border-bottom: 1px solid #CCCCCC;padding: 10px;}
element.style {display: none;}
.wall_captcha {margin: 0;padding-bottom: 8px;}
body {direction: ltr;font-family: "lucida grande", tahoma, verdana, arial, sans-serif;font-size: 11px;text-align: left;}
.wallkit_profilepic {float: left;width: 50px;}
.wallkit_postcontent {margin-left: 50px;padding-left: 5px;margin-top: -15px;}
h4 {background: #F7F7F7 none repeat scroll 0 0;border-bottom: 1px solid #D8DFEA;border-top: 1px solid #3B5998;font-weight: normal;padding: 3px 5px;font-size: 11px;}
.wallkit_actionset {border-bottom: 1px solid #D8DFEA;font-size: 9px;padding-bottom: 3px;}
.message {color: #3B5998;cursor: pointer;outline-style: none;text-decoration: none;}
.profile_pic {color: #3B5998;cursor: pointer;outline-style: none;text-decoration: none;}
/*End css forum*/