div.imagecaptionnew
{
     float: left;
    width: 60px;
	height: 60px;
    margin: 0 0em 0em 0em;
    padding: 1px 3px 3px 1px;
    display: inline;
    text-align: center;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background: url(chapter11c.gif) repeat-x 0 100%;
}
.photo-link {
	border: 1px solid #E0F2FB;
}
div.imagecaptionnew img
{
    border-color: #ffffff #ffffff #ffffff #ffffff;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}




.photo-link {
	border: 1px solid #E0F2FB;
}



