<table>
    <tr>
        <td>
            <% form_remote_tag :update => "search_result",:url    => { :action => 'search_travel'} do %>
            <input name="travel_name" size="30"/><%end %>
        </td>
    </tr>
</table>

<table id="search_result">
    <%for i in @res["ResultSet"]["Result"] %>
    <tr>
        <td colspan="2" align="left">
            <b><%=i['Title'] %></b>
        </td>
    </tr>
    <tr>
        <td>
            <img src="<%=i['Image']['Url']%>">
        </td>
        <td style="padding-left:10px;">
            <font face="lucida grande" style="size:11px;"><b>Summary:</b> <%=i['Summary'] %>
            <br/>
            Destinations: <%=i['Destinations'] %></font>
        </td>
    </tr>
   
	<tr>
		<td colspan="2" height="10">
			&nbsp;
		</td>
		</tr>
    <tr align="center">
        <td colspan="2">
            <div style="border-left:1px solid #46A2D0;border-right:1px solid #46A2D0;width:500px;height:1px;background-color:#46A2D0">
            </div>
        </td>
    </tr>
    <%end %>
</table>
