<div style="text-align:center;padding-top: 20px;">
  <iframe width="550" scrolling="auto" height="340" frameborder="no" allowtransparency="true" style="border:none;overflow:hidden;width:550px" src="http://www.facebook.com/plugins/registration.php?client_id=<%= App_ID %>&amp;redirect_uri=<%= REDIRECT_URI %>&amp;fb_only=false&amp;fields=[{'name':'name','view':'prefilled'},{'name':'first_name','view':'not_prefilled'},{'name':'last_name','view':'not_prefilled'},{'name':'email'},{'name':'password'}]"></iframe>
  <p style="text-align:center">
		By clicking <strong>Register</strong>, you agree to the <a href="/terms-and-conditions">Terms of Service</a>
  </p>
</div>
