<div class="subheader">
	<div class="inner_width clearfix">
		<div class="left">
			<h2>Supporter Sign Up</h2>
			<h3>Get started with our simple sign up</h3>
		</div>
		<div style="width:70px" class="right clearfix"></div>
	</div>
</div>
<div class="page">
	<div class="inner_width">
		<!-- <script language="javascript">$(function() {mpq.push(["track", "view.signup"]); });</script> -->						
		<div id="fb_signup" class="fb_vanilla_signup">
			<div id="fb_signup_optimizely" class="fb_signup_optimizely" style="float: left;width: 505px;">
				<div style="padding: 10px">
					<p style="height: 10px;"></p>
					<p style="font-family: 'lucida grande',Tahoma,Verdana,Arial,sans-serif; font-size: 18px; color: rgb(128, 128, 128);">
						<span style="font-size: x-large;">Once you finish signing up here, you will be able to:
							<br>
							<br>
						</span>
					</p>
					<p style="height: 20px;"></p>
					<p style="font-family: 'lucida grande', Tahoma, Verdana, Arial, sans-serif; font-size: 20px; display: none; "></p>
					<p style="font-family: 'lucida grande',Tahoma,Verdana,Arial,sans-serif; font-size: 20px;">
						<span style="color: rgb(0, 0, 255); font-size: large; position: relative; left: 1px; top: -27px;">Create a Personal Fundraising Page to raise money for your chosen cause
							<br>
							<br>
							Promote your cause via social networks
							<br>
							<br>
							Raise money and grow your cause</span>
					</p>
					<p style="font-family: 'lucida grande',Tahoma,Verdana,Arial,sans-serif; font-size: 20px;">
						<span style="color: #0000ff; font-size: large; position: relative; left: 1px; top: -27px;">&nbsp;</span>
					</p>
					<p style="font-family: 'lucida grande',Tahoma,Verdana,Arial,sans-serif; font-size: 20px;">
						<span style="color: #0000ff; font-size: large; position: relative; left: 1px; top: -27px;">&nbsp;</span>
					</p>
					<p style="font-family: 'lucida grande',Tahoma,Verdana,Arial,sans-serif; font-size: 20px;">
						<span style="color: #0000ff; font-size: large; position: relative; left: 1px; top: -27px;"><span style="color: #808080;">You can create your account with Facebook or use an email and password.</span>
							<br>
						</span>
					</p>
				</div>
				<p style="padding: 30px 0; text-align: center; font-size: 20px; color: #263b71;"></p>
				<div style="width: 200px; margin: auto;"><img src="" style="max-width: 200px; max-height: 200px;">
				</div>
			</div>
			<div id="fb_signup_register" class="fb_signup_register">
				<iframe width="550" scrolling="auto" height="340" frameborder="no" allowtransparency="true" style="border:none;overflow:hidden;width:550px" src="http://www.facebook.com/plugins/registration.php?client_id=<%= App_ID %>&amp;redirect_uri=<%= REDIRECT_URI %>&amp;fb_only=false&amp;fields=[{'name':'name','view':'prefilled'},{'name':'first_name','view':'not_prefilled'},{'name':'last_name','view':'not_prefilled'},{'name':'email'},{'name':'password'}]"></iframe>
				<p style="text-align:center">
					By clicking <strong>Register</strong>, you agree to the <a href="/terms-and-conditions">Terms of Service</a>
				</p>
			</div>
		</div>		
	</div>
</div>