<style>
	.editorkit_button {
        background-color: #3B5998;
        border-color: #D8DFEA #0E1F5B #0E1F5B #D8DFEA;
        border-style: solid;
        border-width: 1px;
        color: #FFFFFF;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 11px;
        margin: 0 2px;
        padding: 2px 18px;
    }
</style>
<div>
    <div style="width:70px;float:left;">
        Location: 
    </div>
    <div>
        <%=@locations = Location.find(:all,:select=>"id,name")
        select_tag(:location_id,options_from_collection_for_select(@locations, :id, :name),:style=>"width:140px;font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;font-size: 11px;") %>
    </div>
</div>
<div>
    <div style="width:70px;float:left;">
        Start time
    </div>
    <div>
 <%= calendar_date_select_tag "time_search", "", :style=>"width:130px;" ,:value=>"#{Time.now.strftime("%B %d, %Y")}",:valid_date_check => "date >= (new Date()).stripTime()" %>
    </div>
</div>
<div>
    <div style="width:70px;float:left;">
        end time
    </div>
    <div>
 <%= calendar_date_select_tag "time_search1", "", :style=>"width:130px;" ,:value=>"#{Time.now.strftime("%B %d, %Y")}",:valid_date_check => "date >= (new Date()).stripTime()" %>
    </div>
</div>
<div>
    <div style="width:70px;float:left;">
        &nbsp;
    </div>
    <div>
        <input class="editorkit_button" type="submit" value="Create trip"/>
    </div>
</div>

