<div class="dash_section">
  <div class="dash_section_links tabs2 dash_section_links_bignum">
    <a class="icon selected" href="/?campaign_id=BV5yYFzDMm"><i class="bigclock icon_hr"></i>Campaign Stats</a>
    <a class="bottom_separator icon" href="#setting" id="cause_settings"><i class="wrench icon_hr"></i>Campaign Settings</a>
    <a class="icon" id="toggle_page_visibility">
      <i class="eyeclosed icon_hr"></i> Disable  this Campaign
    </a>
    <a class="bottom_separator icon" href="/signup/campaign">
      <i class="shinyheart icon_hr"></i>Create New Campaign
    </a>
    <a class=" icon " href="/email/<%= current_campaign.id %>">
      <i class="envelope icon_hr"></i>Email
    </a>
    <a class="bottom_separator icon" href="/message_center?campaign_id=BV5yYFzDMm">
      <i class="bigcomment icon_hr"></i>Now Share This!&trade;
    </a>
    <a class="icon" id="edit_giving_levels"><i class="levels icon_hr"></i>Edit Giving Levels</a>
    <a class="icon" id="offline_donations"><i class="offline_donations icon_hr"></i>Offline Donations</a>
    <a class="icon embed_widget" href="/"><i class="bigsettings icon_hr"></i>Embed Donation Form</a>
    <a class="icon " href="/retrieve_funds?campaign_id=BV5yYFzDMm"><i class="coinbank icon_hr"></i>Retrieve Funds</a>
    <a class="icon" href="/api/cause/BV5yYFzDMm/donors"><i class="bigdownload icon_hr"></i>Download Donor Data</a>
  </div>
</div>