<div id="foter">
  <div class="iner">
    <div class="fotbox">
      <h2>About Majestic <span>Folio</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore e dolore magna aliqua. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute</p>
    </div>
    <div class="fotbox cent">
      <h2>Recent <span>Tweets</span></h2>
      <p><a href="">@baranmod</a> dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incid. <span>About 2 hours ago</span></p>
      <span class="sslash"></span>
      <p><a href="">@baranmod</a> aliqua. quis nostrud exercitation ullamco laboris nisi ut. <span>About 5 hours ago</span></p>
    </div>
    <div class="fotbox">
      <h2>Follow <span>Majestic Folio</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore e dolore magna aliqu</p>
      <a class="socfot1" href=""></a>
      <a class="socfot2" href=""></a>
      <a class="socfot3" href=""></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="slfot"></div>
    <span class="right"><a href="">Home</a> &nbsp;&nbsp; / &nbsp;&nbsp; <a href="">About us</a> &nbsp;&nbsp; / &nbsp;&nbsp; <a href="">Showcase</a> &nbsp;&nbsp; / &nbsp;&nbsp; <a href="">Contacts</a> &nbsp;&nbsp; / &nbsp;&nbsp; <a href="">Blog</a></span>
    &copy; Copyright 2011 <span class="red">Majesticfolio</span> &nbsp;&nbsp; / &nbsp;&nbsp; All rights reserved.
    <div class="clear"></div>
  </div>
</div>