<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Student Angel</title>
<%= stylesheet_link_tag "style", "ui-lightness/jquery-ui-1.8.16.custom", "custom" %>
<%= javascript_include_tag "jquery-1.6.2.min", "jquery-ui-1.8.16.custom.min" %>
<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="/assets/iehacks.css" />
<![endif]-->

<script>
  $(function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 37,
      min: 1,
      max: 700,
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
  });
</script>