<div id="top">
	<a class="logo" href="">Think<span> Difference</span></a>	
	<a class="soc1" href=""></a>
	<a class="soc2" href=""></a>
	<a class="soc3" href=""></a>
	<ul class="menu">
		<li><a class="selected" href="/majesticfolio/index.html">Home</a></li>
		<li><a href="/majesticfolio/about_us.html">About us</a></li>
		<li><a href="/majesticfolio/portfolio.html">Portfolio</a></li>
		<li><a href="/majesticfolio/blog.html">Blog</a></li>
		<li><a href="/majesticfolio/contacts.html">Contact</a></li>
	</ul>
	<div class="hstripeline"></div>
	<span class="heading">View all our best rated works and maybe choose something to buy!</span>
	<div class="clear"></div>
</div>