<!-- popUP - START -->
	<div class="pop popup01" style="display: none;">
	<div class="home">
    <a class="right close" href="#">
      <img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a>
    <a class="selected" href="">All works</a> / <a href="">Logotypes</a> /
    <a href="">Web design</a> / <a href="">Other works</a><div class="clear">
    </div>
  </div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup02" style="display: none;">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup03">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup04">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup05">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup06">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup07">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup08">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="pop popup09">
	<div class="home"><a class="right close" href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/close.gif"/></a><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a><div class="clear"></div></div>
		<div class="popslide">
			<a href="#"><img alt="" src="http://pogothemes.com/majesticfolio/img/ipad.png"/></a>
				<div class="dob">
					<a class="dots-active" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<a class="dots-pasive" href="#"></a>
					<div class="clear"></div>
				</div>
		</div>
		<div class="popside">
			<h3>Majestic  folio</h3>
			<a class="demo" href="#">view live demo →</a>
			<p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento re veritatis et quasi.</p>
			<p>Vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
			<a class="slidearr" href="#">←</a> <a class="slidearr" href="#">→</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
<!-- popUP - END -->
<div class="gone" style="display: block;">
	<div class="homefolio"><a class="selected" href="">All works</a> / <a href="">Logotypes</a> / <a href="">Web design</a> / <a href="">Other works</a></div>
	<div class="hbox">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home1.jpg"/>
		<a id="popup01" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<img class="bage" alt="" src="http://pogothemes.com/majesticfolio/img/bage.png"/>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="hbox">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home2.jpg"/>
		<a id="popup02" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="hbox hlast">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home3.jpg"/>
		<a id="popup03" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<img class="bage" alt="" src="http://pogothemes.com/majesticfolio/img/bage.png"/>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="clear"></div>
	<div class="hbox">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home4.jpg"/>
		<a id="popup04" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<img class="bage" alt="" src="http://pogothemes.com/majesticfolio/img/bage.png"/>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="hbox">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home5.jpg"/>
		<a id="popup05" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="hbox hlast">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home6.jpg"/>
		<a id="popup06" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<img class="bage" alt="" src="http://pogothemes.com/majesticfolio/img/bage.png"/>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="clear"></div>
	<div class="hbox">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home1.jpg"/>
		<a id="popup07" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<img class="bage" alt="" src="http://pogothemes.com/majesticfolio/img/bage.png"/>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="hbox">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home2.jpg"/>
		<a id="popup08" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="hbox hlast">
		<img class="mainimg" alt="" src="http://pogothemes.com/majesticfolio/img/home3.jpg"/>
		<a id="popup09" class="poplink" href="#"><img class="hovimg" alt="" src="http://pogothemes.com/majesticfolio/img/hover.png"/></a>
		<img class="bage" alt="" src="http://pogothemes.com/majesticfolio/img/bage.png"/>
		<h3>Lorem ipsum dolor sit amet</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisi</p>
	</div>
	<div class="clear"></div>
</div>