<div class="searchbg">
  <input type="text" class="inputctr" value="Search for a Student, School, or Event"/>
  <h1 class="heading">Need Money for School?</h1>
  <input type="submit" class="cpagebtn" value="Create a Page"/>
  <div class="clear"></div>
</div>
<div class="slider">
  <div class="sliderleft">
    <div class="heading">
      We make it easy to raise money for school
    </div>
    <ul>
      Lorem ipsum dolor sit amet, consectetur adipiscing  elit. ipsum dolor sit amet, consecteturipsum dolor sit amet, consectetur
      <li>Create Your Page</li>
      <li>Share Your Page</li>
      <li>Get Money For School</li>
    </ul>
    <div class="cpageblue"><a href="#">Create Your Page Now!</a></div>
  </div>
  <div class="slidercounter">
    <h2>Total Raised So Far</h2>
    <div class="counter">
      <center>
        <%= image_tag "counter.png" %>
      </center>
    </div>
    <input type="button" class="donationbutton" value=""/>
  </div>
  <div class="clear"></div>
</div>
<div class="leftctr">
  <h1>WE HELP ORDINARY PEOPLE RAISE
    EXTRAORDINARY AMOUNTS OF MONEY FOR CAUSES THEY CARE ABOUT.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa ante, vestibulum sed egestas non, tempor quis dolor. Praesent sit amet commodo augue. Aenean volutpat rutrum lectus, eu sodales massa accumsan in. Nam feugiat dolor ut nunc gravida congue.</p>
  <p>Suspendisse massa ante, vestibulum sed egestas non, tempor quis dolor. eu sodales massa accumsan in. Nam feugiat dolor ut nunc gravida congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat dolor ut nunc gravida congue.</p>
  <div class="cbuttons">
    Students
    <a href="#">Create a Page</a>
  </div>
  <div class="cbuttons1">
    Supporters
    <a href="#">Donate Now!</a>
  </div>
</div>
<div class="rightctr">
  <div class="rctr1">
    <div class="imagectr"><img src="/assets/image.jpg"/></div>
    <div class="sname">
      <center><b>Student Name</b></center>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <center><img src="/assets/progressbar.jpg"/></center>
    <div class="clear"></div>
  </div>
  <div class="rctr2">
    <div class="imagectr"><img src="/assets/image.jpg"/></div>
    <div class="sname">
      <center><b>Student Name</b></center>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <center><img src="/assets/progressbar.jpg"/></center>
    <div class="clear"></div>
  </div>
  <div class="rctr3">
    <div class="imagectr"><img src="/assets/image.jpg"/></div>
    <div class="sname">
      <center><b>Student Name</b></center>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <center><img src="/assets/progressbar.jpg"/></center>
    <div class="clear"></div>
  </div>
  <div class="rctr1">
    <div class="imagectr"><img src="/assets/image.jpg"/></div>
    <div class="sname">
      <center><b>Student Name</b></center>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <center><img src="/assets/progressbar.jpg"/></center>
    <div class="clear"></div>
  </div>
  <div class="rctr2">
    <div class="imagectr"><img src="/assets/image.jpg"/></div>
    <div class="sname">
      <center><b>Student Name</b></center>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <center><img src="/assets/progressbar.jpg"/></center>
    <div class="clear"></div>
  </div>
  <div class="rctr3">
    <div class="imagectr"><img src="/assets/image.jpg"/></div>
    <div class="sname">
      <center><b>Student Name</b></center>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <center><img src="/assets/progressbar.jpg"/></center>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div class="fb">
  <h3>Find Us On Facebook</h3>
  <div class="details"></div>
</div>
<div class="fb2">
  <h3>Recent Activity</h3>
  <div class="details"></div>
</div>
<div class="fb3">
  <h3>News From Students Angel</h3>
  <div class="details"></div>
</div>