<%for wall in @walls %>
<div class="wallkit_profilepic">
    <a class="profile_pic"><img alt="" src="<%=wall.url_pic%>"/></a>
</div>
<br/>
<div class="wallkit_postcontent">
    <h4 class="h4"><a><%=wall.user_name %></a> wrote <span class="wall_time">at <%=wall.date_write %></span></h4>
    <div>
        <font class="font_standand">
            <%=wall.content %>
        </font>
    </div>
    <!--<div class="wallkit_actionset">
    <a href="http://www.facebook.com/inbox/?compose&amp;id=619807631">Message</a>
    - <a class="delete" href="http://www.facebook.com/editwall.php?app_id=27160494913&amp;xid=test&amp;c_url=http%253A%252F%252Fapps.facebook.com%252Ftravelvietnam%252Fforums&amp;r_url=http%253A%252F%252Fapps.facebook.com%252Fmyapp%252Ftitans%252F&amp;cdel=44994&amp;action=delete&amp;sig=9d0710ca97f4b55662f3550bc5994558">Delete</a>
    </div>-->
</div>
<div>
    &nbsp;
</div>
<%end %>