<fb:fbml>
<fb:subtitle>Invite your friends to join Travel VietNam</fb:subtitle>
<div style="background-color:#f2fbdc;padding-bottom:0;margin-bottom:0">
<% join_button = CGI::escapeHTML "<fb:req-choice url='http://www.facebook.com/apps/application.php?id=#{@appid}' label='Join Travel VietNam'>" %>
<fb:request-form 
method="POST" 
invite="true" 
type="Travel VietNam" 
action="http://apps.facebook.com/travelvietnam/"
content="Let's join Travel VietNam so you can list your pants off! <%= join_button %>">

<fb:multi-friend-selector
rows="5"
exclude_ids="<%= @friends2exclude.join(',') %>"
showborder="false" 
actiontext="Here are your friends who don't have Travel Viet Nam. Invite them now!">
</fb:request-form>
</div>
</fb:fbml>
