<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Con Dao is an island off the southern coast of Vietnam.
           <br/><b>Understand</b><br/>
            Con Dao served as a prison island for political prisoners during the French colonial era, when it was known as Poulo Condore, and in later years the Saigon regime imprisoned opponents of the regime in the infamous cells known as the "tiger cages". The old prison buildings are still standing and are open to the public as is a small museum tracing the island's history.
            Besides having an interesting history, Con Dao is also an island of immense natural beauty with forested hills, deserted sandy beaches and extensive coral reefs making for some excellent diving.
            <br/><b>Get in</b><br/>
            There is a weekly(?) helicopter service from Vung Tau There is now a 7 times weekly fixed wing flight leaving from Ho Chi Minh City and Con Dao. It is run by [VASCO][1]and costs around US$80 return. There are many booking agents for VASCO flights in Vietnam's main cities. There is also a boat from Vung Tau which takes about 11 hours. The boat from Vung Tau only leaves on certain days and it is best to book a week before hand to get a seat.
            There are 2 points worth noting about these services: 
           <br/> * The airport on Con Dao is a long way from anything much else, so, arrange a hotel before you get there and get them to pick you up. 
          <br/>  * Both of these air services only allow 10kg free baggage (although excess baggage is pretty cheap by international standards). 
           <br/><b>Get around</b><br/>
            Bicycles and mopeds can be easily and cheaply rented from main hotels and there is relatively little traffic. Note: it is illegal to drive a motorised vehicle without a helmet.
            <br/><b> See</b><br/>
            Today Con dao has great historical import and attracts Vietnamese and increasing numbers of foreign tourists to the renovated prisons. Prisoners were kept in extremely overcrowded conditions on the island and as many as 20,000 are believed to have died here and this can be relived here. A guide from the nearby Revoltionary Museum is costs less than US$1 and includes an informative guided tour.
            Con Dao is part of a maritime and national park and is made up of 20 or so islands. The islands are mostly rugged and still have a lot of original forest cover and associated flora and fauna. The most famous indigenous animal is the dugong or sea cow although it is rarely seen. Several species of rare squirrel and apes are found here and there is an important breeding program for turtles on Banh Canh island near to Con Dao island.
            The islands have very nice beaches, great swimming and snorkeling opportunities and a very relaxed, colonial feel to them. Con dao is a nice antidote to the crowded cities.
            <br/><b> Do</b><br/>
            Con dao is one of the best places to dive in Vietnam. Visibility outsid ethe rainy season is very good and there is good coral around the various islands. Snorkeling trips can also be rewarding. Rainbow Divers is a reputable organisation that runs a dive-shop here and courses can be taken on the island.
            Trips to the turtle sanctuary can be arranged through the National Park office North of the main town. Overnight stays can be arranged. This office will also provide very detailed information about possible treks and walking opportunities but be aware the island has plenty of no go areas due to the large military presence here. It also means the island is very safe!
            <br/><b>Buy</b><br/>
            There is a good fruit and vegetable market in Con Son town that starts early - 6am or so. Prices are cheap and the locals don't seem to overcharge foreign purchasers.
            <br/><b> Eat</b><br/>
            The island is slowly starting to gear up for increased tourism. Currently there is decent and cheap food at the main hotels.
            <br/><b>Drink</b><br/>
            <br/><b> Sleep </b><br/>
            There are currently several relatively cheap resorts on the island although more are being built at time of writing. Con dao Resort has the nicest strip of beach and good sea views and prices are negotiable (US$30+). 
                </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"15"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
