<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Dalat, also Da Lat (Đà Lạt), located in the South Central Highlands of Vietnam, was originally the playground of the French who built villas in the clear mountain air to escape the heat and humidity of the coast and of Saigon, now know as Ho Chi Minh City.
            <br/>
            <b>Understand</b>
            <br/>
            Dalat looks like a cross between Vietnam and the French Alps. Many of its hotels and houses are built in a French style. The city spreads across a series of pine-covered hills, with a small lake in the center and surrounded by higher peaks, making for some lovely scenery quite different from the rest of Vietnam. Temperatures are pleasantly warm by day, and quite cool at night, down to perhaps 10C.
            Dalat is very much a tourist town. Tour buses by the dozen run up and down its hills, and small hotels line its streets. The vast majority of visitors are Vietnamese on short package tours, drawn by the scenery, vivid blue skies, fresh air, flower-filled parks, and local edible treats. Dalat is a favorite destination for company weekend outings, family get-aways, and honeymoons. Most guidebooks for overseas visitors describe Dalat as a cheesy town with tacky tourist sites, which is partly true. Attend a "mountain tribe" dance performance, and your eyes might get stuck in the upward-rolled position. But Dalat remains a pleasant stop on a north-south tour, or a pleasant outing from Saigon. For overseas visitors, it offers mostly a chance to cool down, observe the Vietnamese at play, view a bit of the French legacy, and enjoy the atmosphere. Dalat is also surrounded by some of the best mountain biking, hiking and canyoning opportunities in Vietnam.
            Dalat's high altitude (1500-2000 m) and fertile landscape make it one of Vietnam's premier agricultural areas, producing varieties of fruits, vegetables and flowers that don't grow in the lowlands. In markets as far north as Hanoi, vegetable and flower vendors will tout their "made in Dalat" produce.
            <br/>
            <b>Get in</b>
            <br/>
            Most local and foreign travellers arrive in Dalat by bus, particularly on the famous Sinh Cafe Hanoi-HCMC bus route. From Nha Trang, the bus ride is about 5 hours, with the obligatory stop at a dilapidated Cham temple/tourist site. From Ho Chi Minh City, the bus ride is about 6-7 hours.
            There are various travel agencies in the town that can book buses to all parts of the country.
            Alternatively, catch the local coach at HCMC, Bien Hoa, Phan Rang, Nha Trang or Buon Ma Thuot.
            The airport, 30 km south of the city, has daily Vietnam Airlines flights to HCMC and Hanoi.
            <br/>
            <b>Get around</b>
            <br/>
            Depending on where you stay, you can walk to most parts around town. You can catch a Xe Om (motorbike taxi) from most corners, so if you're going somewhere farther out of town, you have a fast way to get there. Taxis are also abundant and reasonable in price.
            You can also rent a motorbike by the day.
            Alternatively, see the Do | "Easy Riders" section, below.
            <br/>
            <b>See</b>
            <br/>
            Packaged day tours are easily purchased round town, which will take you to a variety of sites. (An indignity not uncommon in the developing world -- visitors from outside Vietnam are often required to pay double what Vietnamese pay for admission to many places when visiting individually.)
            <br/>
            Tours typically include a handful of stops like the following:
            <br/>
            * The summer home of the colonial-era king of Vietnam which is modestly interesting.
            <br/>
            * A striking, not-quite-finished fantasy house designed by the daughter of an independence war hero. Worth a visit if you are interested in architecture, or like Dr. Seuss-style surroundings.
            <br/>
            * A set of flower gardens centered around a re-constructed traditional Vietnamese teakwood house.
            <br/>
            * A hill-top pagoda coupled with a brief cable car ride over the pine forest.
            <br/>
            * A ride in a land rover up to the top of Langbiang mountain, with nice views of Dalat and the surrounding mountains and valleys. 
            Other sites of interest:
            <br/>
            * Ho Xuan Huong (Hồ Xuân Hương) aka Xuan Huong lake, center of town. Open daily, all hours. No admission fee but rental fees vary if you want to boat. Approximately 5km in diameter, this lake was made after two dams on the Camly river were destroyed during a storm in the 1930s. Now, Xuan Huong lake is one of the main draws of Da Lat, and you can see honeymooners and locals strolling its banks. Many nice hotels have a view of the lake. 
            <br/>
            * Da Lat market filled with local specialities: strawberry jam, fruits conserves, avocado, artichoke. 
            <br/>
            * Da Lat train station: take the steam train through the 17km historical line to Trai Mat, from there you can visit the Linh Phuong pagoda. 
            <br/>
            * Ho Suoi Vang (Golden Spring lake). Rather unspoiled scenery. 
            <br/>
            * Monastery, at the top of where the cable car drops you off. The monastery has a magnificent view over the dams below and its gardens are full of landscaped shrubs in animal form - very comic! Extremely peaceful - a great place to relax and soak in the tranquility. 
            <br/>
            * Lang Biang mountain. The 1,900m peak is reachable by a paved path, ideal for a 3 hours hike. Also visit the minorities village under the mountain foot. 
            <br/>
            * Thung Lung Tinh Yeu (Thung Lũng Tình Yêu) aka Valley of Love, Phu Duong Thien Vong street. Open daily until 5PM. Admission fee under US$1. About 5km outside of town, the Valley of Love is common stop on Dalat tours and is very popular with honeymooners. The Valley of Love is also a great spot for canyoning. See contact info below for canyoning operators. 
            <br/>
            * Lake of Sorrow or Lake of Sighs, 5km northeast of town on Ho Xuan Huong road. Admission fee under US$1. The Lake of Sorrow is another common destination in Dalat. The Lake of Sorrow is so-named because of a tale of two lovers, one who committed suicide after the other was called up to serve in the army. The exact tale changes depending on the age and gender of the storyteller! 
            <br/>
            * Tuyen Lam Lake (Hồ Tuyền Lâm), 5km south of town on highway 20. Its clean green waters flow from the beautiful Tia Spring and from the Da Tam River, which flows down from Voi mountain. Its waters stretch over an immense 350 hectares and because of its various sources, Tuyen Lam is known as the lake where rivers, springs and forests meet. The lake was built in the 80s. It is one of the largest and most beautiful lakes in town. The other side of the lake is the Voi mountain which is a good place for hiking. 
            <br/>
            * Prenn Falls, At the foot of Prenn Pass, about 10km outside of town. Open daily until 5PM. Admission fee under US$1. A very common stop on a typical Dalat tour, Prenn Falls is quite beautiful but is a lot more fun when you're hiking it than just taking pictures of it. 
            <br/>
            * Pongour Falls, 30km south of town on highway 20, it's one of the largest and widest waterfalls in Vietnam and during the wet season is a magnificent sight. From memory it's about 100+ metres wide. 
            <br/>
            <b>Do</b>
            <br/>
            * Easy Riders [1] (a motorbike and driver/guide) is a great way for a non-motorcyclist to tour the central highlands, providing access to places you would otherwise never know about. They speak good English, are from local villages, seemingly know everyone, and will probably find you before you find them. In the case they do not find you at a good time, many often hang out in the Peace Cafe, which is attached to Peace Hotel 1. You will know the driver is legit when you are presented with a book, full of praise from other excited tourists. From about US$20/person for an 8 hour tour, up to US$60/day for long distance multi-day trips, often including accommodation. 
            <br/>
            * Phat Tire Ventures, 73 Truong Cong Dinh , phone - 063-829422, fax - 063-820331, cell - 0918438781, info@phattireventures.com [2]. Trips run daily with extended trips outside Dalat also available. Founded by Brian and Kim Vierra, Phat Tire Ventures combines American technology and safety methods with local knowledge of trails and communities to deliver an outstanding adventure experience. Hike the highlands, making your way across sketchy bridges, to meet hill tribes that barely experience foreigners. Or, canyon the Valley of Love and enjoy the stunned faces of honeymooners as you pace with climbing gear over your shoulder. And, best of all, bike through coffee farms to Bao Dai palace or to the Bamboo forest and enjoy stunning views of Dalat's many lakes and rivers. 
            <br/>
            * Vespa Vietnam Adventures [3],highly recommended. This departs from Ho Chi Minh City. Couple: $US 3995, Single: $US 2785 
            <br/>
            * University of Dalat, 1 Phu Dong Thien Vuong Street. Students from the Hand-in-Hand Club are eager to serve as free guides. 
            <br/>
            <b>Buy</b>
            <br/>
            Most visitors to Dalat are Vietnamese, and most of them leave loaded with stuff. What they like to take home is dried and candied fruits, strawberry preserves, coffee, green and artichoke tea, local wine, dried venison, orchids, strawberries, avocados, and other fresh produce. If you take any sort of organized tour, chances are you will be off-loaded for a half hour at a shop selling these items. Local treats are also for sale in abundance in the large central market. Part covered and part outdoor, the market has dozens of small stalls selling also fruits and vegetables, clothing, and a wide variety of other goods. Strolling around the market is a favorite evening activity, and every night it buzzes with thousands of sweater-clad visitors.
            <br/>
            Dalat does not offer lot of high-end handicrafts of the sort favored by overseas tourists. Dalat is famous, however, for its beautifully crafted silk embroidered pictures, which can be purchased at a massive mark up from the many galleries around Dalat or at a fraction of the price from the central Dalat market.
            <br/>
            Dalat also has an abundance of fruit, vegetables and flowers available for purchase if you plan to stay for a few days and want to liven up your hotel room or cook your own meals.
            <br/>
            <b>Eat</b>
            <br/>
            Dalat has countless restaurants to serve the tourist crowds, but they are mostly oriented to packaged tours with strict budgets, and specialize in dishing out mediocre food to large groups. Finding good food in Dalat is not easy. Since nearly all visitors are Vietnamese, western food is scarce.
            <br/>
            * Dalat (Central) Market / Chợ Đà Lạt, center of town. Open daily until early evening. Given its breadbasket status, Dalat's Central Market place is the best place in town to eat fresh fruits and vegetables. Near the entrance, there is a lively and always busy vegetable restaurant that serves excellent soups. A tiny vegetarian food stall is located in a corner of the second level. 
            <br/>
            * Golf Course Pro Shop, open daily until about 8PM. If you are craving quesidillas and haven't had Mexican in the months you've backpacked through Asia, you will find what you're looking for at the Pro Shop. It's little bit out of the way, but the quesidillas, chips and guacamole are excellent. And, the beer is always cold. 
            <br/>
            * Dã Quỳ / Wild Sunflower Restaurant (49 Truong Cong Dinh) offers very high-quality French & Vietnamese cuisine at reasonable prices by Western standards. The owner is extremely lovely and helpful. We fell ill during our stay in Dalat and he made us simple broth everyday, even offering to deliver it to our hotel. 
            <br/>
            * Peace Café next to Peace Hotel 1 offers some of the cheapest (and tastiest) eats in Dalat.
            <br/>
            * Sunshine Town" (Ap Anh Sang) has traditional food quite cheap in clean surroundings, right out the circle.
            <br/>
            * Âu Lạc, Bui Thi Xuan Street, offers good vegetarian food. 
            <br/>
            <b>Drink</b>
            <br/>
            * Larry's Bar, 12 Tran Phu (at the base of the Sofitel Dalat Palace Hotel). Open every night. The Sofitel Dalat Palace was championed by Larry Hillblom, who saved the palace from obscurity and demolition and who also happened to have lots of American dollars to spend as the founder of DHL. Larry's Bar pays homage to Larry's Brit background. Library-style with dark wood paneling, darts and lots of good beer and nuts available. Great place to relax after a day of biking or hiking. 
            <br/>
            * Y-Niem Cafe and Nightclub, beautiful architectural design and exceptional service. 
            <br/>
            * Cafe Tung', really nice cafe. The delicious Vietnamese coffee costs 8000 dong and is served with tea. 
            <br/>
            <b>Sleep</b>
            <br/>
            Accommodation in Dalat is very reasonable in the 'off-season', for as little as US$4 per night for a perfectly presentable hotel room with double bed and ensuite.
            <br/>
            * Hoa Binh 1 Hotel, also known as Peace Hotel 1, is anything but peaceful, and fills to capacity on weekends. But staff are friendly, rooms are available from US$4/night, and there is a cafe next door. peacedalat@gmail.com 
            <br/>
            * Peace Hotel is where the Peace Cafe is in the LP. Has wi-fi and you can book breakfast for 1 additional dollar. Rooms from about 7 dollar. 8 dollar for street view. 
            <br/>
            * Golf 1 Hotel 3 star hotel at Dinh Tien Hoang Street, rates US$20-40. 5 minute walk to Xuan Huong lake and Dalat market. 
            <br/>
            * Golf 2 hotel 3 star hotel at 3rd February Street, located at the center of the city, 5 minutes to the Peace square, center of Dalat City. 
            <br/>
            * Golf 3 hotel 3 star hotel at Nguyen Thi Minh Khai Street, next to Dalat Market, 3 minute walk to Xuan Huong lake and Peace Square. 
            <br/>
            * Sofitel Dalat Palace Hotel the only 5-star hotel in Dalat, built with French architecture in the 1920s. It has beautiful garden, locates right at the central of the city, great view to Xuan Huong lake. It also has a 18-hole golf court, among the most beautiful in Vietnam. 
            <br/>
            * Novotel dalat 4-star hotel in dalat, built in 1930s also with Frech architecture right besides Sofitel Halat Palace Hotel.
            <br/>
            * Empress Hotel Dalat 5, Nguyen Thai Hoc Street, Lam Dong Province 
            <br/>
            * Ngoc Lan hotel4-star hotel in the center of Dalat city, on a poetic hill and overlooking the picturesque Xuan Huong lake, Ngoc Lan has been a favorite hotel of most travelers to Dalat for many years.
            <br/>
            * Hoang anh Dalat resort The resort covers five hectares, is comprised of six villas with 75 rooms in total.
            <br/>
            * Sofitel Palace hotel The Sofitel Palace Hotel, Dalat is set on sweeping lawns, sited along the picturesque Xuan Huong Lake.
            <br/>
            * Dreams Hotel 151 and 164B Phan Dinh Phung Street, clean rooms, friendly staff and full breakfast.
            <br/>
            * Try the Ngoc Quynh Hotel_2 Yersi, about 2km from the centre, good overview, cheap and also very friendly.
            <br/>
            * Or you may want to stay near the student centre, try the Sakura Hotel on Bui Thi Xuan Street. This street is full of cheap hotels.
            <br/>
            * In the centre, opposite the market, Nguyen Chi Thanh Street also offers cheap lodgings. 
            <br/>
            * Ana Mandara Villas Dalat Resort & Spa, ☎ 0084 (63) 555 888, [4]. Ana Mandara Villas Dalat Resort & Spa is a tranquil sanctuary nestled on the gentle slopes of Vietnam’s rural highlands. This five star resort houses 65 well-appointed guestrooms that are ensconced in 17 fully refurbished French colonial villas. Its room amenities includes air-conditioning, cable TV, Internet access, telephone, coffee/ tea maker, room safe, hair dryer, and toilet and bath with tub and shower. Le Lai Street, Da Lat, Vietnam. 
               </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"2"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
