<table width="670">
	    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Kontum is the capital of Kontum Province in Vietnam's Central Highlands.
            <br/>
            <b>Understand
                Kontum is a relaxed little town with few sights in their own right. What nevertheless puts it on the map of interesting places in Vietnam are the surrounding minority villages, including settlements of the Sedang, Bahnar, Jarai, Gieh Trieng and Rengao ethnic groups. Each village has a Rong, a huge and impressive communal house where the villagers gather for special occasions. Strangely enough, French catholics missionary work has been quite successful in this remote part of the country, rendering some of the minorities converts and leaving a few Christian vestiges.
                <br/>
                <b>Get in</b>
                <br/>
                <br/>
                <b>By motorbike
                    So-called Easy-Riders offer tours to the Central Highlands (Vietnam) starting from Da Nang, Dalat or Nha Trang. If the "real" Ho Chi Minh-Trail is part of your arrangement, you're likely to spend a night here. Easy rider from Nha Trang is best organised through their office: www.vutouradventure.com.vn
                    <br/>
                    <b>By bus</b>
                    <br/>
                    Bus ticket scam
                    Be warned that Kontum Province is the only province in Vietnam that has banned foreigners from purchasing bus tickets at the ticket office. In consequence you have to buy them directly form the bus-personnel, and bet they'll try to overcharge you badly! To get an idea of an appropriate price, remember the fare you paid from your origin to here. Prices are proportional to distance.
                    (Information as of February 2005)
                    Kontum's bus station is on the northern side of town, just off the highway.
                    Buses reach here from any coastal city between Da Nang and Nha Trang, while the neighbouring towns of Pleiku and Dac To are en route from Dalat/Buon Ma Thuot to Da Nang and thus see some through traffic. The local bus is dangerous as they race eachother down the mountains in order to collect the passangers (and their fare) first, and can overfill the mini bus to as much as double its capacity. The "high Quality" bus from Denang to Kon Tum is more comfortable, and does not overfill seats, however still provides a dangerous trip due to high speeds and little concern for other road users.
                    Pleiku 	Qui Nhon 	Buon Ma Thuot 	Nha Trang
                    Distance (km) 	49 	198 	246 	436
                    <br/>
                    <b>Get around</b>
                    <br/>
                    <br/>
                    <b>See </b>
                    <br/>
                    * Tan Huong Church is on the western End of Tran Phu. 
                    <br/>
                    * The Wooden or Montagnard Church is east of Tan Huong Church, was built in 1913 and restored in the 1990s. It is remarkable for its blending of local artistic tradition and Christian symbols: Bahnar villages, elephants, a scale model of a rong. 
                    <br/>
                    * A Bahnar Orphanage is just behind the church, visitors and donations are very welcome here. 
                    <br/>
                    * The Catholic seminary', 56 Tran Hung Dao, houses a small minority museum, but colonial-style building itself is well worth a visit. 
                    <br/>
                    * The area is also frequently visited by war veterans revisiting battlefields to the north. 
                    <br/>
                    <b>Do</b>
                    <br/>
                    Kontum's major draw is the villages of the indigenous hill-tribes (called montagnards by the French). It is strongly recommended to go with a guide, since he or she will be able to communicate in the minority language and keep you from inadvertently breaking taboos. Kon Tum Tourist, ground floor Dakbla Hotel, 2 Phan Dinh Phung, T: 060-861626, kontumtourist@dng.vnn.vn can make arrangements. If you are on a tight itinerary, it might be good to fix things beforehand, since they are often crowded with tour groups. Though some of the Bahnar villages actually form a part of Kontum's eastern and western edge, the ones farther away are more interesting. Highlights would be the different kinds of rong, the cemeteries of the Jarai and joining in a rice-wine party with the locals.
                    <br/>
                    <b>Buy</b>
                    <br/>
                    <br/>
                    <b>Eat</b>
                    <br/>
                    There is the usual selection of hole-in-the-wall restaurants or streetside stalls, mainly on Tran Phu, around the market and on the road running parallel to the river.
                    On the northern parallel to Tran Phu (Phan Chu Trinh?), just a few house from the corner with Phan Dinh Phung, there is a small vegetarian restaurant (an chay). They serve excellent fake-meat with dishes described as tuna-fish, chicken, crab and the like.
                    <br/>
                    <b>Drink 
                    All over town you'll find beautiful garden cafes to while away. 
                    <br/>
                    * Cafe Eva, 1 Phan Chu Trinh (eastern end) is home to a local artist and a lot of his oeuvre is on display in the graden and the three-storey house resembling a stilthouse. The place is a favourite amongst Vietnamese couples. 
                    <br/>
                    * Dakbla Hotel restaurant has a nice terrace from which you get excellent views of the sun setting over the Dakbla river. 
                    <br/>
                    <b>Sleep</b>
                    <br/>
                    <br/>
                    <b>Stay healthy</b>
                    <br/>
                    The Central Highlands are a high-risk region for malaria. Be sure to follow recommended precautions.
                    <br/>
                    <b>Stay safe</b>
                    <br/>
                    <br/>
                    <b>Get out</b>
                    <br/>
                    To Laos via Bo Y border crossing. 
                    From Kontum you can get to Attapeu or Pakse in Laos with a bus that leaves from Pleiku. Details about schedules and right bus stop could be asked from Kon Tum Tourist, ground floor Dakbla Hotel, 2 Phan Dinh Phung, T: 060-861626, kontumtourist@dng.vnn.vn  
                    More adventurous travellers can get a local bus to Ngoc Hoi and a moto ride to the border (about 20 km from Ngoc Hoi). On Laos side you might have to hitch a ride to Attapeu (120 km) as at least as of October 2007 there wasn't any public transport here. However, be warned that traffic on road going from Bo Y border crossing to Attapeu is very low and there isn't any villages or similiar before only 40-30 km before Attapeu. 
                            </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>
</table>
<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"16"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script language="JavaScript">
	$('clickload').click();
</script>
