<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
        <b>Understand</b>
        <br/>
        Nha Trang is Vietnam’s most famous seaside resort-town. It's more lively and urban in character than other beach destinations like Mui Ne and Phu Quoc. It's also the scuba diving center of Vietnam.
        Traces of human settlement in Nha Trang date back to the Cham Empire, though in times of Vietnamese rule, there wasn’t much more than small fishing villages. The French recognized that this beautiful bay, with its islands and white sand beaches, made for a perfect bathing spot, and began the transformation into a resort town. American soldiers agreed, and Nha Trang became a favorite vacation stop during the war.
        The monsoon season is from October to mid December. Sea winds can be heavy, and sometimes the weather can get pretty chilly. Summer, naturally, brings many vacation goers into town and hotel rooms get somewhat more difficult to find.
        <br/>
        <b>Get in</b>
        <br/>
        <br/>
        <b>By plane</b>
        <br/>
        Cam Ranh Airport (CRX), built on the grounds of an old American airbase in 2004, is located 30km from the city and serves only domestic destinations. Taxi fare from the airport to downtown locations is 260,000 dong (with Nha Trang Taxi Company - maroon color taxi),or Reserve Your Taxi Here 250-290000VND 4/7 Seated Car at Mail to Easy And Hassle Free Transport To Nha Trang (Express Service English-French) though many hotels have their own buses. A cheaper option is to take the airport bus at 70,000 dong to the city.
        <br/>
        <b>By train</b>
        <br/>
        Nha Trang is a stop on the main railway-line connecting Hanoi and Ho Chi Minh City (Saigon). The railway station is close to the cathedral in the northern part of town. If you want a soft-sleeper (the highest class available on Vietnamese trains), book your train ticket directly at the train station as far in advance as you are able. Having a private travel agent book this ticket will quite often result in you paying the agent for a soft-sleeper — the agent will book a hard-sleeper and you will not know until you board the train and it is too late to make changes. This is one of the most common scams in Vietnam!
        A new sleeper train is available from HCM City to NhaTrang and on to Hanoi. For $30 US (Saigon to Nha Trang Jan. 2009) book a soft sleeper on the Blue Train - much nicer and cleaner.
        <br/>
        <b>By bus</b>
        <br/>
        <br/>
        <b> By car</b>
        <br/>
        Private car rental with a driver are usually modern air-con cars and can be rented from US$45-75/day.
        Car rental prices (as mostly anything in Vietnam) usually increase during holiday seasons especially around Tet (Vietnamese’s New Year). Make sure to avoid high prices by booking it beforehand with the car rental services.
        <br/>
        <b> Get around</b>
        <br/>
        Today, most of the tourist infrastructure is in the southern part of town around Biet Thu, whereas most of the locals live around the Cho Dam in the northern quarters. Cho Dam Market is a popular destination for visitors as well, though.
        Tran Phu is the backbone of the city, accompanied by a pleasant waterfront promenade, palm trees and the nearly 6km of beach.
        Nha Trang has a reliable and easy to navigate public bus system, where the ticket fare does not exceed 3000 dong for a ride on a modern, air-conditioned bus with Vietnamese music. You will find buses nr. 3 and 2 the most useful, since they pass through the southern quarters. Alternatively, you'll find the usual selection of taxis, cyclos and motorbikes.
        There is no destination in Downtown Nha Trang that justifies a fare higher than 20,000 dong/person. Taxis are a good option, but be sure they turn on the meter to get the cheapest price.
        A wonderful option for seeing the sites is to hire a cyclo-driver for the day. I agreed upon a price for the entire day (Jan. 2009-USD$10 + tip) and my driver took me to all the in-town highlights, the post office, and my choice of restaurants from 8am-7pm. While English skills were basic, we were able to communicate. He also kept many of the touts away--a real bonus!
        <br/>
        <b> See</b>
        <br/>
        The beach is the main draw here. While not up to the standard of Thailand's white-sand finest, it's certainly pleasant. You will likely see many women vendors walking along the beach selling fruit and hot, steamed seafood.
        Make sure that you visit in the right season, though. The beach can be disappointing when the weather is grey and the waves choppy. The experience is then one of murky sandy waters, a strip of standard brown sand with a multitude of empty beach chairs and no one to be seen.
        The sites below can be toured in one day. 
        * National Oceanographic Museum of Vietnam, 01 Cau Da (on the left of the commercial port entrance), 058-590-037, [1]. Admission VND15,000. Open 7am-4pm. This is like an aquarium with popular and rare species of the sea. A perfect place to bring kids as they will get to see sharks, turtles, coral reefs, lionfish, sea horses, and many other creatures. 
        </br>
        * Alexandre Yersin Museum, 10 Tran Phu St., 058-822-355. Admission US$2. Mon-Sat 8-11am and 2-4:30pm. This is a scientific museum of a Swiss-born, Dr. Alexandre Yersin (1863-1943), who arrived in Vietnam in 1891 to study infected animals. He then later on produced a serum from horses and buffaloes. In this museum, you will be able to view all of his work as well as his equipment. Yersin never went back to Switzerland as he spent the rest of his life in Nha Trang. Don’t try to take pictures. Do respect the rules since they're quite serious here. 
        </br>
        * Long Son Pagoda, Thai Nguyen St. Free admission. Open 8am-5pm. At this pagoda, you will see a 79 ft. tall white Buddha. The pagoda was established in 1963 to honour the monks and nuns who died demonstrating against the Diem government. 
        </br>
        * Po Nagar Cham Towers, 2 Thang 4 St. Admission US$0.8. Open daily 7:30am-5pm. These towers were built by the Cham civilization between the 7th and 12th century to honor Yang Ino Po Ngar, mother of the kingdom. The local Buddhists of Nha Trang occupied this place for prayers and worshipping, and there are many incense lighted giving the place an interesting aroma. The Po Ngar Kalan is a very glorified structure with amazing architectures filled with stunning colors. It is a 20-25 minute walk from the main beach strip, however be prepared to wander through the 'real' Nha Trang, quite a shocking change from the showy built up beach side resort.Find US On Nha Trang Google Map. Website Nha Trang Map
        </br>
        * Fishing village, (Between the old and the new bridge.). The fishing village is located between the old and the new bridge. When the fishing boats are coming in or going out it is a beautiful sight. Well worth seeing! 
        </br>
        * Bao Dai Villa, (Near the oceanographic institute). The Bao Dai Villas are located on top of a small hill. You have a beautiful view of the Nha Trang bay from there. The wind is cool and it is a nice place to relax at when it is too hot in the city. 
        </br>
        * Vinpearl land, (Take the cable car...). From the harbour you can take the cable car over to the island where Vinpearl resort and Vinpearl land is located. They have a small tivoli and some restaurants, but the main thing here is the light and music show at night time. It is quite nice for beeing Vietnam. 
        </br>
        * Doc Let beach, (around 40 km north of Nha Trang). Doc Let beach is more tranquil, cleaner and beautiful than the beach in Nha Trang. It is well worth taking a tour there. Local fishermen families sell and prepare seafood which they will cook for you on the beach for a very reasonable price. 
        </br>
        * Cam Ranh beach, (On the road from Nha Trang to Cam Ranh airport). The road to the Cam Ranh airport is a very scenic road and worth going just to enjoy the scenery. As you have passed over the mountains there is a very long and nice beach (around 15 - 20 km from Nha Trang city center) which is clean and beautiful. You can buy seafood from small restaurants at the beach. 
        </br>
        * Yang Bay Waterfalls, (40 km west of Nha Trang). At the Yang Bay waterfalls the vietnamese have built up a concrete beach. It used to be a lot nicer before they built it but it is still a very nice place to visit. You can swim there, and walk around in the area. You should probably bring your own food and drink when you go there though. 
        </br>
        * Ba Ho waterfalls. 
        </br>
        * Fairy Spring waterfall. 
        </br>
        * Thap Ba Mud bath. 
        </br>
        * Bicycle tour in the country side. 
        </br>
        * Chong rock. 
        </br>
        * Nha Trang Cathedral. 
        </br>
        * Thanh Dien Khanh Fortress. 
        </br>
        <br/>
        <b> Do</b>
        <br/>
        * Boat Cruises – The going rate for a one-day multi-island tour is US$8, with snorkeling, fishing, and many other activities among the possibilities. Tours may provide lunch with drinks on board. Booking agents abound, so compare itineraries to find the best fit for you. 
        </br>
        * Sailing – Get a group together and rent out a captain for about US$40 for a best sailing experience. Call the Nha Trang Sailing Club, 058-826-528 for more information. 
        </br>
        * Relaxing – Thap Ba natural hotsprings: a must-have experience at an amazingly cheap price,(4$/pax) for the mineral pool and from 12.5/pax for the mudbath (incl.the mineral pool). More you are less it cost. Located on the outskirt of the city, this place provides the most relaxing services you can imagine (hot mud bath, mineral water bath and hot water pool and massages also available). 
        </br>
        * Live music at the cafes. Many cafes in Nha Trang have live music at night time. They vary in type and quality, so ask around. One favourite is Fuji cafe on Yersin street. They have live music thursday to saturday from 8.30 pm to 10 pm. A small entrance fee is added to the bill (around 30.000 VND)   
        </br>
        * Enjoy the fresh sea food. The sea food in Nha Trang is famous in Vietnam. All kinds of cuttle fish shell fish, fresh fish etc can be found and it is very delicious.   
        </br>
        * Bicycle tour on the country side.   
        </br>
        * River boat trip.   
        <br/>
        <b> Diving & snorkeling</b>
        <br/>
        Close off-shore from Nha Trang sit a series of islands that offer decent diving and snorkeling, easily accessible by day trip. The city has about two dozen dive shops, making for fierce competition and great values. For certification training, Nha Trang offers perhaps the best value in the world, with PADI open water courses available with full equipment rental for as little as US$200. A two-dive boat trip with equipment rental and modest lunch can be had for as little as US$25, also a phenomenal value.
        Coastal and undersea construction has stirred up a lot of sediment in the area, so under-water visibility is sometimes not great. The area is heavily fished, so fish life is also limited. You wouldn't cross the world just to dive at Nha Trang. But if you always dreamed of getting a scuba certification, Nha Trang is a great place to do it, and any diver passing through would enjoy a couple of dips. The shops generally offer good-quality equipment and experienced, certified dive-masters. Diving goes on year-around, but in the October-December windy season, the boat ride can be a bit rough and diving is limited to a few sites in the lee of the islands.
        Organization of the Nha Trang dive industry is sometimes complex. If you sign up for a trip with shop A, you might find yourself joined with a group and dive-master from shop B, which shares a boat with another group and dive-master from shop C, the boat itself being independently owned. Consolidation is especially active in the off-season, when few if any shops can fill a boat on their own. It's a good illustration of Vietnamese culture, which does not stand on ceremony, and loves a bargain, and is very skilled at making maximum use of resources. The local dive-masters are mostly great, friendly guys with lots of stories to tell. 
        * Jeremy Stein’s Rainbow Divers, 058-826-528, [2] is a high-touch, European-owned operation with partially expat staff. A two-dive boat trip costs US$50 (including water and fruit but not lunch), about double the best deals available in town (but much less than what Rainbow charges in other locations.) The operation is well-organized and very professional, catering to divers who aren't comfortable with the more low-key local shops. 
        <br/>
        * Angel Dive, 1/33 Tran Quang Khai, 58-522-461, is a mid-priced option run by a friendly French expat named Fred. 
        <br/>
        * Octopus Diving, 62 Tran Phu St., 058-810-629, [3]. 
        <br/>
        * Vietnam Explorer, 02 Tran Quang Khai, 058-524-490. 
        <br/>
        * Scuba Zone, 1/16 Tran Quang Khai, 058-3527-208, www.scubazone-vn.com. 
        <br/>
        <br/>
        <b>Work</b>
        <br/>
        * Travel to Teach [4] works with a project teaching English and computer use to the kids that sleep on the beach. Crazy Kim's Bar (see below) is the headquarters for the project.
        </br>
        * Volunteer in Nha Trang [5] Help NhaTrangLive to promote Nha Trang tourism and help the local community grow. Donate your salary to helping local children that can not afford to go to school get an education. [6] 
        <br/>
        <b> Buy</b>
        <br/>
        As mentioned above, make sure you bargain with these vendors. If you don’t, they will charge you an arm and a leg just because you are a tourist.
        <br/>
        * Bamboo, 15 Biet Thu St., 058-910-774. Open 8am-9:30pm. This is a popular T-shirt shop in the area. Lots of tourists visit this shop to get T-shirts. 
        <br/>
        * Groove Shack, 89A Nguyen Thien Thuat St., 058-524-738. Open daily 8am-10pm. This is the place to update your MP3 player, very good service and prices. 
        <br/>
        * Tashunco, 17A Biet Thu St., 058-827-035. Open 7am-10pm. This is a mini Western market where tourists can buy products like chips, cheese, soda, etc. 
        <br/>
        <b> Eat</b>
        <br/>
        * Restaurant at Long Son Pagoda, (At the entrance to Long Son PAgoda). The restaurant serves vegetarian food only. And it is one of the best restaurants in Nha Trang. The food is marvellous if you like Vietnamese food!   
        <br/>
        <b> Budget</b>
        <br/>
        * White House, 30B Nguyen Thien Thuat St., 058-524-438. Main courses US$6-8. Open daily 9am-11pm. This place has a very innocent atmosphere and it is very relaxing while you enjoy your Western food. 
        <br/>
        * Truc Linh, 21 Biet Thu St., 058-821-259. Main courses US$1-10. Open daily 7am-11pm. Both Asian and Western food can be found here. 
        <br/>
        * Lac Canh, 11 Hang Ca St., 058-821-391. Main courses US$1.5-8. Open daily 7am-7pm. What’s different about this restaurant is that you get to cook yourself. It seems that both locals as well as tourists love it. 
        <br/>
        * Lac Viet Quan Chay, Vegetarian, Huynh Thuc Khang St. just Southeast of market, 1 1/2 blocks Northwest from To Hienh Thanh St. Plate of mixed vegetable and tofu/veg meat dishes with rice or a bowl of noodle soup, less than US$1. Just a little humble place, but a nice option for vegetarians and it is right next to the market that might be worth having a look. 
        <br/>
        <b>Mid-range</b>
        <br/>
        * El Coyote Tex-Mex Restaurant, 76D Hung Vuong Street, ☎ 0 583 526320, [7]. Tex Mex El Coyote mexican restaurant for those with south of the border tastes. The first and only mexican restaurant in Nha Trang. Please stop in on your next visit to Nha Trang for a meal and a good time. Mexican style decorated, flush with paintings of American Indian Natives evocating the great sceneries of USA and northern Mexico. This restaurant/bar offers the only mexican food in Nha Trang. Corn tortillas, tacos and fajitas are homemade as everything else. Meet the owner, André, a metis of Vetnamese and Cheyenne (American-Native) origine, he will entertain your evening with intersting stories from Nha Trang (where he live since 8 years) and other parts of the world where he travel. He emphasis on food quality and flavor made this joint a distinct place to enjoy your favorite tex-mexican food! The chili Con Carne, fajitas and burritos are delicious! Recommended in every major travel guide! Find US On Nha Trang Google Map. Website Nha Trang Hotels Restaurant Map Find the Coyote Sign! 30,000-200,000.   
        <br/>
        * Le Petit Bistro, 26D Tran Quang Khai Street, ☎ 0 583 527201, [8]. In best tradition of small French Bistro, Le Petit Bistro offers affordable and fast, typical French Cuisine. One of the best selection of wines in Nha Trang makes this restaurant a popular venue to go for animated evening! Don't forget to eat the speciality of the house, Le Magret De Canard. Recommended in every major travel guide! Website Nha Trang Hotels Restaurant Map 30,000-200,000.   
        <br/>
        * Pasta House restaurant, 34 hung vuong Street, ☎ 058.3522206, [9]. Since 1999, Pasta House is a the only Nha Trang restaurant offering Indian food. In center and near the beach, Pasta House is open everyday. 28,000-67,000.   
        <br/>
        * Buffalo Steak House, 1/18 Tran Quang Khai Street. If steak is what you want, look no further. Fantastic food, nice atmosphere, cocktail bar, run by a French couple. The 70,000VND local beef tenderloin is great value for money. 70,000-250,000.   
        <br/>
        * Sailing Club, 72 Tran Phu St., [10]. T 058-826-528. Main courses US$3-10. Open 7am-11pm. This restaurant consists of Japanese, Indian, Vietnamese, and Italian food, giving you many varieties to satisfy your hunger needs. With many types of food offered, this place bound to be crowded and popular especially at night when it turns into bar. 
        <br/>
        * Good Morning Vietnam, 19B Biet Thu St., [11]. T 058-815-071. Main courses US$4.5-9. Open daily 10am-11pm. If you want to take a break from the Vietnamese cuisine, and change your appetite to Italian food, this is the place to go. On the menu are pasta dishes as well as other well-known Italian food. 
        <br/>
        * Nha Trang Seafood, 46 Nguyen Thi Minh Khai St., 058-822-664. Main courses US$2-14. Open daily 9:30am-10pm. Who ever would think seafood could be so cheap? Well, this restaurant serves fresh and scrumptious seafood any way you would like it. With an inexpensive price, everyone is here to enjoy their time. The service is also great just like their food. 
        <br/>
        <b>Splurge</b>
        * Ana Pavilion, Tran Phu Blvd., 058-829-829. Main courses US$7-20. Open 6am-11pm. This is a fancy restaurant located inside the Ana Mandara resort. The food and the service here is exceptionally well-done. It is an Asian/Continental type of restaurant, and it is the most excellent on the coast. 
        <br/>
        <b>Drink</b>
        <br/>
        Nha Trang at night offers plenty of clubs, music, and people.
        <br/>
        * Why Not Bar, 24 Tran Quang Khai St., 058-811-652. Open late. There is also a dance floor for whoever wants to dance. This bar is usually most popular after 2am (when the Sailing Club closes) and lasts until 4am. 
        <br/>
        * Guava, 17 Biet Thu St., . Closed at 1am. Music is great here, but it is more suitable for younger crowd. Expat bar with comfortable lounge seating and movies in the daytime. 
        <br/>
        * Jack’s Roof Terrace Bar and Restaurant, 96A/8 Tran Phu St., 058-813-862. Come to this bar for drinks and play some pool with other tourists. Attracts all ages. 
        <br/>
        * Crazy Kim Bar, 19 Biet Thu St., 058-816-072. Closed at 1am. If you are young and wild, this is the place to be. 
        <br/>
        * Nha Trang Sailing Club, 72-74 Tran Phu St. Open late. It is kind of an after party place everyone goes to when other bars are closed. There is a large area with pool table and a dance floor. If you don't want to pay the entry-get-one-drink-fee of 80'000 you can sneak in from the beach on the left side. 
        <br/>
        * SinhTo20, 20 Hoang Hoa Tham St., 058-3525-870. This place has a very good yogurt and many kinds of cocktails. Prices are very reasonable. 
        <br/>
        * The Pink Flamingo Rooftop Lounge, 3/2 Tran Quang Khai, ☎ 0 583 525 454, [12]. On the 5th floor of the Flamingo Suites' Ha Van Hotel, offering cheap beers (Saigon Beer at 15 000 VND, less than 1 USD) and basic drinks with a city view. Free Wi-Fi, too.   
        <br/>
        <b> Cafés</b>
        <br/>
        These 4 places are a free-alcohol zone. If you are not into the bar atmosphere, head here for some relaxation and a cup of coffee.
        <br/>
        There are a lot of cafes in Nha Trang. Use your own judgement in stead of recommendations below. Personally I would not recommend anyone to go to a cafe called Banana Split. Find your own favourite instead. They are all equally good.
        <br/>
        * Nha Trang Bakery and Tearoom, 99B Nguyen Thien Thuat, 058-85-562. 
        <br/>
        * Café Louisiane, Tran Phu St., 058-812-948. 
        <br/>
        * Banana Spit, 58 Quang Trung St., 058-829-115. 
        <br/>
        * Rainbow Bar, 90A Hung Vuong St., 058-524-351, [13]]. 
        <br/>
        <b> Sleep</b>
        <br/>
        Staying in Nha Trang can range from luxury suites in five-star hotels and spa resorts to motels. There are quiet numerous options offered for everyone depending on the size of their pockets.
        <br/>
        * Memento Resort, 15 Le Chan St.,Nha Trang, [14]. This resort is located in the country side around 15 kilomters west of Nha Trang. In the middle of the rice fields you will find this little family owned resort. If you like a traquil place and want to enjoy the country side, then this is the place for you. They don't have a swimming pool at the resort, so you will have to take a trip into Nha Trang to swim.   
        <br/>
        * 53 Yersin, 53 Yersin. This is a small mini hotel located in the middle of the city. It is not at the beach, but you have walking distance to the beach and to most sights in town. The staff is friendly and the rooms are clean.   
        <br/>
        * Vinpearl resort. Vinpearl resort is located on an island in the Nha Trang bay. You can get too and from the island by cable car.   
        <br/>
        <b> Budget</b>
        <br/>
        * Nha Trang Hotel, 127 Thong Nhat St., (058)3.820.476, [15]. A home-sharing living environment that allows visitor to stay over night for about $6. Breakfast and dinner included. Also has a travel information center with helpful suggestions. [16] 
        <br/>
        * Ha Thu, 64/2 Tran Phu., 058.522800. A budget hotel well worth the money, rooms starting at 6 USD per night. Rooms are clean, and staff is friendly. 
        <br/>
        * Blue House, 12/8 Hung Vuong St., 058-824-505. Staying here will make you feel more at home because it is structured like a shore house run by a family. They are very friendly and will welcome you warmly. Breakfast is provided and it is home cooked. Though there are only a few running the place, but the service is great. Your money is worth it here. Price ranges from US$6-13. 
        <br/>
        * La Suisse Hotel, 34 Tran Quang Khai St., 058-524-4353, lasuissehotelnt@dng.vnn.vn. This place has internet access for those who need to stay connected. At the top, you can enjoy the view of Nha Trang while sipping drinks at the bar. Overall, this hotel is friendly and the atmosphere surrounds this hotel is very much alive. Price ranges from US$20-40. 
        <br/>
        * Flamingo Suites Ha Van Hotel. 3/2 Tran Quang Khai St. Tel: 0583 524-454. Website: Ha Van Hotel, Nha Trang's Favorite Budget Hotel Email: Mail Us Today, Fast AnswersThe only Canadian managed budget hotel in town, we offer our guests clean and comfortable rooms with excellent services. Our staffs is honest, smiling and competent. No hidden fees, cheating, disapering objects or excessive commission on services here. All essential modern amenities available. Free Wi-Fi in all rooms (Good Signal/Speed). Downtown, One Block from the beach. From USD 18 to 25. Constantly at the top of Tripadvisor reviews for Nha Trang. Nha Trang Map To Download Here New: Our rooftop lounge is now opened, superb city view, cool breeze...good cuban/jazz/oldies music and inexpensive cold beers and drinks. Open from 5pm. 
        <br/>
        * Perfume Grass Inn, 4A Biet Thu St., 058-826-345, [17]. Family-run and flexible to travelers' needs. Within walking distance from all the bars and restaurants, too. Price range from US$15-25. 
        <br/>
        * Thanh Ngoc 2, 14 Tue Tinh (tel : 058-517759). Excellent value for money. Low-season prices starts from 8USD and all room all equipped with TV, hot-water, air-con and spacious beds. New building (2007) and clean rooms. 
        <br/>
        * Dream Hotel, 96A/7 Tran Phu (tel: 058-524 247). Located directly across from the water park, away from the central shops, bars, and restaurants. This 2 star hotel is clean, safe, and comfortable. The staff are not particularly helpful with only basic English skills. My stay in January 2009 exprienced major problems with the hot water for showers, elevator, and Internet connection. Although they advertise a roof top bar, this has closed. At USD$18-25, it is at the higher end of the budget hotels. The front room on each floor has an excellent balcony view of the water park and ocean, however this is a very noise street. A good choice if you are here to visit the water park, but not a good value for the money. All rooms include A/C, TV, and mini-fridge. WiFi does not actually work in all the rooms. Hourly Internet connections and computers are available in the lobby. 
        <br/>
        <b>Mid-range</b>
        <br/>
        * Que Huong Hotel, 60 Tran Phu Blvd., 058-825-047, [18]. Another hotel within the walking distance to the beach. There is a nice restaurant accompanied with a pool hall and some disco. Great amenities offered as well as the services. Price ranges from US$55-105. 
        <br/>
        * Nha Trang Lodge Hotel, 40 Tran Phu St., 058-810-500, [19]. For those who love the view of the ocean, this is the hotel to stay at. Most rooms overlook the beach giving you an extraordinary sea views. Rooms are equipped with phones, satellite TV, a minibar, etc. Service is great. Price ranges from US$60-170 per night. 
        <br/>
        * Vien Dong Hotel, 1 Tran Hung Dao St., 058-821-606, [20]. Price ranges from US$35-45. Well-known and affordable, with all the basic amenities needed plus some live entertainment at night. 
        <br/>
        <b> Splurge</b>
        <br/>
        * Nha Trang Hilton Bed & Breakfast, 058-820-476, [21]. It's is the only type of its kind, a bed & breakfast in Vietnam. Most lodging are in forms of resort and hotels, but this unique living arrangement; the Hilton Bed & Breakfast (not related to the Hilton Hotel) allows guest to interactive with the local Vietnamese and share in with their daily life & activities. This included the traditional morning walk to the beach (only 4 minutes away) for a morning dive into the warm bay. Then it is to the coffee table (street vendors) for a morning chat and taking in a new day. Back home for a big Vietnamese breakfast before helping one kid get ready for school. Then onto the road to drop off the little Ms. Nhi before exploring Nha Trang in your own personal car or motorbike. Other stay back to learn traditional Vietnamese cooking and prepare lunch for all guests. Yes, free cooking school. This include a trip to the local market for fresh produce, meat & fish. Lunch is a family thing and dinner is usually dinned at one of the many local restaurants or on a boat cruising the bay.
        <br/>
        * Evason Hideaway, 058-728-222, [22]. The only way to get to this resort is by speed boat to Ninh Van Bay. Price ranges from US$405-1,255 per night. This is more of a private resort, suitable for whoever wants to get away from everything to spend time relaxing with love ones. This resort lurks itself between the rocks and mountains and oversees the white sand beach. Dining is fabulous in the open air where the breezes slightly stroke through your hair. While taking your time to have a lovely dinner, the sun will slowly set, giving you a miraculous view of Nha Trang at night. Of course, there are many other amenities that are endless to meet your needs. You would think Evason Hideaway secluded enough? To make this resort even more secluded, they have added their own private beach located two bays over. So, if you would want more privacy, this is the beach to rent. The downside is you can only rent this for a day, but it will be worth it. 
        <br/>
        * Ana Mandara Resort, Tran Phu Blvd., 058-829-829, [23]. If you don’t mind the price, this is the spot to go all out and get the once in a lifetime royal treatment. It has been known to be the finest resorts in the region. Finest in all aspects from the setting of the place to the hospitality to the food and to the people. Available fine-dining restaurants where the food can alter to your own tastes. Of course, there are many other amenities that are endless to meet your needs. Price ranges from US$210-450 per night. The resort also offer great tours. Make sure you take advantage of that to learn more about the area and the culture. 
        <br/>
        * Yasaka Saigon-Nhatrang Hotel, 18 Tran Phu St., 058-820-090, [24]. This hotel is a Japanese and Vietnamese joint style. Service here is very friendly, and it has all the amenities you would need. What is good about this hotel is that it is just walking distance to the beach. Price ranges from US$100-355 per night. 
        <br/>
        * Sunrise Beach Resort Nha Trang, 12 Tran Phu St., 058-920-999, .[25]. This resort is all polished marble and white columns with 10 floors. It has a great view of ocean-side as well as the sky from its glass rooftop. Price ranges from US$140-500 per night. 
        <br/>
        * Diamond Bay Resort & Spa Nha TrangDiamond Bay, Song Lo 058-711711 (http//:www.diamondbayresort.vn) This extremely spaciously laid out resort hosted the 2008 Miss Universe pageant. Hotel rooms, suites and villas. Enormous pool (non chlorinated) spa, fitness, several restaurants & bars, tennis, expatriate exec. chef and expatriate GM. Two private beaches. Prices range from 125-600 USD per night. 
        <br/>
        <b> Contact</b>
        <br/>
        Internet access can be found in many hotels and through cheap internet cafes all over town. The farther away from Bien Thu, the cheaper the rates — 6000 dong/hour is the going rate at most places, although even cheaper can be found. When using the telephone at a hotel be sure to check what service provider they use. A Skype phone will cost a few dollars US for a lengthy phone call whereas a land line charges US$1 per minute. Be wary.
        <br/>
        Contact the Nha Trang Tourist information center at (84) 90.714.3404. It is a privately own business that provide free information to tourist and travels. They give away free city maps and allow people to use their wireless internet connect. the Nha Trang Information center can also be reached by search for NhaTrangLive on any major search engine.
        <br/>
        <b>Stay safe</b>
        <br/>
        In Nha Trang, the rate of crimes are not that high. Though, there are some petty crimes usually take place at night. The most common crime is pickpocketing which happens after midnight(look-out!, most of pickpocketing occurs on the beach near/at the Sailing Club). During the day, it is relatively safe. Still, staying cautious at all time is best. Don't wear too much jewelry, and keep an eye on your belongings. It would be smart to travel in groups when you are out roaming the streets at night. Also, people coming home from the clubs should take a taxi. There is a new service, provided by the government, which now has licensed motorcycle drivers outside of late night venues. These moto drivers have blue, numbered shirts and are safe to take you home.
        <br/>
        After the Bali bombs, the australians started to come to Vietnam. Every year there is more and more of them. Unfortunately, they are overrepresented in bar fights, trouble making and visiting prostitutes in Nha Trang. Watch out for them if you visit a bar. They often fight about prostitutes.
        <br/>
        <b>Cope</b>
        <br/>
        <b>Get out</b>
        <br/>
        There are several other beaches in the vicinity of Nha Trang. About 30 km north of Nha Trang, just when past the village of Ninh Hoa, a peninsula juts out into the South Chinese Sea, and on its northern coast rides its tinier brother, Hon Khoi. Several resorts are located on the eastern beach of Hon Khoi, where you find palm-trees, white sand and turquoise waters. To get there, follow the highway north past the turnoff to Dac Lac Province/Buon Ma Thuot. Then look out for a sign reading "Doc Let-Resort", close to a filling station. A taxi will take 2 persons for about 200,000 dong, while a Xe Om should not be more expensive than 100,000 dong. Or catch a through-bus plying highway Nr.1 and jump off at the turn off. There will always be some motorbike-drivers waiting to take you. Whatever place you choose to go, be sure to reserve a bungalow in advance.
        <br/>
        * Bai Dai (Long Beach) Email flamingosuites@gmail.com At 20 KM south of Nha Trang, this is best keep secret in town. Fantastic bleue water and a nicier (less steep and better sand) beach than in town. Come there to find fresh seafood serve at many shacks right on the beach. Find an almost deserted beach (except on VN holidays), a real romantic getaway! Best to go by motorcycle or ask your hotel to organise a taxi for you(and don't forget the pickup back). Walk a kilometer or so and you will find yourself alone on that fantastic beach. Do it now, I heard rumor that resorts are coming soon. More info at: " Places To Go In Nha Trang 
        <br/>
        * Doc Let Beach Resort, sign-posted; Tel. 058-849663, Fax 849506. The best known place and closest to the mainland. Though it started out as a traveller's secret, it quickly became a destination for domestic tourists, who basically flood the place during weekends and holidays. There is some socialist charm to the not so "white palm beach turquoise waters"-like architecture of the place, but it's definitely not the old Robinson-feeling you might be craving. 
        <br/>
        * Jungle Beach (84) 91-3429144 or local # (058)622-384,syl@dng.vnn.vn is reportedly slightly more upmarket, with prices being US$18.75 or 300,000 dong per person, even if you sleep on the beach or one of the beach side huts. Run by a Canadian-Vietnamese couple, all meal is included, and it's the most remote of the resorts here. 
        <br/>
        * Paradise Resort, Nha Nhi Thien Duong, follow the signs from Doc Let-Resort through Dong Hai-village, ☎ 0084-58-670480 (paradise_doclech@hotmail.com, fax: 0084-58-670479), [26]. Run by an elderly gentleman and his Vietnamese family. Vladimir is a very interesting, jovial guy and his family cooks up wonderful food. beers are cheap and you just mark a chit on a sheet on the refrigerator to keep track of your total. He is also a bit cheap, and may scrintch on the water supply to your bungalow. Just tell him to turn it back on! The beach in front is beautiful and usually deserted except for some village kids. It is very easy to sleep a week away there in a hammock kissed by sea breezes. Usually a wonderful bunch of travellers there to socialize with at meals and in the evenings. You can rent a motorbike in Nha Trang for the easy ride up to Doc Let. Any buses can also drop you on the main road for a 10 minute walk to Paradise. Vladimir will also drop you in Nha Trang on the back of his scooter if he's going into town. Bungalows are US$16-18 (US$11-14 for a single person), depending on how close they are to the beach. Meals are included, and prices for drinks are reasonable. Water, fruits, coffee and tea are free..   
        <br/>
        * Ba Ho (3 lakes) About 20km north of Nha Trang are a colection of 3 small lakes and scenic waterfalls. The entry cost is 10,000D and you may want to bring some sturdy shoes to climb across the rocks and swimming gear for a dip when you get there. Hire a taxi or take a motorcycle to get there. It will take about 45 minutes from the entrance of the tourist area to the lakes. There is an orphanage very close to the lakes (take a right turn when you get to a T-junction in the rice fields) that would really benefit from any gifts of vegetarian food (take milk, tofu, yoghurt etc). Call Dieu An, the nun on 0905 823807 - she speaks Vietnamese however. 
                   </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"1"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
