<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">            
                Phú Quốc is a large tropical island off the coast of Vietnam.
                <br/>
                <b> Understand</b>
                <br/>
                Phu Quoc is a very mountainous and densely forested Island of 1320 sq km, its 48 km in length from south to north and has a population of approx. 80,000 people. Situated in the Gulf of Thailand 45 km west of Ha Tien on the Vietnamese mainland and 15 km south of the coast of Cambodia, Phu Quoc is ringed with some of most beautiful beaches and best seafood in Vietnam. Phu Quoc Island served as a based for French missionary Pigneau de Behaine from the 1760-80s and at one time he provided shelter here for Prince Nguyen Anh (later Emperor Gia Long) when he was being hunted by the Tay Son rebels. During the Vietnam war there was little fighting here but the Island was used by the Americans as a prison for captured Viet Cong. Phu Quoc is not really a part of the Mekong delta and also doesn’t share the deltas extraordinary ability to produce rice & fruit due to its soil quality and inaccessible terrain. It is however home to the best Fish sauce (nuoc mam) in the world also reputedly known to produce high quality pepper and fantastic seafood. Another point of interest in Phu Quoc is the island's native dog; this dog was originally a wild animal and later trained as a hunting dog by local people. These days they are very domesticated and it's unusual to go anywhere on the island without seeing one of these dogs! These animals have unusually sharp teeth (as they tear their food when they eat it rather than bite) and have claws that over the years have been conditioned for catching their prey and are razor sharp.
                For the best information about what to do on the Island as well as a free Island/Town map, free Internet access, great NZ Ice cream & milk shakes head to Buddy Ice Cream & Info Cafe, 26 Nguyen Trai St, Duong Dong Town Tel: 077 3 994181.
                Phu Quoc is what Phuket would be if it hadn't been overrun by development. Phu Quoc island and its beaches was voted to be "The Most Cleanest and Beautiful Beach of World" by ABC News as from the end of February, 2008.
                Phu Quoc is famous for producing the best nuoc mam or fermented fish sauce in the world. It also has some of the best unspoilt beaches in South East Asia.
                <br/>
                <b>Get in</b>
                <br/>
                Visitors from any country arriving to Phu Quoc by cruise ship no longer need a visa for stays of up to 15 days. A passport with at least 45 days' validity is still necessary.
                Visitors arriving in Phu Quoc by any other means (eg. plane) are still subject to normal visa regulations.
                Visit www.DiscoverPhuQuoc.com for more immigration advice and all your transport information needs - there and back and around Phu Quoc Island!
                <br/>
                <b>By plane</b>
                <br/>
                You can fly from Ho Chi Minh City (Saigon) on one of four or five daily Vietnam Airlines flights or from Rach Gia which has two flights per day.<b>By boat</b>
                <br/>
                Alternatively there are ferries to Phu Quoc from Rach Gia and Ha Tien, these generally cost around 70,000 dong. There are also fast boats from Rach Gia that take approximately 2.5 hours and leave in the morning or the afternoon (last boat is around 1 PM). You may be told by tour agents that the fast boats are full, but if you go to the dock where the boats depart you may have the opportunity to buy tickets from street sellers. Do not expect to find taxis on arrival in Phu Quoc, though there will likely be a few motos. Minibus ply to the two main towns, but tickets are sold on the boat and sell out before arrival. Transfer can also be arranged through your hotel.
                <br/>
                <b>Get around</b>
                <br/>
                Walking One of the joys of the top-rated Long Beach accommodation options is that everything is so accessible. Base yourself at Mai House or the Tropicana and you can walk to everything and happily fill a three or four day holiday doing nothing at all. Camp down at La Veranda and you might not emerge. If/when you are ready to venture forth, then do it right….
                Moto’s There’s no doubt about it, if you’re young enough (at heart anyway) you’ve got to try seeing some of Phu Quoc on a motor scooter. They can be hired for $5 - $12 a day from your hotel/resort. There is no paperwork, no insurance and no deposits. You negotiate if you break or lose your bike. There is a request that you refill with fuel when you finish. Roads are mostly red dirt and full of pot holes. So there you have it, not entirely safe, but an awful lot of fun. Note: don’t fret too much if you run out of petrol or get a flat tyre. You’ll be amazed how fast a local will stop to help you. Puncture repair men are plentiful on the island and will leap at the chance to come to your aid for a small fee.
                Jeeps After a moto, your next best option is a Jeep with driver. Given you pay for petrol, it can work out a little more than a half or full day’s hire of a taxi, but well worth it. Call Jeep For Rent locally on 0939 402 872. $30 for 6hrs, $50 for 24 hrs. Alternatively, try Carole on 0773 8848 886 or Searama on 0773 994 577. For the best and most expensive jeep, call La Veranda on 0773 982 988.
                Taxi Taxis are plentiful for Long Beach but can be a tiresome delay further a field. Booking them by the day is often a better bet. They’re more expensive than you might be used to in Saigon. For short trips they are looking for 40,000 – 50,000. $30 should cover you for a day. Ask your hotel or try Le Giang on 0773 848 444 or 0913 788 262, or give Mr Tam a call 0913 197 298.
                Boat Saigon Phu Quoc Resort have their own large boat you can charter from Long Beach. Otherwise all resorts run tours with charter boats. Cost varies depending on number of passengers.
				<br/>
				<b> See</b>
                <br/>
                Best of the South of the Island Get out on a moto (motor schooter). Head east to pretty Ham Ninh Fishing Village. Contemplate buying pearls. Sample local seafood at Kim Cuong. Head on south and navigate your way to Sao Beach. Refuel with more seafood at My Lan restaurant on the beach. Head further south and have a wander around An Thoi. Head back up the stunning west coast road. Stop off at Phu Quoc Pearl Farm for coffee and good ice cream on your way home. This route is just as good if you start by heading down the coast road and then back via Ham Ninh.
                Make a visit to one of the fish sauce factories on the island.
                After dark - watch the chain of lights bobbing across the horizon as the local fishermen attach lamps to their boats to attract squid.
                There is also a special breed of dogs that live on the island. They are extremely similar to normal dogs except for the fact that they have 2 special markings on their back, where the fur goes in the other direction.
                <br/>
                <b>Do</b>
                <br/>
                Try to get out on a boat one evening for some squid fishing yourself. Make a visit to Phu Quoc National Park and swim in a quiet pool.
                Motorcycles are plentiful and cheap, hire one off a local and go cruising around the island. Petrol can usually be purchased around the island at various beaches served fresh in glass bottles.
                Also Bicycles is a great way to observe the island. You can rent a mountain bike for around 50,000 VND per day at Saigon Phu Quoc Hotel or some local shops (be sure to write 'xe dap' because few Vietnameses here could speak English well).
                Some beaches stretch for kilometres with overhanging palms, no one else in sight what more could you want?
                Try SCUBA diving. The shallow waters (max deep to 12-16m) allow even unexperienced divers to have nice dives. There is some nice coral to see and if you are lucky you might see a bamboo shark.
                Also, watching the sunset at Pho Bo Cafe, a 2 storey place with the best view overlooking the lighthouse and the shrine, is the most romantic activity for couples and artist.
                Later, try wandering around the night market (near Ferry landing in Duong Dong Town), where locals mingled with the tourists, a place that offered a selection of goods, pearls, seafoods, vegeterians, or even a playground for children.
                Visit www.DiscoverPhuQuoc.com packed with online information on activities and places of interest on Phu Quoc Island. Everything you need to know with free downloadable maps of Phu Quoc.
                <br/>
                <b>Eat</b>
                <br/>
                It has to be fresh fish. 
                * Buddy Ice Cream & Info Cafe, 26 Nguyen Trai St, Duong Dong Town, Tel: 077 3 994181.  
                * Eden Bar. Nice place to eat and go out, relax and listen to some music. The friendly owner Haba (who owns a simliarly named place in Saigon) welcomes you with tasty food and cold drinks while you sit at the beach. The prices are reasonable. 
                <br/>
                <b>Sleep</b>
                <br/>
                * Mai House, +84-773-847 003 [maihouseresort@yahoo.com]. Mai House is consistently ranked the #1 resort choice on the island on web sites with popularity index. Fourteen stylish, high quality thatched villas dotted around immaculate gardens on the beach. There's no air conditioning and no fridge in the villa's and no pool. The restaurant menu is good but limited. Despite this, most people who have stayed here, consider Mai House to be almost perfect. Villas: standard $45 low season, and $65 high season. Breakfast included. Booking can be tricky as owners Mai and Gerrard are not always responsive to booking enquiries during high season. Garrard's direct contact number is +84 918 123 796 should you have any difficulties. TNK travel and Travelfish are the main booking agents. 
                <br/>
                * La Veranda, 84-773-982 988 [contact@laveranda.com] [1] Thirty six rooms and villas spread around a pool and French style colonial main building. Standard and Superior rooms US$125 low season and $145 high season ! ! The wonderful one bed villas are better value at USA$165 low season and $185 high season, but these are owned by another hotel. 
                <br/>
                * Mango Bay Resort, Ong Lang Beach, ☎ +84 77 981 693 (mangobay@hcm.vnn.vn), [2]. A wonderfully peaceful resort spread between the sea on one side and a forest preserve on the other. The resort beaches are small, but the adjoining beach is as yet undeveloped for tourism and features a decent reef for snorkeling. This is a low-key resort, where the lawns are mowed by a herd of cows with wooden cowbells, and the spa opens directly onto the 'lawn' running down the sea. Bungalows are tastefully set back from the sea and separated from each other. There is a vegetable and spice garden on the property, and much of the food served is grown there. There are several styles of bungalows, each with its own connected outdoor bathroom. This place is the antithesis of your typical Phuket tour-bus resort. USD 45-60.  edit 
                <br/>
                * Long Beach's Ancient Village Resort & Spa, tel:84-773-981818, info@ancient-village.com, [3] contiunes with a 'soft opening' and will become the first 5-star resort on the island upon completion later this year. The restaurant offers themed dinners and serves a top-notch fusion of Vietnamese and Western specialties. Check with the hotel beofre booking as a number of guests have complained theat they were not aware that the resort is still under construction. MySherpa.info. 
                <br/>
                * Saigon Tourist Phu Quoc Resort, [http://www.sgphuquocresort.com.vn. The oldest large three/four star hotel on the island. 
                <br/>
                * Tropicana Hotel [4] - more laid back, and cheaper. 
                <br/>
                * Bargain Beach Bungalows. What's still very special about Phu Quoc is the availability of small resorts built right on the beach with 8 - 16 cabins all at less that US$40. 
                <br/>
                <b> Stay safe</b>
                <br/>
                On the island you can find a fantastic FREE Map available from places such as La Veranda, Rainbow Divers, Buddy Ice Cream & Info Cafe, Phu Quoc Pearl Farm & Cassia Cottage. This map provides visitors information on Phu Quoc as well as suggested itineraries and great places for accommodation, eating or tourist services.
                Your biggest risk on Phu Quoc is getting sick or being involved in an accident. When setting out on a moto trip always ensure you you have a basic first aid kit and have your hotel number with you. The mySherpa map available from most hotels contains emargency phone numbers for police, and ambulance and the hospital + what to do in an emergency. Keep these numbers with you at all times. Language is you major problem. If your hotel cannot assist then tour guides such as Tony, Anh Tu or Dung Tran may be able to assist you with translation - numbers also included on the Phu Quoc Map mysherpa.info
                <br/>
                <b>Get out</b>
                <br/>
                Ask your hotel for an island tour, which may include visits to a fish sauce factory, the Nature Reserve or the disused prison. 
                You can try a motorbike tour by yourself. Not all roads are good (some unpaved) but it is fun and the locals are really nice. In the far north corner you are able to see Cambodia. In the south are some really nice and quiet beaches.            
       </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
            <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>
</table>
<div style="display:none;">
    <% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"10"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
    <input type="submit" value="submit" id="clickload"/><%end %>
</div>
<script>
    $('clickload').click();
</script>
