<td style="cellspacing:0px">
    <table>
        <%for location in @locations %>
        <tr>
            <td>
                <%=image_tag "ajax-loader.gif",:id=>"img_#{location.name}",:style=>"display:none;" %>
                <%= link_to_remote "#{location.name}",:html=>{:id=>"link_#{location.name}"}, :after=>"$('link_#{location.name}').hide();$('img_#{location.name}').show();",:complete=>"$('img_#{location.name}').hide();$('link_#{location.name}').show();" ,:url => {:controller=>"travel_search", :action => "search_travel", :travel_name => location.name },  :update => "content_id" %>
            </td>
        </tr>
        <%end %>
    </table>
</td>
<% form_remote_tag :update => 'content_id', :url => {:controller=>"travel_search", :action => "search_travel",:travel_name=>"vietnam"} do %>
<input type="submit" id="button_id"/><%end %>
<script>
    document.getElementById('button_id').click();
</script>
