<% form_tag :action => 'login' do %>
<div>
	<span>Name</span>
	<span><input name="name"/></span>
</div>

<div>
	<span>Pass</span>
	<input type="password" name="pass" />
</div>
<div>
	<span><input type="submit" value="login"/></span>
	</div>
<%end%>