<% content_for :javascripts do %>
  <script  type="text/javascript" src="common/js/jquery.js"></script>
  <script type="text/javascript" src="common/js/menu.js"></script>
  <script type="text/javascript" src="common/js/jquery.cycle.all.js"></script>
  <script type="text/javascript" src="common/js/index.js"></script>
  <script type="text/javascript">
   $(function() {
    $('.sub-menu').hover(function() {
     $(this).parent().addClass('active');
    },
    function() {
     $(this).parent().removeClass('active');
    });
   });
</script>
<% end %>
<% content_for :stylesheets do %>
  <link href="common/css/style.css" rel="stylesheet" type="text/css" />
<% end %>
<div id="body_container">
  <div class="top_body_section">
    <!--banner container-->
    <div class="banner_container">
      <div class="tab_section">
        <ul class="tab"><li class=""><a href="#"><img alt="" src="common/images/small_thumb1.jpg"></a><span></span></li><li class=""><a href="#"><img alt="" src="common/images/small_thumb2.jpg"></a><span></span></li><li class=""><a href="#"><img alt="" src="common/images/small_thumb3.jpg"></a><span></span></li><li class="active"><a href="#"><img alt="" src="common/images/small_thumb4.jpg"></a><span></span></li><li><a href="#"><img alt="" src="common/images/small_thumb5.jpg"></a><span></span></li></ul>
      </div>
      <div class="banner_section">
        <div class="slideshow" style="position: relative; width: 452px; height: 416px;">
          <div class="banner" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0;">
            <img alt="" src="common/images/banner1.jpg">
            <div class="banner_details">
              <h3>UNIVERSITY OF MINNESOTA JOINS SA!</h3>
              <p>The University of Minnestoa has partnered with the Student’s Angel Family;
                helping 50 freshman enroll in the university for Fall 2013 <a href="#">&gt;&gt;Read Morer</a> </p>
            </div></div>
          <div class="banner" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 452px; height: 416px;">
            <img alt="" src="common/images/banner2.jpg">
            <div class="banner_details">
              <h3>UNIVERSITY OF MINNESOTA JOINS SA!2</h3>
              <p>The University of Minnestoa has partnered with the Student’s Angel Family;
                helping 50 freshman enroll in the university for Fall 2013 <a href="#">&gt;&gt;Read Morer</a> </p>
            </div></div>
          <div class="banner" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 452px; height: 416px;">
            <img alt="" src="common/images/banner3.jpg">
            <div class="banner_details">
              <h3>UNIVERSITY OF MINNESOTA JOINS SA!3</h3>
              <p>The University of Minnestoa has partnered with the Student’s Angel Family;
                helping 50 freshman enroll in the university for Fall 2013 <a href="#">&gt;&gt;Read Morer</a> </p>
            </div></div>
          <div class="banner" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 6; opacity: 0; width: 452px; height: 416px;">
            <img alt="" src="common/images/banner4.jpg">
            <div class="banner_details">
              <h3>UNIVERSITY OF MINNESOTA JOINS SA!4</h3>
              <p>The University of Minnestoa has partnered with the Student’s Angel Family;
                helping 50 freshman enroll in the university for Fall 2013 <a href="#">&gt;&gt;Read Morer</a> </p>
            </div></div>
          <div class="banner" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1; opacity: 0;">
            <img alt="" src="common/images/banner5.jpg">
            <div class="banner_details">
              <h3>UNIVERSITY OF MINNESOTA JOINS SA!5</h3>
              <p>The University of Minnestoa has partnered with the Student’s Angel Family;
                helping 50 freshman enroll in the university for Fall 2013 <a href="#">&gt;&gt;Read Morer</a> </p>
            </div></div>
        </div>
        <div>
          <div class="pagging">
            <ul class="number">
              <li class=""><a href="#"></a></li>
              <li class=""><a href="#"></a></li>
              <li class="active"><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right_banner_section"> <span class="right_top_section"><img alt="" src="common/images/ge_move.jpg"></span>
      <div class="succes_story_box">
        <div class="left_succes_box"> <span class="img_box"> <img alt="" src="common/images/succes.jpg"></span>
          <p>Jared O’Brien shares his Success Story
            of how  Student’s Angel helped him pay
            for college and <br>
            land a job at Google.</p>
        </div>
        <div class="right_succes_box">
          <p> <strong>$40k</strong> Jared O’Brien,
            Berkeley, CA</p>
          <img alt="" src="common/images/succes_story.jpg"> </div>
      </div>
    </div>
  </div>
  <!--bottom body section-->
  <div id="bottom_body_section">
    <div class="haading"><img alt="" src="common/images/heading.jpg"></div>
    <div class="bottom_body_details">
      <ul>
        <li>
          <div class="details"> <span class="img_box"><img alt="" src="common/images/rise_fund.gif"></span>
            <div class="img_details">
              <h3> Raise <br>
                Funds</h3>
              <p>Use our unique Raise Funds
                Feature to raise money for your
                education.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="details"> <span class="img_box"><img alt="" src="common/images/scholership.gif"></span>
            <div class="img_details">
              <h3> Enormous <br>
                Scholarship Base </h3>
              <p>We have a base of millions of scholarships that can help you
                pay for school.</p>
            </div>
          </div>
        </li>
        <li class="last">
          <div class="details"><span class="img_box"><img alt="" src="common/images/community.gif"></span>
            <div class="img_details">
              <h3> Online <br>
                Community</h3>
              <p>An existing community of Feature students, professors, professionals, and schools.. </p>
            </div>
          </div>
        </li>
        <li class="first">
          <div class="details"> <span class="img_box"><img alt="" src="common/images/matching.gif"></span>
            <div class="img_details">
              <h3> Advanced Matching <br>
                System </h3>
              <p>We grant access to a huge base of millions of scholarships that can help you pay for school.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="details"> <span class="img_box"><img alt="" src="common/images/clander.gif"></span>
            <div class="img_details">
              <h3> Organization &amp; <br>
                Calendar Feature </h3>
              <p>Helping you stay on track with your school applications, tasks, club meetings, events, and more.</p>
            </div>
          </div>
        </li>
      </ul>
      <span class="sign_up"><a href="/users/sign_up"><img alt="" src="common/images/sign_up_btn.jpg"></a></span> </div>
  </div>
</div>