<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Can Tho (or Cantho; Vietnamese: Cần Thơ) is a relatively large city in the heart of the Mekong Delta, in Vietnam.
            <br/>
            <b>Understand</b>
            <br/>
            Can Tho has a tremendous reputation for being a welcoming place, where everybody is smiling and welcoming. Indeed the Vietnamese in the Mekong Delta are making good a saying that goes:
            <br/>
            <b>"Cần Thơ gạo trắng nước trong
                Ai đi tới đó lòng không muốn về"</b>
            <br/>
            <br/>
            <b>"Can Tho has white rice and clear water
                Once being there, your heart won't leave."</b>
            <br/>
            Can Tho has a population well in excess of 1 million and is the biggest city in the Mekong Delta. Although developing fast (about 10% growth in 2004), it retains its charm as the center of a rural area, as the urban development is taking place in a rather orderly manner.
            <br/>
            <b>Get in</b>
            <br/>
            <br/>
            <b>By road</b>
            <br/>
            By road, allow about 1.5 hours from Sóc Trăng, about 3 hours from Châu Đốc, about 3.5 hours from Rạch Giá, about 5 hours from Ho Chi Minh City (85,000 dong), about 6 hours from Cà Mau and about 1.5 hours from Long Xuyen.
            <br/>
            It is possible to rent a car for US$110-130 for a return trip for 2-3 passengers from Ho Chi Minh City to Can Tho; or move by local minibus, which offer better and better services; for about US$5-8, and departing every hour or so from the Ho Chi Minh City western bus station (Bến Xe Miền Tây, Xa Cảng).
            <br/>
            It is also possible to rent a taxi for about almost the same price than a car for 1 way from Ho Chi Minh City to Can Tho. Try hiring a Vina Taxi outside of the tourist areas (District 1) for this kind of traveling, you will be surprised about the rate differences a trip outside of district makes.
            <br/>
            <b>By boat</b>
            <br/>
            The only boats traveling to Can Tho (or Chau Doc) from Ho Chi Minh are the Victoria Hotel speedboats, restricted to guests of the Victoria Hotel chain, and other multi-day tour options. All other companies have closed these routes. (Please check this information as Victoria Hotel does not run boats on his own but using third party companies services --Cà Phê Ðá 04:22, 26 September 2008 (EDT)).
            <br/>
            Thanh Nhan Express also runs between Ho Chi Minh and Ninh Kieu pier-Can Tho (250,000 dong as of december 2008) and will take you 3.5 hours. ( 1pm leaves at Can Tho and 8:00am leaves at HCM city almost daily, possibly two trips each way on high season).
            <br/>
            Ticketing Booth: Can Tho: 2 Hai Ba Trung Street 0710 817817 Ho Chi Minh: 2 Ton Duc Thang Street 08 914 7979
            <br/>
            <b>By air</b>
            <br/>
            Trà Nóc Airport (IATA: VCA|ICAO: VVCT) is currently being expanded and upgraded to international status, with completion for international flights due in 2010.
            <br/>
            As of 2009, the airport is connected only to Hanoi, with daily flights on Vietnam Airlines and four times weekly service on Jetstar/Pacific.
            <br/>
            <b>Get around</b>
            <br/>
            Can Tho is a regional hub, so it is rather easy to get to and from all the surrounding provinces.
            <br/>
            * by bus or minibus, from the bus station, now located at the crossroads of Nguyen Trai (Nguyễn Trãi) and CMT8 (Cách Mạng Tháng 8), but soon to be relocated to 91B 3/2 (Chín mươi mốt B Ba tháng hai)
            <br/>
            * by boat, there are rather affordable services of speedboat
            <br/>
            * by xe lôi 
            * on foot (đi bộ) 
            <br/>
            <b>See</b>
            <br/>
            * The Khmer pagoda of Munirangsyaram, on Hoà Bình street, where you will always be welcome. 
            <br/>
            <b>Local markets</b>
            <br/>
            The main market of Can Tho used to be located on Ninh Kiều pier, and be mostly an open market. Today, the only original building left is the beautiful old market hall, now surrounded with a garden along the river.
            <br/>
            New markets have been built to host the increasing activity, on Cái Khế peninsula and further upstream the Can Tho river.
            <br/>
            <b>Floating markets</b>
            <br/>
            The floating markets are a very lively scenery, accommodating much of the goods exchange on the area, and can be quite freely visited on board smaller boats, for about US$3/hour per small boat. You may take a tour from the Ninh Kiều pier, in front of the Nam Bộ restaurant, where the "boat ladies" are always eager to charm you into taking theirs.
            <br/>
            * Cai Rang (Cái Răng) floating market is the main wholesale floating market near Can Tho. Go there early (start no later than 06:00), and come back through the small tributaries to Can Tho river; about 3-4 hours. The Mystic sampans offer higher-end breakfast cruises to Cai Rang floating market. 
            <br/>
            * Phong Dien (Phong Điền) is further upstream the Can Tho river, and worth seeing as it is a retail market. It is very active at dawn, but slows down early too, so you may like to go there on the land. The arroyos back from there to Can Tho are also very much worth a ride on a small boat. 
            <br/>
            * Phung Hiep (Phụng Hiệp) is much farther away, in the neighboring Hậu Giang province, but deserves a trip if you are going to stay more than a few days, as it is always bustling with activity. 
            <br/>
            * Tra On (Trà Ôn), in Vinh Long province, is just over an hour downstream the Bassac (the lower Mekong branch, also called Hậu Giang or Sông Hậu). It is a small floating village's market anchored near the clouds' island (Cù Lao Mây). 
            <br/>
            <b>Canals</b>
            <br/>
            The canal system around Can Tho is a fascinating travel network, much more relaxed than the bustling roads. Hire a small row boat (probably with a small diesel motor as well) that can take you through the small canals that the larger tour boats can't. Tours from 6am to 2pm, including two floating markets and various sites along the canals, can be found for under 250,000 dong per person.
            <br/>
            <b>Do</b>
            <br/>
            * The Bassac [1] wooden cruisers run regular overnight trips between Can Tho and Cái Bè, and provide high-end services including non-stop air-con and all meals cooked on board. 
            <br/>
            <b>Buy</b>
            <br/>
            There are many supermarkets in Can Tho such as : Coopmart (Hoa Binh Street), Metro Hung Loi (91B)[you need a special registration card to shop here], Citymark, Maximark, Vinatex Plaza...
            <br/>
            Can Tho main market at Cái Khế is a really typical and colored place where you will find a true Vietnamese market.
            <br/>
            <b>Eat</b>
            <br/>
            Can Tho is famous for delicate cuisine and extra-fresh fruit and vegetables, and a good place to try and eat the fruit you would not usually like: you may well find they are very tasty and enjoyable.
            <br/>
            Among the local produce, you may like to try mangoes, oranges, jackfruit, pomeloes, grapefruit, but also custard apple, corossol, longans or even durian.
            <br/>
            * Nam Bo (Nam Bộ) is seated in an old French-era building of the Comptoirs d'Indochine, and serves very tasty Vietnamese as well as some Western cuisine such as pizza and spaghetti. The service is nice and efficient, and a surprising variety of languages is spoken there, from English to French to Dutch and even some Japanese. 
            <br/>
            * Sao Hom (Sao Hôm) is located in the central market's hall, facing the Can Tho river, and serves a large palette of Vietnamese cuisine, as well as some western food, too. The ambiance at night is unique. 
            <br/>
            * Golf Hotel is now offering a lunch buffet for 30.000VND. The place is not really pleasant but quiet and air conditionned. More important, quality and choice for the meals are ok. 
            <br/>
            * In Cái Khế ward, Phở Cali (Trần Văn Kéo street, close to the central market in front of the Exhibition Center) and the Citimart supermarket Fast Food (Nguyễn Trãi street, at the crossing with Trần Văn Kéo street) offers good vietnamese and western meals in clean and air conditionned places for reasonnable prices. 
            * Some restaurants more aimed at serving vietnamese guests but that can offers a more exotic and delightful experience to foreigners have recently appeared. The Sông Hậu on the 3rd February street close to the University (Đường 3/2) or the Alô 100 on CMT8 road not far from the ferry (Đường Cách Mạng Tháng 8) provide a nice environment, varied meals and affordable prices for a service that is still improving. 
            <br/>
            * Dat Phuong Nam (Black Beer Restaurant in Can Tho - Address : 132/11 Ba Thang Hai Str , Can Tho City ) is a first Germany Beer Restaurant in Can Tho - Very Good but more aimed at serving vietnamese guests since located in a small lane of a remote area. 
            <br/>
            * Goat Specialties (Lẩu Dê Thanh Thuý) is a little aside of the city, and run by a French person who settled in Can Tho who offers a variety of dishes revolving around savory goat meet. 
            <br/>
            There are also a variety of other restaurants, the quality and service of which spans the whole range from poor to great.
            <br/>
            * Dog meat (Thịt cầy Trần Văn Hoài), ngon hết biết !!! 
            <br/>
            * Duck soup (Vịt nấu chao Hẻm 1), ngon hết sảy !!! 
            <br/>
            <b>Drink</b>
            <br/>
            Vietnamese people are used to enjoy drinking coffee (in fact sugar, strong coffee and a lot of ice), fresh coconut juice, or other drinks (lemon juice, orange juice) in one of the many small bars along the streets or the markets.
            <br/>
            If you want to spend some hours just as Vietnamese would do, the best places certainly are on the river side. The most famous ones could be near the Ninh Kiều peer. Just in front of the three stars Ninh Kiều hotel, there is a popular and really affordable place but it is sometime crowded, especially when students have free time.
            <br/>
            A bit more difficult to reach, but really typical, the Bãi Cát pier (former beach on the Mekong) is a really good spot to have an eye on the boats cruising on the main river.
            <br/>
            There's a good family owned and operated Cafe, locally known as "Cafe Buu Dien" (Post Office Cafe). They have the best coffees, and an interesting atmosphere. The servers holler your orders to the back, and in a couple of minutes you get fresh coffee in a warm mug. Its extremely fast paced, but at the same time very relaxing. They have locations throughout Can Tho, but hop on any xich lo or taxi and just tell them to take you to a "Cafe Buu Dien" and they'll know where to go. My favorite location is the one in Cai Khe ward, known as "Cafe Bich Phuong".
            <br/>
            <b>Sleep</b>
            <br/>
            There is a wide range of services, from the very local KS Tây Hồ (on Ninh Kiều pier, a good choice for US$12-15), to the state-owned (and state-like) International Hotel, US$25-35, to the recent and more elaborate Ninh Kiều 2 Hotel, on Hòa Bình street, owned by a military company.
            <br/>
            Kim Thơ hotel offers a 3 star accommodation close to the Ninh Kiêu peer which is the town center where are most of the restaurants, bars and tourstic places of interest. It is clean, cosy, recent and located in a quiet street (Ngô Gia Tự) not far from the speed boat peer.
            <br/>
            GREEN HOTEL located in 31 Chau van Liem street, Ninh Kieu dist, a best choice, friendly and comfortable for US$15-25, PHONE:0913 764 994. Here, you can relax and take care of your health for spa, massase, bar and drink coffee. Or walking by foot to Ninh Kieu Quay and sight seeing of Hau poetic river- Mekong delta with 2 minutes.
            <br/>
            SPRING HOTELlocated in 22 Khu Dan Cu So9 Duong 30/4.Have to recommad this *very* clean and friendly place.Rooms maintained and bedsheet changed daily during stay.Enjoy meals anytime you want at the nice sitting area by the big windows on each floor.Try their coffee once you are there! The "only" downside is distant from the river (40mins by feet) but free bikes to ride around aswell as motorbike rental.Staff are genuine nice! USD$15.Phone:0710 839723 call to check vacancy.Thumbs up!
            <br/>
            A different way is to try bed and breakfast accommodation in the Can Tho surroundings. Hanh and Yannick from Nature-Mekong offers accommodation services and their house is located close to the famous Cái Răng floating market.
            <br/>
            <b>Splurge</b>
            <br/>
            * Victoria Can Tho, ☎ 71.810111 (fax: 71.829259), [2]. Luxury resort on Cái Khế island, including a swimming pool, a spa, a ballroom, and a rice barge for a scenic breakfast, lunch or dinner. Rooms from US$108, river view suites from US$175. 
            <br/>
            <b>Get out</b>
            <br/>
            From Can Tho you can easily reach other peaceful cities of the Mekong Delta such as Sóc Trăng, Châu Đốc, Sa Đéc Rạch Giá and Cà Mau. 
        </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
            <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
    <% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"7"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
    <input type="submit" value="submit" id="clickload"/><%end %>
</div>
<script>
    $('clickload').click();
</script>
