<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">            
             <b>Understand</b>
<br/>
"Ha Long" is literally translated as "Bay of Descending Dragons." Prior to the 19th century, this name was not recorded in any document or archive. When mentioning the present-day Quang Ninh Sea or Ha Long Bay, old historical books often referred to them by the names of An Bang, Luc Thuy or Van Don. Not until the late 19th century did the name of Ha Long Bay appear on a French Marine Map. The Hai Phong News, a French newspaper of the time, had an article, Dragon appears on Ha Long Bay, reporting the following story: In 1898 a sub-lieutenant named Lagredin, captaining the Avalanse reported seeing a huge sea snake on Ha Long Bay. This was also witnessed by many of the crews. Thus emerged the European image of the Asian dragon. Whether this appearance of a strange animal looking like a dragon resulted the name of Ha Long Bay is not known.
<br/>
<b>
Get in</b>
<br/>
From Hanoi: 165km or 3 hrs 30 minutes drive.

From Hai Phong: 75km or 1 hr 30 minutes drive.

The best, most expensive, way to get to Ha Long Bay is to rent a car from Hanoi. It costs approximately US$100 return.

    * The Cheap Private Car to Halong Bay. Check the link:[2]. 

There is also a tourist open bus service offered by travel agencies around the Hoan Kiem Lake in Hanoi. Cost: US$8 net/person/way.

Some hotels & cruise operators also offer the transfer service for passengers even not staying in their hotels. Call Halong Classic Sail Junk bus at (00844) 3 9290270 or 008....

Public buses leave from Long Bien or Gia Lam Station (other side of Red River, 2km from Hoan Kiem Lake) to Bay Chai (Halong City) every 30 minutes from 6AM to 6PM and cost 50,000 dong/person each way.

Vietnam Airlines now operates helicopter day trip to Ha Long Bay, departing from Gia Lam airport (Hanoi) every Saturday. [3]

    * The Halong Bay tour go with Halong Classic Sail Junk , halong bay 2days/1night on the boat. Check the link: [4]. Staying overnight in a boat on the breath-taking Ha Long Bay (or in a hotel on Cat Ba Island) is the most popular side-trip from Hanoi. Check the link: [5]. 
<br/>
<b>
See</b>
<br/>

Rent a junk to visit the bay for either several hours or overnight on the bay.

Ha Long Bay is a beautiful area with 1969 limestone islands jutting imposingly upon the skyline. Unfortunately the place is a tourist trap and the unique panorama is spoilt by a tremendous amount of "junks" which are in fact slimly disguised tourist boats that bear no resemblance to the authentic Chinese sailing vessels of the same name. These diesel-powered floating money-makers careen about the bay with casual indifference to safety as they bump and crunch against each other in a frenzy to drop their fares onto the obligatory island or floating shop before depositing the harried passengers back at Halong Bay dock feeling like they've been cheated out of their Dong, even if that isn't particularly true. The romantic setting is forever spoilt by the cattle-market mentality. Still... nice scenery.

Visitors to Ha Long Bay must purchase a ticket (30,000 dong) from the Ha Long Bay management department, which gives the option of following one of two routes:

    * Thien Cung Grotto, Dau Go Cave, and other sites (excluding Sung Sot Cave).
    * Sung Sot Cave and other sites (excluding Thien Cung Grotto and Dau Go Cave). 

<br/><b> Do</b>
<br/>

The vast majority of tourists visit Ha Long Bay on a pre-purchased tour from Hanoi. Prices are extremely variable depending on the quality of the boat, crew, food and additional activities. The cheaper the tour, the more basic the amenities. Virtually all hostels and hotels in Hanoi offer tours to Ha Long Bay. You can usually judge the level of professionalism of the tour based on that of the hotel itself. As most hotels do not run their own tours, but serve as a proxy for tour companies, it will usually be cheaper to go to an actual tourist company location and deal with them directly.

As a rough guide, a two night three day tour for US$80 should get you at a minimum:

    * one night aboard a deluxe imperial junk (ie. better than the standard boat and much better than the el cheapo options) with decent sized amounts of food and enough lounges on the deck for everyone.
    * one night at a 4 star hotel on Cat Ba island, again with more than enough food.
    * a decent English speaking guide.
    * lots of activities: cave visits, kayaking, swimming, island stopovers (to climb Titov mountain, bike ride amongst rice paddies and see monkeys). 

    * Ha Long Sea Kayak Adventure in Classic Sail Junk (3 days) [6]. Kayak in a dreamlike environment The most adventurous way to discover Ha Long Bay Journey through challenging cave tunnels, hidden grottos and extraordinary rock formations Relax and swim in marvelous, quite sandy beach. Stylist picnic lunch on beach. Call: 0084 ... 

Kayaking is great fun - find a secluded bay and soak in the amazing surroundings. The water is lovely and refreshing when the sun is out, but extremely salty.

For about $50 you will get good backpacker standard of acivities and accomodation. However the amount of food you are served may not be enough and snacks are highly advised. You can buy beer on board but at an inflated price (usually double) and if you bring your own beer you will be charged to open it in the restaurant. If you are discreet though you'll get away with drinking your own beer.
<br/>
<b> Buy
</b>
<br/>

There is a Halong Night Market. You can spend the entire night shopping. The snacks and water bottles are neatly packed into the small boats. Never seen anything like this before. Very unique and nice.
Sunset Vendor at Ha Long Bay
Sunset Vendor at Ha Long Bay

    * Bai Chai (Halong City West), (On Bai Chay Beach). Open 11am. Great markets right on the beach. cheap prices on woven, carved, painted and buffalo horn art. prices are negotiable and you can usually halve the first offer, but be aware that these vendors are much poorer than you. If the quality of the product is good, pay its worth. There are also many shops selling similar goods in the hill behind the beach. A close walk or motor bike taxi and the prices are often cheaper.  edit 

<br/>
<b>Eat
</b>
<br/>
There are many restaurant in Halong City (Bai Chay Town)which opposite to the Bai Chay Beach and offers mostly Vietnamese Rice dishes and Seafood.

The only western foods restaurant in the area is Emeraude Café (033 849 266) located on Bai Chay coast near the post office.

    * ].
*

<br/>
<b>Drink
</b>
<br/>
Drink can be found for the cheap price at the local drinks shops or restaurant around the city (cold drink also can buy from the boat on the cruise trip) while on the bay.
<br/>
<b>Sleep
</b>
<br/>
There are several new hotels on Cat Ba Island, most catering to overnight boat trip packages.

You can also sleep aboard a junk as part of an overnight cruise. Follow the link: [7]. The price will include dinner and breakfast aboard the boat, along with the extras described above.

There are countless travel agencies who sell these cruises in Hanoi and other cities in the region, and every hotel will be thrilled to book one for you as well. Since most agencies contract with third-party companies to handle the actual cruise, experiences can vary — the seas of Ha Long Bay are plied by smooth, classy junks and old, loud rattletraps. You might run across someone who had a great time on a US$10 cruise with one agency, and upon booking the same, spend a whole night choking on carbon exhaust fumes. The sad fact (for budget travelers) is: the more you pay, the better your odds will be. You should be safe with cruises in the US$35 range, but really nice ones can run as high as US$200 per person. Highly recommend Halong bay tour 2days/1night with Classic Sail junk [8]. with US$ 105 per person. Call: 0084 912881885
<br/>
<b>
Get out
</b>
<br/>
Mong Cai border City - there is a hydrofoil service from Bai Chay to the border city with China.

Cat Ba Island - rent or book a seat on a junk to Cat Ba Island.

Haiphong City - buses leave from Bai Chay Station to Hai Phong City.

Tuan Chau Island - rather a touristy spot.

Visit the old stone houses in the mining town of Cam Pha. 
        </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"3"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
