<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Ho Chi Minh City (Vietnamese: Thành Phố Hồ Chí Minh), commonly known as Saigon (Vietnamese: Sài Gòn) or by the abbreviation HCMC, is the largest city in Vietnam and the former capital of the Republic of Vietnam (South Vietnam).
            <br/>
            <b>Understand</b>
            <br/>
            Following the Fall of Saigon in 1975, Saigon was renamed Ho Chi Minh City. However the old Saigon moniker is still used by both Vietnamese and foreigners, especially when referring to the most central part of the city, to which most tourists flock.
            The helpful, Tourist Information Center (4G 4H Le Loi St, District 1. Tel (84-8) 822 6033) can be found on the northeast corner of the roundabout at the intersection of Le Loi and Nguyen Hue, right in the heart of the city. It's a great place to pick up a free map (which includes a map of Hanoi, as well) and get an idea of what the city and surrounding area has to offer.
            <br/>
            <b>Get in</b>
            <br/>
            <br/>
            <b>By plane</b>
            <br/>
            Tan Son Nhat (Tân Sơn Nhất) (IATA: SGN | ICAO: VVTS) is Vietnam's largest international airport. There are two terminals: the new international terminal, which took over all international flights from September 2nd 2007, and the old terminal, which will be reserved for domestic traffic. Immigration is notoriously strict and can be time consuming, but if your papers are in order you should be fine. Note that the all-white departure cards are only for those without the 'yellow paper' received upon arrival. The recently introduced No. 152 air-con airport bus is the cheapest way into the city, and will drop you off on the west side of the Pham Ngu Lao area, or at the bus terminal on the south side of the Ben Thanh Market roundabout. The price was recently increased to 3000 dong. Upon exiting the airport, turn right and walk towards the domestic airport, about 5 minutes walk, in front of the airport across a small road you will see the bus waiting there. Taxi drivers may tell you there are no more airport buses- ignore them.
            Taxis from the airport to the city center would take as little as 15 minutes in lighter traffic (which only happens between 11:00 am and 4:00 pm). This should cost no more than 80,000VND. The more typical experience is to creep along in near-standstill traffic for 30 minutes or more, at a cost of about 120,000VND to 150,000VND from district 1, inclusive of airport tax. A company called Sasco has the airport taxi concession, and their cars are the first you will see by the curb. They are OK, just a bit more expensive than rivals such as Vinasun, Vinataxi, and Mai Linh, which can be found waiting in abundance 50 meters away, further out into the parking lot. Whichever taxi you choose, make sure the driver uses the meter. Major taxi companies are fairly honest, but if you want to avoid all stress, you could simply buy a "Taxi coupon" at one of the counter after the custom declaration & x-ray at international airport terminal. Budget Car Rental has recently become the first international car rental company in Vietnam. They offer English speaking drivers and new model vehicles at affordable prices. You can find them just outside customs decleration next to the taxi stands. The black VIP taxi (Vinasun, Mai Linh) will give you premium service with better Lexus car at higher rate. These maybe unnecessary expenses for a short trip to the hotel.
            Watch out for taxi touts who also dress in white shirt uniforms and brandish laminated "fixed prices" cards at $US25.00 per car to the city hotels. They will be prepared to drop the price to $US15.00 but it is still a rip-off. Ignore them, stick to the metered taxis.
            You can change money at the airport, usually just enough to pay for the taxi ride (US$10), but you're probably better off paying for your first trip with US$ and exchanging in the city as the exchange in the airport may charge a commission as high as 3%. For simple calculation, taxi drivers & street vendors usually take 1 USD = 17,000 VND.
            Taxi drivers earn commission by taking customers to certain hotels, so be explicit about exactly which hotel you want to be taken to. Driver may come up with any kind of excuses, from "no vacancy" or "circus is in town" just to get you stay at other (commission paying) hotels.
            Be specific which terminal you want to go to. International flights go from the newer international terminal (go straight); Domestic flights (to Hanoi, Danang, Nha Trang, etc) are from domestic terminal (turn left). Drop at the wrong terminal and you have to dash your way to the right terminal via pedestrian walkway link 600m away. Not recommended if you're already late for boarding.
            When entering the airport, taxi drivers will add the entry fee to your total meter. This is for the airport entry fee (5000 VND). Don't confuse this entry fee with "Airport Departure Tax" as International Departure Taxes should have been included in the price of your flight ticket. In medium traffic from Ben Thanh Market to the airport, the total fare should be no more than 80,000VND as of October 2008 using the green and white metered taxis.
            <br/>
            <b>By bus</b>
            <br/>
            If you take a public bus, you will end up at one of the following bus stations:
            <br/>
            * Cho Ben Thanh Bus Station - This is right in the centre of HCMC, in walking distance of the tourist sites and accomadation
            <br/>
            * Mien Dong Bus Station - Buses heading north leave and arrive here.
            <br/>
            * Mien Tay Bus Station - Take bus 139 from Tran Hung Dao Street to get here. 
            <br/>
            * Cholon Bus Station 
            The multitude of private tour company buses usually drop passengers off on Pham Ngu Lao just west of De Tham, giving easy access to accommodation in the backpacker area. Of course, this means that you'll have at least 40-odd people shopping for the same rooms, which can be daunting as the nearby spots get snapped up. Patience will reward those who dig deeper into the tiny alleys, which have a (surprisingly safe) life of their own.
            As you hop out of the bus, taxi drivers will surround you with questions "Where you go?". You might be confused about your location in the city and the taxi drivers will propably try to benefit from that. You'll most likely already be in Pham Ngu Lao and when you tell taxi driver to head to the same place, he'll just go zigzag around few blocks getting easy money from you.
            Bus travel is available from Phnom Penh via several different companies, at approximately $12 per person. Visas to Vietnam cannot be obtained at the border, so have one organised before arrival (see Cope). Capital Tours operates a popular bus line from the Capital Guest House in Phnom Penh that takes passengers to the border, then after securing visas, passengers board a partner Vietnamese bus to continue travel to Ho Chi Minh.
            <br/>
            <b>By train</b>
            <br/>
            The train station is located on Cach Mang Thang Tam (CMT8) Northwest of the city center, and is a short taxi or public bus ride away from the main hotel districts.
            There is an official train ticket office in the backpackers district, located at 275C Pham Ngu Lao.
            <br/>
            <b>Get around</b>
            <br/>
            <br/>
            <b>By taxi and Rental Car</b>
            <br/>
            Taxis are the most comfortable way of getting around, and not too expensive - about 12,000 dong for the first 1km, plus 10,000 dong per additional km. (Prices jumped about 30% at the start of 2008, and again in July 2008 due to the soaring price of fuel but have since been reduced.) It's usually not hard to flag a taxi anywhere in the central city, though finding an available one in the rain or during peak hours can be difficult. Possible annoyance: when using the meter some taxi drivers slow down on purpose to increase the price.
            Taxi rates are not regulated by the city government, and each company sets its own fare structure, which changes from time to time. The market is fairly competitive, however, and the major companies all reasonably honest with similar rates. Major companies include: Vinasun (white and dark green), Mai Linh (various shades of white (standard), light green (mini w/ cheaper rate), brown, and silver, Vinataxi (yellow and blue), Petrolimex (white with blue and orange) and Savico (blue). Hoang Long (green and yellow) charges similar fares for short trips, but is 10-20% higher for long trips. Some off-brand taxis, such as "Taxi-Meter," have fast meters, and are best avoided unless you are a regular and know them well. Drivers generally do not speak English or any other foreign language, so if your destination is somewhere other than the airport or a major hotel, it might help to write the name and/or address on paper beforehand.
            Some of the larger, upscale hotels in the city (Caravelle Hotel, Sheraton, Park Hyatt, et al) are frequented by "Saigon Tourist" taxis, which often charge in dollars and are very expensive. Make sure to specify to your hotel receptionist or concierge that you want either one of the aforementioned taxi companies (Mai Linh, Vinasun, or Vinataxi) rather than the tourist trap taxis, or they will not hesitate to put you in an expensive taxi.
            Carry small change and bills for paying fares, since drivers are often short of change. Taxi models in service range from the tiny Daewoo Matiz to big Toyota Innova minivans. Newer cars are more likely to have working air-con; larger mini-SUV-type models sometimes charge a higher rate.
            When using a metered taxi be aware of the taxi slowing down on purpose to increase the bill.
            For trips outside of the city or for the convenience of having a private vehicle for the day, daily car hire with driver is a good option. Many of the taxi companies such as Mai Linh and Vinasun offer these services. For a little more money, Budget Car Rental, the American car rental company, offers English speaking drivers who serve as tour guides and to take you around the city or to sites such as Cu Chi.
            <br/>
            <b>By motorbike </b>
            <br/>
            Motorbike taxis (xe ôm, literally hug-vehicle) are plentiful (get used to hearing "you want moto!?" everywhere), cheap, and are generally quite safe. As of December 15th, 2007 all riders in Vietnam are now required to wear helmets and this is strongly enforced. As such, the driver should supply you with a helmet. If he doesn't - find another one, as you'll be the one stung for the fine. Absolutely agree on a price before you set off; short hops around town shouldn't be more than 10000 dong, and all the way to the airport around 30000. Rule of thumb for the price will be nearest round up of half the cost of taxi ride for the same travel. Drivers are generally quite friendly and will go slower if requested. They're also not adverse to a bear hug if you're really struggling. Many of the moto drivers, especially in district 1 speak some English, and like many Vietnamese will repay you in a flood of smiles (and probably point out all the sights) if you make a little effort to get to know them.
            You can rent your own motorbike in many places, especially around the backpacker area (Pham Ngu Lao) in District 1. Prices range from US$3-7/day; US$4 should get you a solid 100-110cc bike. Driving in Saigon is best left to experienced drivers, however - the traffic is intense, and has its own rhythms and logic. Drivers with limited experience should consider renting an automatic bike (usually a bit more expensive), as at busy crossroads there is not time for worrying about how to change gears. Beware of thieves: always keep your motorbike in sight or parked with an attendant. Most restaurants have guard / parking attendants out front who will issue you a numbered tag and take care of your motorbike. Independent parking lots are scattered around the sidewalks, alleys, and basements of the city – look for rows of neatly-parked motorbikes or signs that say giu xe. Prices range from free at some restaurants (though a small tip is common) to 5000 dong (~.30 US cents) at upscale night clubs.
            <br/>
            <b>By cyclo</b>
            <br/>
            For many reasons, not least because of government attempts to restrict cyclos on busy urban streets, cyclos are disappearing. At around US$2/hour and because they are so slow, they can be a good choice for taking in the city - however in areas popular with tourists, they often try to overcharge, so bargain beforehand. The price changes after your journey as finished, resulting in an embarrassing argument which soon becomes an intimidating atmosphere as other cyclo drivers appear as back up. So taking a cyclo is not really fun. The driver often visits places which benefit his wallet. The driver often ignores your directions for museums and heads to his favored local poor quality gift shop. They circulate around the central market and will immediately try to take you on a city tour the moment you are on board. Unless you fancy the novelty of a cyclo, a taxi will be quicker and just as cheap to anywhere you may want to go.
            <br/>
            <b>By bus</b>
            <br/>
            Look for the bright green buses with 150+ routes (Aug 2008) - maps of the bus system can be picked up across from Ben Thanh Market - just go into the waiting room to the desk in the middle. Cheap, safe and not too crowded either but only if you can find the right line. If you cannot find your way, ask the locals nicely, they will try their best to help. A piece of paper and marker pen may help to ease the conversation. Cheaper 2,000 - 4,000 dong and safer than many of the alternatives, the biggest problem is that when you get off the bus, you become a pedestrian (see below).
            For those who aren't staying in Ho Chi Minh City very long, or want to save his/her time, take a look on the website [1] for the City Look Bus. It'll take you to the famous places in Hochiminh city with the price from 15,000d to 75,000d, including the tour guide and the information in English.
            <br/>
            <b>On foot</b>
            <br/>
            Traffic is made up of a staggering number of motorbikes and, since import duty was reduced upon Vietnam's joining of the WTO, an increasing number of private cars. However its exceptionally rare to see a motorbike of more than 150cc, and the traffic rarely gets above 20-30km/h in central areas.
            However crossing the road in Saigon can be a nightmare. The first time may be a little scary, after that you will get used to it quite quickly. If ever in doubt, Saigon's "Tourist Security" officers (guys in marked green uniforms) will happily help you across. A quicker way of getting across is to simply follow the lead of a local crossing the street.
            However the true trick to crossing the road is to stay aware, and walk slowly and confidently. The motorbike riders are actually exceptionally good and will simply move to avoid you - just don't make any sudden lurches forwards, backwards, or stop for that matter! Just look for a gap or seam in the traffic, and begin a slow but steady movement.
            Adherence to traffic signals in Saigon is vastly improving, and while they're not always followed, riders/drivers tend to use "best judgment". Just remember though that vehicles can always turn right at any time (regardless of lights). Motorbikes often drive in the wrong direction (albeit quite safely and slowly) in unexpected places also. Crossing roads is therefore a challenge for Westerners used to traffic laws and traffic lights.
            The streets, sidewalks, and outdoor markets are covered by motorbikes, and not yet geared towards pedestrian traffic (although sidewalk clearing campaigns are now underway- many areas of the center are easy to negotiate as long as you keep your wits about you for speeding motorbikes). However walking along the edge of the road is easy enough. Any motorbikes behind you will generally beep at you to let you know they're there.
            The traffic police occupy themselves with random roadside checks and do not bother the motorcyclists that are running red lights or driving on the sidewalks. The police recently announced a crackdown on pedestrians. This does NOT mean that they will hassle you; the most likely meaning of the crackdown is that you will be held responsible if you are involved in an accident.
            But there are some open sidewalks to walk safely on and just walking around the city helps you really get a taste of it. Seeing people cook on the side of the street and just standing watching traffic go by in awe is just as entertaining as anything.
            <br/>
            <b>Maps </b>
            <br/>
            Most hotels will provide a free tourist map of district 1 although these vary in quality and tend to be advertising based. The Sheraton have one of the best of these and will provide one if you ask at reception. Within District 1, 'Bookazine' at #28 Dong Khoi (between Ngo Duc Ke and Ho Huan Nghiep) have larger city Maps if you plan to venture beyond District 1. The one published by Du Lich & Giao Thong has a street index on the back. Fahasa Books also carry a full range of available Maps. They have two large stores in District 1 - 185 Dong Khoi, just down from Le Thanh Ton, and 40 Nguyen Hue, just down from Mac Thi Buoi. MySherpa Travel have also published tourist maps of central District 1 with all shops and points of interest marked. Outlets in Saigon include Gaya, Dolce Casa, Annam Fine Foods, T&V Tailor, Galley Deli, and a number of two star hotels. 
            <br/>
            <b> Coffee shops</b>
            <br/>
            Vietnam is the worlds second largest exporter of coffee behind Brazil, and cà phê is very popular among the Vietnamese. It's a paradise for coffee-loving visitors. The local style is strong and sweet; key words to remember are: sữa (sweetened condensed milk), đá (ice), and nóng (hot, pronounced "nowm"). Cà phê đá is strong, sweet iced coffee; and cà phê sữa đá is the same with condensed milk. Cà phê (sữa) nóng is brewed fresh on your table brewed in a little metal apparatus placed over a cup; just lift it off when it has cooled enough to touch (and hence drink). Prices range from 10,000 to 20,000 dong for coffee in the local style.
            Since ice might or might not be made with purified water, strictly cautious visitors should avoid it, though long-term residents consume ice from reputable cafes and restaurants all the time. 
            Espresso, cappuccino, and American-style filter coffee are now also widely available in the tourist district, usually at twice the price of the local style. 
            * Cafe 5 Sao Near the Turtle Pond, on Pham Ngoc Thach. Plays loud techno music. Attractive but pretentious crowd. 
            <br/>
            * Bobby Brewery Coffee, on Bui Vien st., opened and operated by an American guy who is used to offering money for the charity. It's a nice place with good beverage. Used to show the movies on 2nd and 3rd floor. 
            <br/>
            * La Fenêtre Soleil 2nd floor on the corner of Le Thanh Ton and Nam Ky Khoi Nghia. Save the world from pint size caramel Lattes. Brave the decrepit stairway and enter an oasis. 
            <br/>
            * Gloria Jeans Cnr Dong Khoi and Nguyen Thiep (opposite the Sheraton). Popular Starbucks-style chain. 
            <br/>
            * Kem Café Nearest place for many in downtown D1 to go with a local. Pull up a plastic chair and sit on the pavement. A table will appear. Practice "Cà phê đá" or "Cà phê sữa da". If you want hot then attempt "nowm" but don't expect to be understood. Point. 
            <br/>
            * Chot Nho Café 189, Nguyen Van Troi, Phu Nhuan District. Reasonable price, good menu. 10 minutes by taxi from main city center. free Wi-Fi. 
            <br/>
            * Cine Café 116 Nguyen Du, inside the Galaxy Cinema complex. Quiet ambiance with views of the park. 
            <br/>
            * Givral Café, Dong Khoi (opposite Continental Hotel). More in the French tradition, with fresh pastries, collared waiters and elaborate portions of ice cream. Well located, but over 20000 dong for the simplest cup. 
            <br/>
            * Hideaway Café, 41/1 Pham Ngoc Thach, Q.3 - as its name implies, this place is hidden away and a good place to read, or have a quiet conversation or meal. Decent Western menu, although slightly pricey, is good. Free Wi-Fi. 
            <br/>
            * Highlands Coffee is an upscale, somewhat pricey chain serving Western-style as well as local-style brews in prime locations around the tourist district. They also serve food and pastries. Cappuccino costs above 30,000 dong, approaching prices in the west, but the quality is disappointing. 
            <br/>
            * M-Comic 99B vo thi sau a, a rather hard to find coffee shop. Upstairs is like a bedroom with a couple of beds - arrive early if you want to occupy one. It has large selection of magazine and comic book to chose from. The price is fairly cheap, ranging from 11,000 to 30,000 dong. But only serves Vietnamese drinks, and the staff barely speak English. Has free Wi-Fi. 
            <br/>
            * Cafe Napoly on Pham Ngoc Thach near the Turtle Pond. The decor is Roman-ruin-lite (they meant "Napoli") but the menu is typical for an upscale Vietnamese cafe -- coffee, fruit drinks, ice cream, and a simple food menu including eggs and rice dishes. Piped music is nice, not too loud by day (though louder at night), prices are decent. Has three parts: an outdoor terrace in front, air-con section on the ground floor, and evening time lounge-bar on the upper floor. Next door to the louder, more trendy / pretentious Cafe Nam Sao. 
            <br/>
            * Poppy Café [9], 217 Nguyen Dinh Chieu, D3. Modern lounge café where the specialty is fruit-topped natural frozen yogurt. The only café in SG that serves this refreshing healthy treat. Creative fruit smoothies and light Vietnamese + Western fares also on menu. Free Wi-Fi, flat-screen TVs, and English-speaking staff. 
            <br/>
            * Sozo has two locations, including one in Pham Ngu Lao. Prices are reasonable, Wi-Fi is free, and all proceeds benefit needy Vietnamese families. Good drinks, friendly staff, but their coookies could be better if they were baked in a real oven. 
            <br/>
            * Trung Nguyen, [10]. The Vietnamese version of Starbucks, but with much better coffee. They have locations all over the city, but are not well represented in the heart of the tourist district. Figure on 10000 dong for a basic cuppa, although there are plenty of variations including the infamous weasel coffee (cà phê chồn), made from coffee beans collected from civet excrement. Two convenient outlets are east side of Nguyen Hue right before City Hall, and corner of Thu Khoa Huan and Ly Tu Trong. 
            <br/>
            * Regina Cofee 84 Nguyen Du Street, District 1, HCM City. It's a great place to get a good cup of Vietnamese coffe or even American style cappuccino. They have an extremely skilled Japanese expresso master who knows how to brew coffee. The place has sort of a French mixed with Asian design with bricks covering all the walls. It's marketed towards tourists but it's a good place for expats with it's good coffee. All proceeds go to the church just around the corner. 
            <br/>
            * Windows Cafe, near the Reunification Palace. This is a pen for Vietnam's fashion slaves and seems to be THE place to be seen. Pretentious atmosphere, good menu, always packed. 
            <br/>
            <b>Bars and clubs </b>
            <br/>
            Saigon has plenty of places to drink, although to a certain degree Vietnamese and foreigners hang out in different places; however this is slowly changing as Westerners become more familiar with the ways of the East (and vica versa). Places with live music usually have no cover charge, but impose somewhat elevated drink prices (typically 55,000 - 85,000 for beer, spirits, and cocktails.) Saigon is an early-to-bed town, and most places close at midnight. 
            <br/>
            Where you can find tourists
            <br/>
            * American Discotheque, located on 3rd floor of An Dong plaza on An Duong Vuong st., District 5. It's definitely the biggest disco in Saigon, with great music and lights. It has also two seperated karaoke rooms where you could be sing 'til being tired. You could also enter it from Windsor Plaza Saigon Hotel. 
            <br/>
            * VIBE Billiards & Lounge, 02 Sương Nguyệt Ánh, Phường Bến Thành, Quận 1. VIBE - Saigon's most premium billiards lounge in town has a unique combination of high-class professional billiards & spacious lounge. At VIBE, guests can choose not only tasty foods and drinks but also customize the billiard table lights from the special lighting system which is exclusively designed for VIBE.. 
            <br/>
            * 163 Cyclo Bar, 163 Pham Ngu Lao Street, 2 doors down from the Duna Hotel. Thumping music until 2 a.m. and really friendly staff. The Vietnamese girls seem to have a strong affinity for Caucasian men. 
            <br/>
            * Allez Boo, corner Pham Ngu Lao, De Tham. For those that have been here before, you'll find the original bar is now Highlands coffee and an all new Allez Boo has opened on the opposite corner. It's shiny and brand-new, but retains the same feel as the original. There's an air-conditioned bar on the second floor with DJ-type music, and an airy rooftop patio. Quite similar to its sibling establishment, Go2 Bar. 
            <br/>
            * Apocalypse Now, 2C Thi Sach. Legendary and still packed on weekends, although aside from a few movie references it's not all that much to look at. Stays open late. Now opened their 2nd floor for dj, dancing, drinks with less crowded atmosphere. Cover charge of 150000 VND (9 USD) for locals (and those of Asian appearance), almost always waived for foreigners and anyone fashionably dressed. 
            <br/>
            * Alibi, 11 Thai Van Lung. Very cozy atmosphere, with sofas lining the walls and beautiful decor. good food & drinks selection, nice music, and a mix of both local & expat people. friendly staff, and the management's always there to make you feel welcome and make sure you get what you are asking for. 
            <br/>
            * Catwalk, at the side of New World Hotel. All in one place with a massage parlour, disco, KTV and a mini casino. Price is on the expensive side but it is a sight to behold. (Please note that if you want to occupy a room @ KTV, the minimum purchase is USD200.) 
            <br/>
            * Eden, De Tham Street. Often busy, full of sporties, revellers, expats and others. Dark and deep and reasonably priced for the backpacker main drag. 
            <br/>
            * Go2 Bar, corner De Tham and Bui Vien. The main backpacker bar while Allez Boo was closed, still a great meeting place, as it's impossible to miss the four floors of neon lights on the outside. Large patio on the sidewalk at street level, a cozier bar on the second floor with occasional live music or big-screen sports, plus a rooftop patio (with retractable roof!) with individual BBQs up a steep set of stairs on the fifth floor. Open very late most nights, all night on weekends. 
            <br/>
            * Rex Hotel rooftop, corner of Nguyen Hue and Le Loi. They serve a buffet dinner at the dinner hour, which gradually gives way to drinks and music. Acts change over time, but recently included a Filipino band playing FM classics and a Vietnamese group playing Latin and flamenco. It's a pleasant place to get above the city noise and enjoy some fresh air. In years past, it was also a good value, but recent aggressive price increases have put it into the expense-account-only catetory: cocktails around 140,000 dong (including the ++, which hotels always add). 
            <br/>
            * Level 23, Sheraton Saigon 23F. The latest on the 5-star hotel drinking scene, with separate bar and nightclub, and great views over the city. A little soulless though, and very pricey with most drinks 80000 dong. 
            <br/>
            * Le Pub, 175/22 Pham Ngu Lao, located on the small road which connects Pham Ngu Lao and Bui Vien. Always be busy after 6PM, so famous for its great music, foods and beverage. It has the same owner with Le Pub in Hanoi, of course, the same high quality service! 
            <br/>
            * Oblivion, Bui Vien. Late night venue with lots of character, claims to be Saigon's premier music bar and it's hard to argue - assuming, that is, you have a taste for non-chart buzzy British guitar and obscure dark US/European stuff. You have to ask for happy pop, though if you're spending enough it'll sometimes get an outing. Like most Saigon bars, it attracts its share of working girls. If you're not interested, simply say you're not and you'll be left alone. 
            <br/>
            * Saigon Saigon, Caravelle Hotel 9F, 12-13 Lam Son Square. A pleasant, breezy bar with a great view of the city. Live band playing inside every night. Cool, quiet ambience on the terrace. Attracts an expense-account crowd due to the prices (cocktails mostly >100,000 dong including the ++). 
            <br/>
            * Shadow Bar, 41 Dong Du Street. Expat bar, good place to wind down or up. Recently renovated as an upmarket bar and restaurant under the new name of ZanziBar. Excellent menu, wine selection and imported beers along with a pleasant and relaxing atmosphere. 
            <br/>
            * Sheridan's, Le Thanh Ton near Thai Van Lung. Small, cozy Irish-themed bar with imported draft beer and live music. 
            <br/>
            * Underground - more a food than a drink spot, though open for both. Sometimes busy with the business crowd, always packed with people enjoying the reasonably priced burgers, steaks and the like. 
               </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"12"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
