<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Hoi An (Hội An)  is a beautiful city in Vietnam, just south of Da Nang. The Old Town of Hoi An is listed as a UNESCO World Heritage Site.
            <br/>
            <b>Understand</b>
            <br/>
            Hoi An, once known as Faifo, was a major international port in the 16th and 17th centuries, and the foreign influences are discernible to this day. While the serious shipping business has long since moved to Danang, the heart of the city is still the Old Town, full of winding lanes and Chinese-styled shophouses, which is particularly atmospheric in the evening as the sun goes down. While almost all shops now cater to the tourist trade, the area has been largely preserved as is, which is unusual in Vietnam, and renovation has proceeded slowly and carefully - it's mercifully absent of towering concrete blocks and karaoke parlors.
            The main thoroughfare in the Old Town is Tran Phu. Just south of the Old Town, across the Thu Bon River, are the islands of An Hoi to the west, reachable via Hai Ba Trung, and Cam Nam to the east, reachable via Hoang Dieu.
            <br/>
            <b>Get in</b>
            <br/>
            <br/>
            <b>By plane</b>
            <br/>
            The nearest airport is in Danang, which has frequent connections to Hanoi, Ho Chi Minh City and some flights to Bangkok, Singapore and Siem Reap, Cambodia (for Angkor Wat). A taxi from the airport to Hoi An costs about US$15 thanks to the cartel, but only about half that in the other direction.
            <br/>
            <b>By train</b>
            <br/>
            There is no railway station in Hoi An. The nearest is in Danang, which receives several trains a day from Hanoi, Ho Chi Minh City, Hue, Nha Trang etc. Most travel agents and hotels can book a train ticket for you.
            <br/>
            <b>By bus</b>
            <br/>
            Open-tour buses run daily up and down the coast from Da Nang, Hue (4-5 hours) and Nha Trang (9-10 hours). 
            <br/>
            * Sinh Cafe, 18B Hai Ba Trung Street, tel: 0510.863948/916242. Can handle transfers to Vientiane and Savannakhet in Laos and onward. 
            <br/>
            <b>By motorbike or taxi</b>
            <br/>
            It's easy to take a motorbike or taxi to and from Da Nang via the Marble Mountains (see below), from where you can catch a train onwards.
            <br/>
            <b>By boat</b>
            <br/>
            There is a hardly known or used inland waterway connecting Danang to Hoi An - or in Spring or Summer take a wide route on the sea around Son Tra penninsula. This is an interesting alternative to road travel - a real adventure! 
            <br/>
            * Karma Waters, 47 Cua Dai Street, Hoi An, www.karmawaters.com tel: 0510.927632 for boat tours 
            <br/>
            <b>Get around</b>
            <br/>
            The centre of Hoi An is very small and pedestrianised, so you will be walking around most of the time. Unfortunately, motorbikes have not been banned from the center, so keep an eye out for motorized kamikazes, even in the most narrow alleys. However, the city's government does not allow motorbikes to enter the Old Town on the 14th and 15th of each lunar month. On those evenings, a lot of activities, including traditional games such as bai choi, trong quan, and dap nieu are held in all over the town.
            To go to the beach or reach some of the more remote hotels, it is easy and cheap to hire a bicycle. Taxis are few and far between, but can be called by phone. When busy, taxis may refuse your fare back to your hotel from town if it is too close, opting for larger fares. Arranging a shuttle from your hotel may be a better option although prices can be higher.
            Motorbike taxis, of course, are always an option. You can also charter boats for about US$1/hour.
            Almost all hotels rent motorbikes at about US$5/day. It's standard practice for the bike to have only enough gas to make it to the next gas station. In addition to gas stations, there are also little hand-operated roadside pumps everywhere; these can be convenient, but they're more expensive and the quality of the gas is open to question.
            Traffic in Hoi An is minimal, so if you've been avoiding getting on a bike in the big cities, small towns and the surrounding countryside like Hoi An are ideal to get used to the road rules.
            Use the bike to visit My Son, about an hour away, or the Marble Mountains, about forty minutes north towards Da Nang.
            The old Champa way was to travel by the river system. The rivers of Hoi An cover hundreds of kilometers and offer an interesting & adventurous alternative to travelling by road. Get on a boat and you'll begin to see a whole lot more of Hoi An and the Delta.
            <br/>
            <b>See</b>
            <br/>
            <br/>
            <b>Old Town</b>
            <br/>
            Entry to all historical sites in Hoi An is via a coupon system, where 75,000 dong (US$5) gets you a ticket that can be used to enter five attractions: one museum, one old house, one assembly hall, the handicraft workshop (and traditional music show) or the traditional theater, and either the Japanese Covered Bridge or the Quan Cong Temple. Tickets are sold at various entry points into the Old Town, including Hai Ba Trung Street, and also at some of the attractions, including the Cantonese Assembly Hall. The city requests that visitors dress "decently" while visiting sites in the Old Town, as in no sleeveless blouses or skirts above the knees, but there's nobody specifically charged with enforcing the dress code. 
            First, you may choose one of the two landmarks of Hoi An: 
            <br/>
            * Japanese Covered Bridge (Chua Cau or Lai Vien Kieu), on the west end of Tran Phu Street. The bridge was constructed in the early 1600's by the Japanese community, roughly 40 years before they left the city to return to Japan under the strict policy of sakoku enforced by the Tokugawa Shogunate, and renovated in 1986. Today, it's the symbol of Hoi An. Entry is one coupon, but it's possible to cross back and forth several times without meeting a ticket-checker. If your scruples are bothering you, feel free to leave tribute for the pig statue or the dog statue who stand guard at opposite ends of the bridge. 
            <br/>
            * Quan Cong Temple, 24 Tran Phu Street. 
            <br/>
            The ticket allows admission to one of the four museums in the Old Town: 
            <br/>
            * Museum of Folk Culture, 33 Nguyen Thai Hoc Street. 
            <br/>
            * Museum of Trade Ceramics, 80 Tran Phu Street. The dusty, unlabeled displays of broken pottery are eminently forgettable, but the house itself is nice enough, and it provides a better opportunity to explore the shape and layout of an old Hoi An home than you'll find at any of the Old Houses (below). 
            <br/>
            * Hoi An Museum of History and Culture, 7 Nguyen Hue Street. The museum contains some old black and white photos of Hoi An taken in the early 20th century. It also houses an old canon, some two-thousand year old pots from the Sa Huynh period, and a case full of 9th century bricks and tiles from the Champa period. 
            <br/>
            * Museum of Say Huynh Culture, 149 Banc Dang Street. The museum's main collection consists of pottery and urns from the 1st and 2nd centuries. Upstairs is another museum, the Museum of the Revolution. Its main collection consists of pictures from war heroes and a collection of weapons such as grenade launchers, machine guns and AK 47s. 
            <br/>
            There are three old houses that exist in an awkward halfway state between museum show-piece and somewhat shabby residence for the family that lives there. Your ticket allows admission to one. 
            <br/>
            * Phung Hung House, 4 Nguyen Thi Minh Khai Street, just west of the Japanese Bridge. Traditional two-story wooden house, inhabited over 100 years by eight generations; and the current one attempts to guide you around in hope of a tip. 
            <br/>
            * Quan Thang House, 77 Nguyen Thai Hoc Street. 
            <br/>
            * Tan Ky House, 101 Nguyen Thai Hoc Street. As above, a younger member of the family will provide a cup of tea and a "tour" that doesn't stray from the front room of the house, as you'd need to step over sleeping members of the older generation to go anywhere else. The design of the house shows how local architecture incorporated Japanese and Chinese influences. Japanese elements include the crab shell-shaped ceiling supported by three beams in the living room. Chinese poems written in mother-of-pearl are hanging from a number of the columns that hold up the roof. 
            <br/>
            Numerous congregation halls, where Chinese expatriate residents socialized and held meetings, are dotted about the town. They are typically named after the home region of their members, such as Fujian and Canton. Your ticket allows admission to one. Some do not have ticket-takers, so it's up to your conscience if you want to try wandering into a second. 
            <br/>
            * Cantonese Assembly Hall (Quang Dong), 176 Tran Phu Street. Built in 1885, it has a calm courtyard with ornate statuary. Take a peek at the half-hidden back yard and its kitschy pastel dragon statues. 
            <br/>
            * Hokien (Fujian) Meeting Hall (Phuc Kien), 46 Tran Phu Street. Built in 1757. 
            <br/>
            * Chinese All-Community Meeting Hall (Trieu Chau), 157 Nguyen Duy Hieu. Built in 1887. It's near the Fujian hall, also spanning the block. 
            <br/>
            Finally, you can choose one of the following to get some "Intangible Culture": 
            <br/>
            * Hoi An Handicraft Workshop, 9 Bach Dang Street. Folk music performances are offered at 10:15am and 3:15pm every day except Monday. 
            <br/>
            * Traditional Theater, 75 Nguyen Thai Hoc Street. 
            <br/>
            <b>Other</b>
            <br/>
            * The Hoi An Orphanage is located right next to the Roman Catholic church. The Kianh Foundation  works permanently at the orphanage to improve the children’s health, education and quality of life. 
            <br/>
            <b>Do</b>
            <br/>
            * Karma Waters boat tours  Catch a shuttle between Hoi An and Cua Dai to see the river system and river inlet. Or take a speedboat down the river towards Chu Lai or up river towards My Son or Danang. With hundreds of kilometers of rivers Hoi An is amazing from the water! 
            <br/>
            * Hoi An Easy Riders  Riding the back of a motorbike with a driver/guide is a great way for a non-motorcyclist to tour around Vietnam. Providing an insight and access to places you might otherwise never experience. With good spoken English and French, originating from surrounding villages they seem to know everyone you'll get a truly amazing experience. To get in contact with them you can find their details on the web site. Prices range from about US$60-75 per person, per day an include accommodation. 
            <br/>
            * Rent a motorbike. If the traffic scared you in Ho Chi Minh or Hanoi, here is the place to learn. Rent a bike for US$4 per day. The quiet streets are an ideal place to learn. After a few minutes fiddling with gears you'll be ready to roll. When renting make sure you get a helmet. Take a short ride down to the beach and enjoy the water or travel toward Danang to visit the stunning Marble Mountains. 
            <br/>
            * Cua Dai Beach. A place to unwind a few kilometers away from the town centre. A motorbike ride from the town centre to Cua Dai Beach should cost around 20,000 dong. It's also possible to cycle there, which gives you a nice view of the rice farms along the way. Along the beach are a number of mini restaurants selling seafood and drinks. They also provide deck chairs and tables right on the beach. Vendors usually stroll the beach offering fresh fruit. It's a relatively nice beach, but keep an eye on kids, as the tide can be deceptively strong here. There are a number of upmarket resort hotels in the area. If on bicycle or motorbike, avoid the faux guard who tries to harry you into the paid parking lot just before the beach. You can park on the beach for free. 
            <br/>
            * Hội An Eco Tour is a unique cultural tourist attraction. Learn how to catch fish, row a basket boat with local fisherman through the coconut palm paradise. Rather than focusing on historical artifacts of Vietnam, the eco tour focuses on the historical, and living culture of the people of Hội An. Very friendly tour guide and staff. All drinks and a great dinner included (Fisherman to Coconut palm paradise tour). A bit more expensive than other tours but a very nice experience (doing rather than seeing). 
            <br/>
            * Cooking lessons are offered at several restaurants around town. If you enjoyed your meal there, it can't hurt to inquire. 
            <br/>
            * Jetski Vietnam, 47 Cua Dai Street, Cua Dai (At Cua Dai Beach bridge), ☎ 510.927632, . Jetski adventure river tours in Hoi An  edit 
            <br/>
            Festivals in Hoi An are based on the lunar calendar, so break out your lunar date planners and lunar PDAs to see if you'll be there at the right time. 
            <br/>
            * Full Moon Festival, aka Old Town's Night - held on the 14th of every lunar month, one night before the full moon, when the Old Town becomes even more festive than usual (which is saying something). Usually starts around 6:30pm. 
            <br/>
            * Fisherman's Festival - held on the 16th of the February lunar month to pray for a good crop. 
            <br/>
            * Mid-Autumn Festival - held on the 14th of the August lunar month. 
            * Homestay, . Homestay in Bai Huong fishing village Cham Islands. Operated by Karma Waters vegetarian restaurant, Cua Dai, in cooperation with village & local Government.  edit 
            <br/>
            <b>Buy</b>
            <br/>
            Made-to-measure shirts, blouses, dresses, suits etc. are on offer from the renowned tailors of Hoi An. When last counted in 2002, there were 140 shops in the city, and the number is now well over 400. It's one of the few places in Vietnam where the motorbike taxi drivers look positively sedate by comparison. Be careful who you choose to manufacture your clothes. As a rule of thumb, give all tailors 2 days advance to prepare your garment and keep going back until you get your clothes right! Suits should cost around US$50 and up to US$100 for a good quality suit. If you choose to pay US$30, beware that you get what you pay for, slightly lousier quality of cloth and problems with workmanship, such as misaligned stripes on the pants and blazer. Shirts should cost about US$10. Note that shirt collars tend to be made looser than at home and so don't worry if you have to ask them to make alterations. Skirts normally sell for around US$15. Dresses should cost around US$20 upwards. However, prices might change depending on design and detail.
            Some tourists love the idea of going in to one of the tailors and making something from scratch. While this is possible, it is better to have something made from the samples that they already have or copy something that you have brought to the shop - makes life a lot easier.
            Note that if you go to the larger, more renowned tailors such as Yaly and Adong, the prices are much steeper (a 2 piece suit costs between US$80-300 depending on material). The maximum discount that seemed possible (checked against three different stores) was 15%. Both places have good workmanship on simple items such as jackets. Tony's tailor is a good value-for-money choice; high quality finishing and honest but relatively fixed prices. A suit should cost less than US$80.
            <br/>
            Business in Vietnam is based on payments of commissions for business - a wonderful example is the customs tailor shops in Hoi An! The going rate for anyone bringing in a customer is 20-40% of total retail price paid. As a starting point to bargain in Vietnam always offer at least 1/2 of the asking price - or better still start at 1/3rd and work your way upwards! 
            <br/>
            * Cloth Market, located next to the Central Market and looks like a cloth warehouse. Inside are many small tailor stalls that are generally cheaper and more reliable than shops elsewhere. Orders usually take a day or two. 
            <br/>
            * Yaly, Tran Phu Street, has a great and extensive range of fabrics to choose from and the staff are very attentive and extremely patient. Ignore the fixed price claim! Discounts can be given for multiple purchases. This is possibly the biggest tailor in the old town and is constantly full of tourists. Demand attention from a staff member who will then ply you with all the catalogues you want - much easier trying to pry the catalogues away from other people. 
            <br/>
            * Adong Silk is another large tailor, however nowhere near the size of Yaly. There is a better staff to customer ratio but the customer service is comparable between the two, as are the prices. The quality of workmanship is excellent here. Again bargain hard if you're buying multiple items. 
            <br/>
            * Thien Long, Gold Dragon Shoe Shop, , 495 Cua Dai Street, Hoi An Town. Run by a 22 year old local man, named Nam, this shoe store features a wide range of shoes including formal shoes, casual shoes, flip flops and sandals. Shoes can be custom made, and Nam also has good contacts for suit and clothes tailoring. 
            <br/>
            * Phong, 42 Phan Boi Chau, Very good shirt made here from some very funky materials and a great copy of a ladies top. 
            <br/>
            * 160, previously Kim Van, 160 Tran Phu St. Cute little husband and wife tailors. Clothes are made on site and lady actually listens. 
            <br/>
            * Thuong, 30 Le Loi Street, a great alternative to the fancy shops mentioned above. Friendly and no hassle service providing great value. 
            <br/>
            Hoi An also has a good selection of Vietnamese art, both modern and traditional, serious and kitschy. Galleries can be found all over town but Nguyen Thi Minh Khai St, on the other side of the Japanese Bridge, has the heaviest concentration. 
            <br/>
            * Reaching Out,, 103 Nguyen Thai Hoc, Fair trade gift shop made by disabled craftspeople in Vietnam. More expensive than in the market but goods are very well made and not like the mass produced stuff found in the market. 
            <br/>
            * Central Market, Bach Dang Street, (just before the Cam Nam Bridge) has all of the cheapster t-shirts and bog-standard souvenirs you've seen at every other stop in Vietnam, but it also has plenty of fresh fruit, vegetables, seafood, and all of the other stuff they use in Hoi An's terrific restaurants. T-shirts should cost around 40000 dong, and any amount of haggling will not reduce the prices beyond this level. There are shops selling backpacks, around US$20 for a 100L backpack. However, Hanoi has a wider but more expensive selection. 
            <br/>
            * Thanh Ha Pottery Village - about 2km west of town, this traditional village has been making pottery for more than 450 years. It was on the verge of extinction until the wave of new hotel construction in Hoi An revived demand. 
            <br/>
            * Kim Bong Carpentry Village - about 3km west of town. 
            <br/>
            * Chrum Glass 71 Phan Chau Trinh Street, some 4 km out of town. . Sells locally handmade Okinawan-style glass. You can also arrange to try your hand at making some at their workshop. 
            <br/>
            * NuNi, 115 Tran hung Dao Street (near Then Trung Hotel), ☎ 0520.926.504, . 9 am-8 pm. Two charming sisters are the shop girls. Prices were comparable to higher (skirt $30, dress $20, suit jacket $50.  edit 
            <br/>
            <b>Eat</b>
            <br/>
            Food in Hoi An is, even by high Vietnamese standards, cheap and tasty. In addition to the usual suspects, there are three dishes that Hoi An is particularly famous for: 
            <br/>
            * Cao lầu, a dish of rice noodles which are not quite as slippery as pho and a bit closer in texture to pasta. The secret is the water used to make it, and authentic cao lau uses only water from a special well in the city. The noodles are topped with slices of roast pork, dough fritters, and this being Vietnam, lots of fresh herbs and veggies. 
            <br/>
            * White rose (banh bao vac), a type of shrimp dumpling made from translucent white dough bunched up to look like a rose. 
            <br/>
            * Wantan dumplings, essentially the same as the Chinese kind, served up in soup or deep-fried. 
            <br/>
            If you are really very adventurous, you can walk to the Central Market, and have a local breakfast. Seating on stools, eating a bowl of Cao Lau with wooden chopsticks, and sipping the ice cold "White Coffee with vinamilk" is an adventure. Beware though, prices will vary atrociously, as shopkeepers swarm over you to sell you things, or even shove plates of food before you. Just keep declining politely and return the food if you don't fancy it. Keep small denominations of dong with you, as you probably won't get change if you give them US$. Also, confirm the prices before you partake of the food. Prices range from about 7000-10000 dong for a bowl of noodles, and 5000-7000 dong for a coffee. The baguette is a nice snack, and should not cost more than 10000 dong. You can point and say no to the vegetables and chilli that they will add. A recommended way to order is to just say "Everything" and say "no" to the chilli. Mineral water is around 10000 dong for a big 1.5L bottle.
            Walking along the river at night, you will find a lot of pubs. Beer is around 30000 dong. Cocktails are around 20000-50000 dong. There are some bar foods available, such as fried prawn crackers for around 15000 dong a plate. Just walk into any pub and have a seat.
            <br/>
            <b>Vegetarian/ vegan</b>
            <br/>
            * Karma Waters, 47 Cua Dai Street (At Cua Dai Beach bridge), . 7 am - 9 pm. Vegetarian food beside the river. mid range.  edit 
            <br/>
            <b>Budget</b>
            <br/>
            Prices in the very center of Hoi An are generally a little inflated by the tourist trade - cross the bridge over to An Hoi island for a selection of basic but cheap eateries. 
            <br/>
            * Blue Dragon. A restaurant by the waterfront with cheap, but good food. Choose from a wide variety of local dishes, or set menus, including meat, vegetarian or seafood choices. A portion of the proceeds goes to help the Blue Dragon Children's Foundation. 20000 dong.  edit 
            <br/>
            * Cafe 96. One of the numerous restaurants by the river banks, this restaurant is packed every night of the week, and deservedly so. There are plenty of vegetarian options and excellent spring rolls. The wait for food tends to be longer than normal, but worth it. 20000 dong.  edit 
            <br/>
            * Cafe Bobo, 18 Le Loi. Popular and reasonably-priced. The frappucino-style mocha shakes are great.  edit 
            <br/>
            * Hoai River, 44 Nguyen Thai Hoc. Terrific food, but long waits.  edit 
            <br/>
            * Huu Nghi, 56 Bach Dang, ☎ 05103910118. Very good food at reasonable prices, with a view of the river and the market. Set meals with 3 or 4 kinds of local specialities for 30.000/50.000 Dong respectively. Fresh beer (Bia Hoi) for 5000 Dong.  edit 
            <br/>
            * Thanh Phuong, 56 Cong Dong (An Hoi island, just across bridge). Cheap and cheerful local eats. A steaming seafood hotpot for two and a large beer will set you back US$3.  edit 
            <br/>
            * Trung Bac, 87 Tran Phu. 100 years of cao lau and still going strong. A bowl of chewy noodles and lots of veggies will set you back all of 8000 dong.  edit 
            * White Rose, 51 Hai Ba Trung. The shop that actually makes most of the "white rose" dumplings served all around town. 15,000 dong per serve, and if you ask nicely they'll let you try to make them yourself. Open from 7AM until they run out, usually in the afternoon.  edit 
            <br/>
            <b>Mid-range</b>
            <br/>
            * Cafe des Amis, 52 Rue Bach Dang, close to the central market, ☎ 0510.861616. The signs and the Serge Gainsbourg say French, but the food comes straight out of owner Mr. Nguyen Manh Kim's well-traveled imagination. Diners choose a seafood, meat, or vegetarian set, and then wait to see what turns up at the table, which is usually five or six dishes, one after another. Chef Kim delegates the actual cooking to his assistants, enabling him to chat with diners and trot out his enormous guestbooks. Even if you're on a backpacking budget, a memorable, original meal (and a full stomach) makes this a worthy expense. If you're in town for a couple days, you'll find a (mostly) new set every night, so don't be shy about coming back. Dinner and a drink cost about 120,000 dong per person.  edit 
            <br/>
            * Morning Glory. Choose from a variety of local dishes, and be sure to experiment, because everything is truly excellent. The staff speak good English, the place is beautifully decorated, and the food will have you coming back for more. (And if you really enjoy the food, ask about their cooking classes.) While there are cheaper places to eat in Hoi An, this one is by no means expensive, especially considering how good the food is. Most main courses are between 40000 and 70000 dong. Dinner and a drink cost about 80,000 dong per person.  edit 
            <br/>
            * Mermaid, Just opposite the Cloth Market, . Open daily for breakfast, lunch and dinner. Mermaid serves some of the best food in Vietnam, and is among the best expensive restaurants. Do not miss the grilled mackerel in banana leaf, the minced pork with eggplant and the sweet and sour Black King Fish hotpot. The owner came from generations of cooks and in fact was featured in New York Times for her restaurant's good food. 2 dishes and rice cost between 70,000 to 100,000 dong.  edit 
            <br/>
            * Karma Waters, 47 Cua Dai Street (At Cua Dai Beach bridge), . 7 am - 9 pm. Vegetarian food beside the river. mid range.  edit 
            * Red Bridge Restaurant & Cooking School, Thon 4, Cam Thanh, Hoi An (Catch a meter Taxi, about 3km out of town, cost VND$32,000), ☎ 0510 933 222, . 10 am - 9 pm. Located on the Thu Bon River, The Red Bridge Restaurant and Cooking School offer a wide range of Modern Vietnamese Food, in an open air restaurant. It is set in 2 acres of tropical gardens, and offers a range of tours and clases. Catch a taxi there, or if you have a motorbike or bike just ride, its about 3km. Booking for dinner are essential, due to the location, they sometimes close early if there are no customers. The food is well priced, and very good value, with large portions, and very good produce. They offer a selection of cocktails as well as the usual beers and an extensive wine list. This is an excellent establishment for an evening meal, especially during sunset. mid range.  edit 
            <br/>
            <b>Splurge</b>
            <br/>
            * Brother's Cafe, 27 Phan Boi Chau, [16]. Open daily for lunch and dinner. Probably Hoi An's nicest restaurant, with a lush landscaped garden in a wonderful riverside French colonial house. The fresh spring rolls (chả giò) are excellent, and priced to match at US$4.50 a plate. The 6-course US$24 (Jan, 2009) set meal for two is a good value though.  edit 
            <br/>
            * Hoian Vinh Hung 1 Restaurant Cafe, 147B Tran Phu Str, [17]. Open daily for breakfast, lunch and dinner.  edit 
            <br/>
            <b>Drink</b>
            <br/>
            * Before & Now, 51 Le Loi Street, ☎ +84-510-910599. Very popular two-level bar and restaurant. But quite high prices.  edit 
            <br/>
            * Treat's Cafe. Like Before & Now only westerners inside. The prices (especially for food) are more reasonable though and there is a iTunes-Jukebox. Even though the bar ladies get confused by the "Party shuffle mode" of iTunes and have an annoying preference for Rihanna-Songs.  edit 
            <br/>
            * Sakura. Skip the food, which is overpriced and substandard, but the lovely waterfront terrace is a nice place to have a drink. It's near Morning Glory (see above).  edit 
            <br/>
            * Tam Tam Cafe, 110 Nguyen Thai Hoc. Cafe, bakery, restaurant and bar all rolled into one. Stylish, popular and not too badly priced.  edit 
            <br/>
            * King Kong Bar. For the late night hardcore drinking fun. All the walls are signed by Graffitos - from cohorts of travellers, before you. Sometimes fine Reggae or underground music.  edit 
            * Salsa Club, 41 Nguyen Phuc Chu St.. , just opposite the Japanese Covered Bridge, has a nice view to Hoai river with the reasonable price, very friendly staff and it offers the free internet and Wifi as well for you.  edit 
            <br/>
            <b>Sleep</b>
            <br/>
            Hoi An New Town
            The atmosphere of the Old Town hasn't been preserved by accident: strict bylaws prohibit new construction within its narrow lanes. As a result, there's a building boom just outside the borders of the Old Town, most noticeably as you head north of Le Hong Phong. Walk a few blocks from that old world ambiance, and suddenly you're in a construction zone. Several hotels have sprung up in this area, which is completely lacking in the charm that brings visitors to Hoi An. Not surprisingly, those are the hotels (Phuong Nam Hotel is among the worst offenders) that are most likely to pay commissions to open-tour bus companies and use Internet sites to describe the dusty construction zone as a "peaceful area". They're also cheaper and easier to bargain with, but the reason they're so cheap is that they're missing the whole point of a visit to Hoi An. There are plenty of options closer to the center of town. Once you've taken a night-time stroll through the Old Town, you won't mind if you had to fork over an extra dollar or two for a better location.
            Hotels in Hoi An are fiercely competitive, which means plenty of choice, low prices and generally high standards. Many are clustered around Hai Ba Trung St (formerly Nhi Trung Street), just north of the Old Town and within easy walking distance, and also along Cua Dai Street, off to the east and a bit of a hike away.
            Most of Hoi An's high-end hotels are located along the unbroken beach stretching from Danang to Hoi An. Closest is Cua Dai Beach 5 km away.
            <br/>
            <b>Homestay</b>
            <br/>
            * Homestay on Cham Islands, 47 Cua Dai Street., ☎ +84-510-3927632, [18]. The only Homestay on Cham Islands, 10 miles offshore from Hoi An. Stay inside the houses in a fishing village on an island in Vietnam. US$50-70 shared room all included.  edit 
            <br/>
            <b>Budget</b>
            <br/>
            * An Phu, 30 Nguyen Duy Hieu Street., ☎ +84-510-914345, [19]. One of the biggest budget hotel operations in Hoi An. South of the center, about a 5-10 minute walk away. Nice rooms and a relaxing pool in the middle. Be careful of the recommended hotel doctor incase of an emergency as they have been known to provide out of date drugs and/or sub-standard versions which have been known to cause some very dangerous reactions. US$20-40.  edit 
            <br/>
            * Dai Long. A 7 minute walk from the heart of the old town. Extremely clean, spacious rooms. Beds come complete with a mosquito net. The staff are incredibly helpful and speak excellent English. Free internet and wi-fi. doubles ~US$20.  edit 
            <br/>
            * Grassland Hotel, (Thao Nguyen Hotel), 500 Hai Ba Trung Street, ☎ +84-510-3921921, [20]. Provides free bicycles and 1 hour free Internet per day. from US$15 (including breakfast) for a single room, US$18 for superior twin & double rooms (rates don't include 10% tax). Breakfast includes 1 food + 1 drink, more will be charged extra. No one tells you about tax and breakfast details unless you ask..  edit 
            <br/>
            * Green Field Hotel, 423 Cua Dai St, ☎ +84-510-863484 (greenfield@dng.vnn.vn, fax: +84-510-863136), [21]. Good value hotel with friendly English-speaking staff and a good location. Satellite TV and decent air conditioning in rooms. Free computers with Internet in the lobby, free wifi (patchy in rooms), free use of the swimming pool and free cocktails in the evenings! Singles from US$17, doubles from US$20.  edit 
            <br/>
            * Hoa My, 201 Ly Thuong Kiet Street (Cnr Hai Ba Trung), ☎ +84-510-916582. Cheap, modern, very clean, but of course a bit outside the old town. There are two more similar hotels next to it. from US$10.  edit 
            <br/>
            * Nhi Nhi Hotel, 60 Hung Vuong Street, ☎ +84-510-916718, [22]. checkout: 12PM. About 10min walking from the Old Quarter, near the Bridge Pagoda, Nhi Nhi Hotel offers affordable, nice rooms and swimming pool in an authentic Vietnamese neighborhood. Near a local market but a bit far from tourist sites. According to the staff, they just upgrade to 2-star. So price changes a lot and you have to bargain to get good price. Normally price doesn't include breakfast US$15-20 including breakfast(?).  edit 
            <br/>
            * Phuoc An hotel, 31/1 Tran Cao Van St.. A clean, friendly and modern atmosphere make the Phuoc An hotel one of Hoi An's more notable. An indoors restaurant on the first floor overlooks the hotel jacuzzi. The hotel is a stones throw from the markets, tailors and old quarter. Bicycles are offered to patrons free, however motorbikes can be rented at a cost of US$4 per day from across the road. Good service and complementary all you can eat breakfast each day before 11. 18-30$US per night.  edit 
            * Thanh Binh 3, Ba Trieu Street. (off Hai Ba Trung Street), ☎ +84-510-916777. Popular budget hotel done up like a Chinese temple, with a pool and pleasant rooms, all air-con equipped. The mattresses are on the hard side though and the breakfast isn't much to write about. US$15-30.  edit 
            <br/>
            <b>Mid-range</b>
            <br/>
            * Ha An Hotel, 6 Phan Boi Chau Road, ☎ +84 510 863126. Located in a quiet area beyond the main markets, this hotel consists of a few buildings built in a semi-French colonial style around a central courtyard. The rooms are airy, light and pleasant with air-conditioning, bathrooms and TV. A basket of fresh fruit is usually provided in the room. There's a collection of books in the reception area that can be borrowed by guests. The price includes an excellent breakfast and free use of bicycles. US$30-40.  edit 
            <br/>
            * Hoi An Indochine Hotel, Cua Dai Road, ☎ +84 510 923608 (infor@hoianindochine.com, fax: +84 510 923578), [23]. Only 5 minutes walk from the beach, by the calm and romantic river and garden. French style architecture with 61 river view rooms. US$65/night (10 superior rooms), US$75/night (45 deluxe rooms), US$105 (6 suites).  edit 
            <br/>
            * Hoai Thanh Hotel, 187 Ly Thuong Kiet Street, ☎ +84 510 861171 (info@hoaithanhhotel.com, fax: +84 510 861135), [24]. About 200 meters from the center of town. US$24-75.  edit 
            <br/>
            * Hoian Vinh Hung 3 Hotel, 96 Ba Trieu Str, [25]. checkin: 13.00.; checkout: 12.00 noon. Free wifi in room. Very nice staff. Breakfast included. Free swimming pool. Very sentral, short walk to city center. US$20-35.  edit 
            <br/>
            * Lotus Hotel, 330 Cua Dai Road, Hoian, ☎ +84 (510) 923 357 (hoianlotus@dng.vnn.vn), [26]. Beautifully designed resort-hotel draws from a range of styles & influences resulting in a perfect blend of Eastern culture & French architecture, immaculately furnished and equipped rooms in a relaxing combination of Vietnamese, Japanese and French styles. Free ADSL / Wi-Fi available throughout the building. US$36-55.  edit 
            * An Huy Hotel, 30 Phan Boi Chau Street, Hoi An, Quang Nam, ☎ +84 (510) 862116 / 914627 (anhuyhotel@vnn.vn), [27]. Conveniently located near the Central Market, the Phan Boi Chau Street is however away from the din of most streets in the heart of Hoi An. The hotel is new, converted from a traditional Hoi An shophouse and has got only 6 rooms. Breakfast was good and really like the pancake with banana fillings. There are 2 brand new computers set up in the lobby to provide free Internet access. Definitely value for money! US$25 for a double room.  edit 
            <br/>
            <b>Splurge</b>
            <br/>
            * Dong An Beach Hotel, ☎ +84 510 927888 (info@donganbeachhotel.com), [28]. Overlooking the Thu Bon River, and < 5min walk to the Cua Dai beach. Some 5 km away from town. US$79-195.  edit 
            <br/>
            * Furama Beach Resort, [29]. Brand new luxury resort on fabled China Beach. About 20 minutes to Hoi An by taxi (5 minutes to Da Nang) Internet rates starting at US$150, walk-up rates from US$200.  edit 
            <br/>
            * Hoi An Pacific Hotel, 167 Cua Dai Street (halfway between beach and town), ☎ +84 510 923 777 (info@hoianpacific.com), [30]. Opened in spring 2004, with 1 restaurants and 2 bars, including the "Sky Bar", the highest located in town at the 6th floor of the hotel with terrace view of all the whole area. US$70-120.  edit 
            <br/>
            * Hoian Vinh Hung Hotel & Resort, [31]. US$70-110.  edit 
            <br/>
            * Life Resort Hoi An, 1 Pham Hong Thai Street, ☎ +84 (510) 914-555 (hoian@life-resorts.com), [32]. US$98-268.  edit 
            <br/>
            * Swiss-Belhotel Golden Sand Resort & Spa, Thanh Nien Road - Cua Dai Beach, ☎ +84 510 927 550, [33]. Internet rates from US$105, beach-front suites US$285.  edit 
            <br/>
            * Victoria Hoi An, Cua Dai Beach, ☎ +84 510 927 040, [34]. Internet rates from US$125, walk-up rates from US$165, honeymoon suites US$210-300.
              </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"11"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
