<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Hue (Huế) is in the central region of Vietnam and is the former imperial capital.
            <br/>
            <b>Understand</b>
            <br/>
            Hue is intimately connected to the imperial Nguyễn Dynasty, based in Hue, who ruled from 1802 to 1945, when the Emperor Bao Dai abdicated in favor of Ho Chi Minh's revolutionary government. The city went through tough times during the Vietnam War, when it was conquered by the Viet Cong and held for 24 days, during which the VC slaughtered around 1,000 people suspected of sympathizing with the South, and then subject to an American bombing campaign to retake the city.
            <br/>
            <b>Orientation</b>
            <br/>
            Hue is easy to get a grip on. The main landmark is the Perfume River (Hương Giang), with the old city and the Citadel on the north side and the newer city, including most hotels and restaurants, on the south side. Much of the riverside has wisely been done up as a pleasant promenade and park dotted with bizarre sculptures.
            <br/>
            <b>Climate</b>
            <br/>
            Hue's weather is infamously bad: the Truong Son Mountains just to the south seem to bottle up all the moisture, so it's usually misty, drizzly or outright rainy, and things get even drippier than usual in the winter rainy season, especially from February to the end of March.Bring along an umbrella any time of year. Don't forget to bring a sweater and jacket in winter, as it can get rather chilly, with temperatures falling to as low as 14 at night. However, when the sun makes an appearance for a day or a week, it can reach 30.
            It's usually quite dry during the summer months, when the temperature can reach the high 30's. Summer rains can be heavy but brief, and often arrive unexpectedly, whereas February rains can last for weeks. The best description for the weather in Hue would be "changeable".
            However hot or rainy it may get, Hue should still be high on your list of places to visit, as its beauty more than makes up for the crazy weather.
            <br/>
            <b>Get in</b>
            <br/>
            <br/>
            <b>By plane</b>
            <br/>
            Hue's small Phu Bai airport fields daily flights to and from Ho Chi Minh City and Hanoi, but flights are quite often disrupted by poor weather during the rainy season (Mid October - Mid December). It is 25 minutes away by taxi. The airport facility has recently been renovated.
            Danang's airport, only two hours away by car now that the Hai Van Tunnel is open, is busier, and has more connections, but a major renovation is planned for Phu Bai, beginning in 2009, in order to accomodate more flights, bigger planes, and many more destinations.
            <br/>
            <b>By train</b>
            <br/>
            Several trains a day to Hanoi, Ho Chi Minh City, Danang (4 hours) etc. The journey down south through the Hai Van Pass is particularly scenic, and from Danang you can take a taxi or motorbike to Hoi An.
            A second-class sleeper ticket from Ho Chi Minh City on the much superior 'express' SE2-SE6 train to Hue costs between 588,000 & 740,000 dong depending on the level you're on (1,2 or 3). You can get other train types, but the little extra you pay is worth it several times over. It offers a wonderful travel experience. The traveler gets to sit, lie and sleep in a very small cabin for 23 hours with five other people (nearly always Vietnamese), eat four plain but tasty and filling Vietnamese meals, listen to a fine selection of Vietnamese pop songs on the PA, and see some incomparably beautiful countryside, particularly in the last section between Da Nang and Hue. It's an excellent way to see the country and meet ordinary Vietnamese, who are unfailingly friendly and helpful, even to travelers who have not bothered to learn a word of their language. The trip is especially recommended if you like babies.
            Buy your tickets at the train station, it's well worth your effort. Hotels often over charge by doubling the prices(at least 80usd for softsleeper), often using excuses like it's high season, that they have to buy it at the black market.
            <br/>
            <b>By bus</b>
            <br/>
            Public buses from all the bigger cities (including frequent services to Hanoi and Saigon) connect to the main bus station (Bến Xe Phía Nam and Bến Xe Phía Bắc). Most open tour buses include Hue in their itinerary, connecting to Hoi An or Da Nang to the south (4-6 hours) and Hanoi to the north (13-16 hours). The overnight Hanoi route is popular with locals, but beware of motion sickness among them.
            <br/>
            * Sinh Café, 7 Nguyen Tri Phuong St, [1]. Direct buses from Hoi An cost US$4 and leave twice daily: the 08:00-12:00 service stops at the Marble Mountains and makes the trip in 4 hours, while the 14:00-17:00 service manages the trip in three. Buses to Hanoi depart at 17:30 every day (US$9) with stops in Dong Ha and one or two other places. 
            <br/>
            There are also frequent bus services to Savannakhet and Vientiane in Laos. Buses leave at 06:00 and 18:00. The trip to Savannakhet takes about 12 hours and cost around US$12, to Vientiane about 20 hours and US$15-20.The vehicle can be anything between minibus, air-con bus to a local 30 years old bus. You'll probably have to change bus 3-4 times during the trip and toilets (aside from squatting in the jungle) are seldom available. Tickets can be bought in any booking office in the center of Hue.
            <br/>
            <b>Get around</b>
            <br/>
            <br/>
            <b>By taxi</b>
            <br/>
            Like other Vietnamese cities, Hue is flooded with cyclos and motorbikes, as well as a few meter taxis. Taxi drivers are usually honest, but make sure they turn the meter on: trips start at 15,000 dong for the first 2km and tick upward at 11,500 dong/km. A metered trip out see two tombs, with waiting time, should come to around 300,000 dong (US$18).
            <br/>
            With cyclos and motorbikes, all of the usual disclaimers apply: negotiate a price ahead of time, and don't be afraid to walk away if they're asking too much. No trip in Hue should cost more than 20,000 dong.
            <br/>
            <b>By bike</b>
            <br/>
            Hire a motorbike and join the locals as they swarm across the bridges and along the main roads at a leisurely pace. They're available for around US$5/day from hotels and shops.
            <br/>
            Cycling is also a good option, with plenty of bikes available for no more than US$1/day.
            <br/>
            <b>By cyclo</b>
            <br/>
            A cyclo is the local versions of the trishaw, with the passenger in front of the cyclist. Be prepared to haggle for reasonable prices as cyclo drivers tend to quote indiscriminately. It's a good idea to agree absolutely on your price before you go. Of course, if you want to change your itinerary after you're already on the way, you should discuss how this might affect the agreed price with your cyclo driver right away. Otherwise, you may get a rude surprise when you arrive at your final destination, and the driver tries to charge you an exorbitant amount. Be aware that while most of the cyclo drivers in Hue are fair, and can be quite helpful, there are a few who are very unscrupulous. If you agree on the price as "100", make it very clear that you are agreeing on 100,000 Dong, and not 100 US dollars!
            <br/>
            <b>On foot</b>
            <br/>
            Hue is quite compact, so you can reach most of the hotels, restaurants, and the Citadel easily on foot. You'll need to arrange transportation to reach the emperors' tombs, though.
            <br/>
            <b>See</b>
            <br/>
            <br/>
            <b>Imperial Citadel (Đại Nội)</b>
            <br/>
            The former imperial seat of government and Hue's prime attraction, this is a great sprawling complex of temples, pavilions, moats, walls, gates, shops, museums and galleries, featuring art and costumes from various periods of Vietnamese history. Thanks to its size, it is also delightfully peaceful - a rare commodity in Vietnam.
            <br/>
            The citadel was badly knocked about during fighting between the French and the Viet Minh in 1947, and again in 1968 during the Tet Offensive, when it was shelled by the Viet Cong and then bombed by the Americans. As a result, some areas are now only empty fields, bits of walls, and an explanatory plaque. Other buildings are intact, though, and a few are in sparkling condition. For the rest, while restoration has been going on for 20 years, there is still quite a long way to go. Allow several hours to see it properly. Entry 55,000 dong open 06:30-17:00.
            <br/>
            * Ngọ Môn. The main southern entrance to the city, built in 1833 by Minh Mang. The central door, and the bridge connecting to it, were reserved exclusively for the emperor. Climb up to the second floor for a nice view of the exquisite courtyard. The Ngo Mon Gate is the principal entrance to the Imperial Enclosure. The Emperor would address his officials and the people from the top of this gate. 
            <br/>
            * Thái Hòa Palace. The emperor's coronation hall, where he would sit in state and receive foreign dignitaries. 
            <br/>
            * Trường Sanh Residence. Translated as the "Palace of Longevity", the Truong Sanh Palace was the residence of King Tu Duc’s mother, Empress Tu Du, under the Nguyen Dynasty in the 19th century. It lies in Tu Cam Thanh, one of the two major parts of the Hue Citadel. Currently under renovation, the project, estimated to cost almost VND 30 billion (roughly US $1.8 million), includes the restoration of Lach Dao Nguyen, the Palace's protective moat, decorative man-made rock formations and mountains, bonsai gardens, and the palace gate. The restoration is expected to be completed in 2009, but this is doubtful. While not officially open to the public, it is possible to enter the grounds and should be seen, as even in it's overgrown state, it's beauty is recognizable. 
            <br/>
            * Forbidden Purple City. Directly behind Thai Hoa Palace, but it was almost entirely destroyed during the 1968 Tet Offensive and only the rather nondescript Mandarin Palaces on both sides remain. 
            <br/>
            <b>Tombs of the Emperors</b>
            <br/>
            The other great attractions in Hue are the Tombs of the Emperors, which are located along the Perfume River south of the city. They are accessible by taxi or bike from the city, but the best way to see them is to hire a river boat and go for a cruise. Plan to make a full day of it.
            <br/>
            Group tours usually cost about US$2, which includes an excellent (really!) lunch aboard the boat, but does not include admission to the tombs (55,000 dong apiece; cheaper for locals, of course) or the cost of a motorbike from the wharf to each tomb. If you're with a group, the price should be set by the tour company at roughly 25,000 dong for each round-trip. Choose a tour with as few stops as possible. Some companies lard up their itineraries with visits to silk farms and a few pagodas, promising to fit everything in neatly, however tour companies aren't noted for their time management, and you'll wind up rushed along and frustrated for at least one of the tombs.
            <br/>
            If you're travelling on your own, boat hire or a motorbike and driver should cost somewhere around US$20, again not including tomb admissions. All of the tombs can be walked to from the wharfs in anywhere from ten minutes to half an hour. The paths are mostly obvious, but you still probably shouldn't try it without a map or a terrific sense of direction. Most of the tombs are open from 7:30am or 8am to 5:30pm, depending on the season; note that the tour groups arrive around 10am and leave around 3pm in order to get back before dinner, so plan accordingly to avoid the crowds. You'll be glad you did.
            <br/>
            The tombs are also easily reached by bicycle, although there is a shortage of good maps of how to reach them. Ask your hotel about bicycle rentals and maps, and be cautious on the crowded and potentially potholed roads. This is probably the most inexpensive (and enjoyable, if you enjoy cycling) way to reach the tombs.
            <br/>
            The tombs themselves are worth the cost and effort. They mostly date from the late 19th or early 20th centuries, when the Emperors had been reduced to figureheads under French colonial rule and had little else to do than build themselves elaborate tombs. The finest of them are the Tomb of Tu Duc, the Tomb of Minh Mang and the Tomb of Khai Dinh, all of which are excellent examples of Vietnamese Buddhist aesthetics and architecture. The older ones have been allowed to crumble into picturesque semi-ruin, although some are now being restored.
            <br/>
            In order of age:
            <br/>
            * Tomb of Gia Long (40km) - the most remote of the tombs, quiet and fallen into disrepair as Gia Long, the first Nguyen emperor, was notoriously despotic. 
            <br/>
            * Tomb of Minh Mang (12km) - in this opulent complex, the main buildings are arranged on an east-west axis, including a courtyard surrounded by warrior statues and several temples and pavilions. Several bridges cross two lakes before the axis ends before the vast burial mound (which is circled by a fence). The mausoleum features large gardens and lakes: a pleasant place to sit and relax. If you're dropped off by boat note that there is a stretch of souvenir sellers to navigate during the short walk to the mausoleum entrance. 
            <br/>
            * Tomb of Thieu Tri (8km) - built in 1848. 
            <br/>
            * Tomb of Tu Duc (7km) - Constructed from 183364 to 1867, the complex served as a second Imperial City where the Emperor went for "working vacations". Tu Duc's contemplative nature and poetic spirit is reflected in the landscape and arrangement of the 50 buildings that at one time stood here. A vast, sprawling complex set around a lake, with wooden pavilions and tombs and temples dedicated to wives and favored courtesans (Tu Duc had 104 to choose from). The courtesans' quarters are in ruins, with only outlines and crumbling walls left amid waves of overgrown grass and silence, but other areas are stunningly well-preserved. The Emperor's tomb itself, tucked away in the back, is surprisingly modest - the final courtyard is nearly empty with just a stone coffin in the middle. (The tombs of Empress Le Thien Anh and Emperor Kien Phuc, who briefly ruled in 1884, are also located here.) Try to dodge the crowds for this one. 
            <br/>
            * Tomb of Dong Khanh - built in 1917. 
            <br/>
            * Tomb of Khai Dinh (10km) - dating from 1925, this is the best preserved of the lot and, while comparatively compact, quite grand at first sight. While it follows the classic formula of forecourts leading up to the tomb of the Emperor, complete with statues in attendance, architecture buffs will spot some European influences. The tomb itself is completely over the top with incredibly detailed and opulent mosaics of cavorting dragons. Try to get to this one early, as it is a favorite stop for Asian tour-bus groups. Also, you may want to leave the tourist path and head up the hill on the right side of the tomb, where a small temple stands. You will have a great view of the tomb and the valley it faces. 
            <br/>
            <b>Other sites</b>
            <br/>
            * Thien Mu Pagoda (4km) - perched on a bluff over the river and housing some very fine gold and silver Buddha images. The Thien Mu Pagoda overlooks the Perfume River and is the official symbol of the city of Hue. Thien Mu means "elderly celestial woman", and refers to an old legend about the founding of the pagoda. Brimming with opportunities for great photos. 
            <br/>
            * Phu Bai Airport is a must-see if you are interested in the war. The airport was a dirt strip during the Indochina War. Then, during the Vietnam War, an American garrison was assigned there and built up the airport with concrete bunkers, a paved airstrip, and a few other luxuries. The airport was vital in keeping Hue supplied during the Eastertide Offensive of 1972 when "Charlie jumped the line". The airport retains the original buildings built by the Americans; however, they have been retrofitted for use by the Vietnamese. 
            <br/>
            <b>Do</b>
            <br/>
            * Blind massage - at the institute for the blind, off Phan Boi Chau street (Kiet/Alley 180 Phan Boi Chau) on the right up the hill about 1km past the train tracks (look for a small blue sign with English). 30,000 dong/hour. All of the staff work and live in this facility, and speak a little English. This is where the locals go. 
            <br/>
            * My An Hot Spring and Spa - 7km from Hue on the way to Thuan An beach. US$3 for foreigners to use the swimming pool and 2 hot spring pools. The water here has a high sulfur content, purported to have health benefits. 
            <br/>
            * Thanh Tan Hot Springs - about 13 km from Hue Center. Similar to My An, but without the odor of sulphur. This site is surrounded by woods, which are pleasant to explore. Has graduated sections. Start with the cool section, and work your way up. The hottest section is actually closed off, as it is too hot to bathe in. There are also private pools for 2 or 4 people, and a swimming pool. There is a tiny restaurant on site. This is also where the local bottled Thanh Tan mineral water comes from. 
            <br/>
            * Thuan An Beach - 15km from Hue. 
            <br/>
            * Ho Chi Minh Museum 6 D Le Loi - Free admission. Contains photos and information on Ho Chi Minh as well as the history of Hue in photographs. 
            <br/>
            * Scams There are several "massage parlors" in town (catering strictly to the tourists) that are less than reputable, where the main attraction seems to be attractive girls flirting and chatting up the customer for a big tip. Don't bother asking your hotel for a recommendation, they will try to steer you to the one that provides them the biggest kickback. Also, if buying a bus-ticket, shop around and let them know you are looking for the best price. A bus ticket to Ho Chi Minh City runs around $20-$30, but you will hear quotes as high as $80. However, you can expect prices to be somewhat higher around certain holidays, such as Tet, when everyone is trying to get home. Be very clear on the price when you take a cyclo. (See cyclo section) 
            <br/>
            * Kim Long Charity Clinic, 36 Kim Long St, Kim Long (On the way to the Thien Mu Pagoda), [2]. Tu, Thur, Sat, 7:30am-5pm. Give a small donation to the hardworking nuns at the Kim Long charity clinic, which provides free health care and medications to the poorest people in the region - see their website for more information  edit 
            <br/>
            <b>Buy</b>
            <br/>
            A traditional industry of Hue is embroidery, and framed embroidery can be purchased in the many stores of the backpacker area of Hue.
            <br/>
            <b>Eat</b>
            <br/>
            * Paradise Garden Restaurant (Nha Hang Vuon Thien Dang), 17 Le Loi Street, Hue (in front of Saigon Morin Hotel), ☎ 838485. 07.00 - 23.00. Expensive, nice settings, not very authentic but still good- cheap by normal standards obviously. The live music is good. 1-5 USD.  edit 
            <br/>
            Hue is famed for its Imperial cuisine, originally prepared for the emperor and his retinue. Although the emphasis is more on presentation than taste, an imperial banquet is well worth trying.
            <br/>
            The most famous local dish is bún bò Huế, a noodle soup served with slices of beef and lashings of chili oil. Another tasty local treat is sesame candy (mè xửng), which is peanutty, chewy and quite tasty if fresh, and goes for under 10,000 dong/box.
            <br/>
            Nem Lui is a dish of sweet, minced pork around bamboo sticks grilled over hot coals. Banh Khoai is a "pancake" filled with bean sprouts, shrimp and pork. Bun Thit Nuong is delicious barbecued pork served with vegetables and noodles.
            <br/>
            <b>Budget</b>
            <br/>
            * You and Me, 38 Tran Cao Van. This place is clean, has friendly staff, and seems to be popular with both locals and tourists. Try the local dish, banh khoai, or the restaurant specialty, banana pancake. Both are delicious and cheap. They have lots of other stuff on the menu, from fish to vegetarian noodles, and icy cold local Huda beer. Don't forget to admire the bonsai tree at the cash; the owner grows them. 
            <br/>
            * Bun Bo Hue, 11B Ly Thuong Kiet. This eponymous eatery specializes in its namesake dish. 15,000 dong gets you a bowl with a generous, mouth-meltingly soft (if fatty) cutlet plopped on top. Others: Bún Mụ Rơi (Nguyễn Chí Diễu st), Bún Cây Đa (Nguyễn Sinh Cung st), Bún Nguyễn Du (Nguyễn Du st) 
            <br/>
            * Bun Cam, 38 Tran Cao Van st, Very popular with locals, but only opens for the early morning, about 6 am until they run out of soup. This is the real thing, local style, not adapted for the Western palate. Try it with their chili sauce, also a local specialty that shouldn't be missed. The lady sitting behind the soup cauldron is Cam, the cook and namesake of the business. She only speaks Vietnamese, but just look in the pot, like the locals do, and point at what you want. The price varies with how many different things you choose. 
            <br/>
            * Friendly restaurant, D Pham Ngu Lao, an excellent choice with charming staff and a wide range of Vietnamese and European food. Opened in 2005 and owned by a Vietnamese family, Friendly restaurant is in the town's centre. 
            <br/>
            * Mandarin Café, 12 D Hung Vuong. The owner is also a good photographer and many of his pictures hang on the wall. Worth a look. 
            <br/>
            * Banh Khoai "Hanh", 11 Pho Duc Chinh- Tel: 054 833552 is known as the best Banh Khoai(Pancake) in Hue. This is a family restaurant. Nem Lui (minced pork grilled with lemon grass on coal) and Banh Beo also recommended. Bánh Khoái Lạc Thiện (Trần Hưng Đạo st). Bánh Khoái Hồng Mai (Nguyễn Biểu st) 
            <br/>
            * Brown eyes restaurant 1/34 Nguyen Tri Phuong - Tel: 054 832572 . You need cheap food and big plates ? Go to Brown Eyes and you will be satisfied for breakfast, lunch or dinner. 
            <br/>
            * Phuong Nam Cafe, 38 Tran Cao Van - Tel: 054 3849317 is a nice little restaurant with very good food (tried 5 dishes, all some of the best I tried in Vietnam) and fruit shakes, at very reasonable prices (20.000-30.000 Dong). Try the Sweet and sour squid and the sweet and sour breaded shrimps! 
            <br/>
            <b>Mid-range</b>
            <br/>
            * Little Italy, 2A Vo This Sau Street [3] Serves the best pizza and pasta in town. Unfortunately, most of its other food is not recommended. Call 054826928 for delivery. 
            <br/>
            * Ong Tao, 31 Chu Van An. 054.823031. Excellent traditional Hue food, try the meat rolls (wrapped in mint leaves) or the fried spring rolls -incredibly crunchy-. Not too crowded, kind of hidden in a first floor. Don't miss it. All dishes (US$1-7) have small and big versions, so you can order a few.
            <br/>
            * Không Gian Xưa", Điện Biên Phủ st. A nice place to enjoy delicious local cuisine in a well designed traditional style building. 
            <br/>
            <b>Splurge</b>
            <br/>
            * Tinh Gia Vien, 20/3 Le Thanh Ton, tel. +84-54-522243. Wonderful old Hue-style nha vuon garden villa on a quiet side street, formerly the residence of a princess, converted by a bonsai enthusiast into a restaurant serving Imperial cuisine. There are three set menus at US$10/12/15 ("big", "bigger" or "biggest", according to the menu) but all sets have 11 courses and are guaranteed to fill you up. The food wins full points for presentation, but is unfortunately somewhat toned down for the foreign palate. 
            <br/>
            <b>Vegetarian</b>
            <br/>
            The people of Hue have a strong tradition of eating vegetarian food, so vegetarian restaurants are more common in Hue than in the rest of Viet Nam. On the 1st and 15th of every lunar month, vegetarian restaurants are packed full of patrons for dinner and it may prove difficult to find a seat. Vegetarian restaurants are the cheapest places to eat, after street vendors.
            <br/>
            * Bo De, D Le Loi. Run by the Huong Giang travel company. Serves delicious vegetarian appetizers and entrees. Expect to fill yourself for US$2-3/person. 
            <br/>
            * Lien Hoa, D Le Quy Don. In the grounds of the Lien Hoa pagoda, across from the football stadium. Monks and nuns frequent this restaurant during lunch. A small shop near the door sells Vietnamese language Buddhist texts, prayer beads and icons. 
            <br/>
            * Com Chay (vegetarian rice) Is near the River on on the 'newer side' it has simple, but good and cheap vegetarian meals. 
            <br/>
            <b>Drink</b>
            <br/>
            * B4 Bar-Café, 75 D Ben Nghe. A charming Belgian-Vietnamese owned bar, with a welcoming interior and free pool. 
            <br/>
            * Brown Eyes Chillout Bar-Club, 56 Chu Van An, Hue, ☎ 054.827494. Happy hour(s) 5pm-10pm. Live DJ, free pool table, and a good vibe. Not far from Pham Ngu Lao, but they offer to pay for taxis from hotels for parties of four persons or more. Stays open till the last ones pass out! No cover..  edit 
            <br/>
            * Café on Thu Wheels, 1/2 D Nguyen Tri Phuong. It's a little bar owned by the charming lady Thu. 
            <br/>
            * DMZ Bar & Café, 44 D Le Loi. Stays open late. 
            <br/>
            * Little Cargo Restaurant, 86 Le Loi, Hue Central (Local food & Western food), ☎ +84.905.919668. Local, international food.  edit 
            <br/>
            <b>Coffee</b>
            <br/>
            There are lots of small cafés (quán cafe) in Hue. Going out for coffee is a favorite local pastime. Most Hue people wouldn't think of starting the morning without meeting friends over a glassful. Most coffee shops open for business in the morning, close down from about 10:30 or so until late afternoon, then open again for the after-work and evening crowds. Do try the local style, iced, either with condensed milk, or black, which means with sugar. In the South, the iced coffee comes in a tall glass with lots of ice and lots of syrupy milk. In the Central area, the glass is much smaller, and the coffee is usually stronger. If you don't look Vietnamese, you may be served a weaker coffee, or if you order cafe nong (hot), they will also give you an extra glass of hot water to pour in. Do try your coffee first, to taste it the way the locals like it. Something like an iced, sweet espresso, with chocolaty overtones.
            <br/>
            * Sidewalk Coffee - Opposite 30 Bach Dang st. Go local and try some delicious early morning coffee with chocolaty overtones, hot or iced, while watching river life on the canal. The woman who brews it up also offers banh mi, french bread with your choice of fillings. Another woman shares the same patch of sidewalk and sells very reasonably priced banh canh, a popular local breakfast soup. A real plus here is the cleanliness. The coffee glasses are spotless! Open from about 5:30 a.m. until 9 or 10, when the coffee and food are sold out. After your coffee, you can continue walking along Bach Dang to reach 2 famous local pagodas, both nearby. 
            <br/>
            <b>Sleep</b>
            <br/>
            There are plenty of cheap traveller hotels and mid-market hotels in Hue, as well as a couple of expensive giants. The largest cluster is around the short lane of Pham Ngu Lao (including Le Loi, Hung Vuong, and Chu Van An). It's not quite as big (or backpackery) as its Ho Chi Minh City namesake, but still a definite tourist magnet.
            <br/>
            <b>Budget</b>
            <br/>
            * Sports Hotel, 15 Pham Ngu Lao Street. Nice cheap 2-star hotel located on the main tourist hangout. Surprisingly clean and big spacious rooms and not far from the river. From US$10..  edit 
            <br/>
            * A Dong Hotel, 1 Chu Van An, ☎ 054.824148. Nice building, quiet location around the corner from Pham Ngu Lao and the river. From US$10..  edit 
            <br/>
            * Bao Son Hotel, 39 Nguyen Cong Tru, ☎ 84.054.3827189. Clean, new and well kept with friendly staff. From US$8..  edit 
            <br/>
            * Binh Duong I + III Hotel. hot water & satellite TV included. From US$5..  edit 
            <br/>
            * Halo, 10A/66 D Le Loi (up an alley coming off the main road, where there is an array of other guest houses - there's a small sign for it along with some others at the alley's entrance). Spotless rooms, spacious, with large bathrooms and TV. There is a balcony to sit at night, and it's close to all the nightlife in Hue. Doubles 160,000 dong / US$10..  edit 
            <br/>
            * Mimosa Guesthouse, Le Loi, ☎ 054.828068. friendly, quiet location in a backpacker hotel alley off Le Loi. From US$4..  edit 
            <br/>
            * Minh Hieu Hotel, 3 Chu Van An, ☎ 054.828725. Family-run hotel named after the wild urchin who'll make his displeasure known if you spend too long on the Internet-ready computer downstairs, thereby keeping him from online puzzle games. The rooms are spotlessly clean, with satellite TV, hot water, and mini-fridges; each floor has a balcony, and it's not too loud outside. Breakfast is available for US$1. From US$10..  edit 
            <br/>
            <b>Mid-range</b>
            <br/>
            * Park View Hotel Hue, 9 Ngo Quyen, Hue City, Viet Nam, ☎ +(84-54) 837382, [4]. Park View Hotel is a four star hotel in the center of the city, near the Perfume River. It's a 10-minute walk to Hue Citadel.  edit 
            <br/>
            * Asia Hotel. Opened only in December 2004, but despite the token modern TV, the fittings seem much older. The rooms are well enough equipped though and the rooftop restaurant and pool have nice views. Rooms from a slightly overpriced US$30, including a decent buffet breakfast. (,n) edit 
            <br/>
            * Orchid Hotel. This hotel feels like a 5-star establishment with very professional and personable staff. Clean, spacious, and beautifully designed rooms. Double rooms US$35, including a decent buffet breakfast.  edit 
            <br/>
            <b>Splurge</b>
            <br/>
            * La Residence, 5 D Le Loi (Walking distance from the train station), ☎ (84) 054 837 475, [5]. Renovated and restored 4 years ago, it tries to bring to life the French colonial era of the 1920's. It has the largest swimming pool and spa in Hue, and the general manager and chef are German. From US$136..  edit 
            <br/>
            * Saigon Morin, 30 Le Loi Street. Hue's grand old hotel, opened by a Mr. Morin from France and running strong for over a hundred years. Excellent riverside location, white-washed colonial charm and a pleasant inner courtyard, although the rooms could use a little fine-tuning. From US$100..  edit 
            <br/>
            <b>Get out</b>
            <br/>
            * Hue travel agents are keen to sell day-tours of the former Demilitarized Zone (DMZ), which was supposed to be a buffer between North and South Vietnam, but which saw intense fighting. DMZ trips will include the famous Vinh Moc tunnels, where a few hundred people lived for two and a half years. 
            <br/>
            * Surrounding Countryside You can be outside the city of Hue and into the jade green rice fields in just 10 minutes. Whether by car, motorbike or bicycle, there is much to see. (It's a bit too far to go by foot). Different villages tend to specialize in different handicrafts, so you can visit one area to see noodle-making, another for incense, then move on to see bronze-crafting, or rice cultivation. 
            <br/>
            * Hoi An - old merchant port 100km away (about 4 hours by road or train), with Da Nang, the Marble Mountains and China Beach as potential stops along the way 
                </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>

<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"5"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
