<table width="670">
    <tr>
        <td class="font_standand" style="font-size:11px;text-align:justify;width:440px;vertical-align:top;">
            Sapa is a beautiful, mountainous town in northern Vietnam along the border with China.
            <br/>
            <b> Understand</b>
            <br/>
            Located in Vietnam's remote northwest mountains, Sapa is famous for both its fine, rugged scenery and also its rich cultural diversity. Sapa is an incredibly picturesque village that lies in the Hoang Lien Son mountain range near the Chinese border in northwestern Vietnam, known as "the Tonkinese Alps". Sapa and its surrounding region is host to many hill tribes, as well as rice terraces, lush vegetation, and Fansipan, the highest peak in Vietnam. However, as a result of a recent surge in popularity Sapa has rapidly become a tourist hotspot where money is the new drug of choice. Don't be put off by the rush, your explorations of the surrounding countryside will be worth the trouble.
            <br/>
            <b> Ethnic Minorities</b>
            <br/>
            Many ethnic minorities, such as the Hmong and the Dao, live in and around Sapa. Many older women in particular make items such as ethnic-style clothes and blankets, to sell to tourists. Striking up a conversation with them can be very rewarding. Sadly, however, doing this in Sapa town itself will sometimes lead to a scrum as a multitude of vendors taste a potential sale.
            Children from these ethnic minorities begin to earn a living as soon as they are five years old. They often peddle small metal or silver trinkets, embroidered pillow cases and friendship bands in the main town, and they walk for about 3 hours from their villages to reach. Some of the "richer" ethnic women sometimes take a one-hour motorbike ride back to their villages at the end of the day.
            Girls as young as ten years old can get married and often have two children by the time they are 20 years old. This is especially the case for the more beautiful ones. Poverty has led to a majority of girls who leave their villages each day to go to Sapa town and to have only one meal per day.
            <br/>
            <b> Weather</b>
            <br/>
            In winter, the weather in Sapa often gets cold, wet and foggy (temperatures can drop to nearly freezing). Travellers have rolled into town on a glorious clear day and proceed to spend a week trapped in impenetrable fog. In winter, bring along warm clothes or prepare to be cold and miserable, as many hotels do not have efficient heating in their rooms. It rains very often during the month of August, especially in the mornings.<b> Travel Tips</b>
            <br/>
            Bear in mind that some of the minorities do not wish to have photos taken of them. Ask permission beforehand.
            Bring along a poncho. You can also buy a cheap one in the many shops around.
            Rubber boots and trekking shoes can be rented from some shops or perhaps at the hotel you are staying in. However, do bear in mind that they have limited sizes.
            Do buy some items from the ethnic minorities, especially if you have enjoyed a good conversation or received help from them. Though they do charge slightly more than the shops, bear in mind that the majority of them are very poor and depend on tourist dollars to survive.
			<br/>
			<b> Get in</b>
            <br/>
            <b> By train</b>
            <br/>
            From Hanoi it is a 9-hour train journey to Sapa.
            Vietnam Rail operates some of the cars, but other cars in the train are operated by private companies (Tulico, Ratraco, Victoria Hotels, and others). Some of these cars are significantly nicer than the standard cars. You may need to arrange with a travel agency to get tickets on these tourist cars, but any traveller can purchase tickets for the VNR cars at the Hanoi train station.
            Cheaper tickets, especially in hard sleeper class, can be hard to come by at times, as tour companies and travel agents will snap up these to foist on their own customers (too frequently a promised soft sleeper berth will turn into a hard sleeper when it comes time to board). To avoid rip offs better go to the train station by yourself and get the ticket from the ticket office. This is the only way to make sure that you will get what you have paid for. Travel Agencies in Vietnam are known for their bad business practice. Although one cannot be assured of finding a place, it is often possible to arrive at the station a short while before boarding time, as there are usually young men hanging around trying to hawk unfilled berths at the last minute. The price of these tickets will fall dramatically as departure time draws near.
            Prices vary according to both the type of seat purchased and the season during which you are travelling. The times around Vietnamese holidays are particularly expensive and tickets cannot be assumed available for same day travel, so book ahead if possible. Travellers are highly recommended to purchase a berth in a soft or hard sleeper car, though the trip in soft seat class is not intolerable. For a bed, expect to pay in the area of 150,000-250,000 dong (one-way). There is usually a dining car serving good, surprisingly affordable noodles (8000 dong) and rice porridge (6000 dong), but it's always wise to bring your own snacks and drinks as well.
            The train ends at Lao Cai. From there, dozens of shuttle buses will be waiting outside the station to take you the remaining distance to Sapa, usually at a 'fixed' rate of 25,000 dong. It's often possible to bargain down to 20,000 dong or lower, depending on demand. The ride is about an hour of beautiful views (if the weather is good, it may be an hour of fog at other times) more than 1000 meters up into the mountains.
            You may want to book a return ticket when you buy your outward journey, as picking up tickets in Lao Cai is harder than in Hanoi. The staff do not speak as much English, and they possibly only sell tickets for travel on the same day so sleepers may already be sold out unless you go first thing in the morning. Pay attention to the time of your return train. Trains leaving Lao Cai around 7PM will arrive in Hanoi at 4AM. If you don't make prior arrangements to return at an early hour, you may find yourself sitting outside of your hotel, waiting for the desk to open.
            <br/>
            <b> By motorcycle</b>
            <br/>
            Sapa can also be reached by motorcycle from Hanoi by a variety of routes. The most direct route takes at least ten hours for first time riders, though local expats often brag about making it in less. Bikes can be rented in Hanoi for unguided passage, or local guides can lead the way. Along the way be sure to top up with fuel regularly, as petrol stations sometimes prove few and far between. It's also useful to note that fuel vendors in small towns often mix the petrol with other liquids such as alcohol or bio-fuels, and such fuel should be bought and used only when there are no alternatives.
            <br/>
            <b> Get around</b>
            <br/>
            Anywhere in the main village of Sapa can be reached on foot, and the town is small enough that you're not likely to get lost. A basic map will be good enough for most travellers.
            The way to CatCat, Ban Ho, Lao Chai village are taxed 5,000, 10,000 and 15,000 dong respectively. The way to Ta Phin village is also taxed as well.
            Tourists intending to trek to the various villages through the paddy fields should be prepared with good trekking shoes or rubber boots, a walking stick and extra clothing kept in a waterproof bag. Depending on the season, the rice fields, which are build in terraces, can be very muddy and slippery. If one does not wear shoes which enables a good grip in mud, one is likely to keep slipping and falling or even sliding down the slopes! As the paths are also taken by water buffalos, excrement can be found everywhere. Walking sticks can be bought from children from the ethnic minority groups at about 5,000 dong. These enterprising children cut sturdy bamboo and sharpen one end to turn them into sturdy sticks.
            For the less adventurous, some of the villages, such as Lao Chai Village, is accessible via jeep, motorcycle and van.
            <br/>
            <b> See</b>
            <br/>
            Sapa is a charming mountain town, surrounded by picturesque mountains and rice terraces. Great views of the area can be had (weather permitting) from the nearby hills. One of these has been built up into a tourist attraction ("Ham Rong Resort") with various gardens (orchid, European), ethnic minority dance performance areas, viewpoints, and restaurants. It's a short walk south from the central square and then up some stairs. Entrance is 30,000 dong.
            While walking in the mountains you will encounter many hill tribes such as the Red Zao tribe.
            <br/>
            <b> Do</b>
            <br/>
            * Sit on the balcony of a hotel overlooking the valleys drinking a beer at sunset - sublime! 
            * The ethnic village of Cat Cat is a few kilometers' walk from Sapa. You're not likely to get lost - just walk down the road out of Sapa, which should be marked on maps, and after a while you'll find a path which descends the hill to your left. This path runs through the village before climbing another hill back to the road. This walk provides a good chance to observe Vietnamese farming and farm animals, and there are excellent views. The walk back up can be difficult (it is steep in parts) but once you get back onto the road there are plenty of enterprising locals ready to take you back to Sapa on motorbikes. Entrance to the village is currently 15,000 VND.  
            * Sign-up for a trekking trip that enables you to stay overnight at one of the villages. The homestay experience is not uncomfortable (no water heating system though) and an enriching one. 
            * Do ensure that the US dollars you bring along to Sapa are as new and crisp as possible. It is very hard to obtain the local currency with "older" US dollars. Some hotels will reject the money exchange request. 
            <br/>
            <b> Buy</b>
            <br/>
            * It is possible to change money, traveler cheques and get cash advance on credit cards at the bigger Hotels in Sapa. Furthermore, there are ATMs on the main street but they only accept VISA and not Mastercard or Maestro. So you might be better off with stocking up on cash before heading to Sapa. The nearest ATM accepting all major cards is in Lao Cai. 
            * The usual endless supply of nearly identical tourist trinkets is available at every turn. It appears that the minority women sell their trinkets at considerable mark-up over what the ethnic Vietnamese charge in the market, with little room for negotiation. Prices are highly elastic; it pays to shop around for the right pair of reproduction Montagnard earrings.  
            * The various markets sell clothes, blankets, etc. with colorful designs traditional to the various ethnic minorities in the town. Take note that the dye used to give a blue color stains the fingers (and not only the fingers) - which is why many of the women who make them have darkened fingertips. When you wash these clothes the colour will flow off. 
            * Marijuana and opium are sold commonly, yet discreetly, by minority men and women on the streets of Sapa. DO NOT INDULGE, unless you want to pay for the consequences'! 
            <br/>
            <b> Eat</b>
            <br/>
            There are more restaurants than one could stomach along the main strip, Pho Cau May; they all have nearly the same menu, with many of them offering, oddly enough, Italian as well as Vietnamese fare. Tread with caution. 
            * Delta restaurant - a top-end restaurant. The food is a sad attempt at Italian food. The pizzas were terrible (and sweet?) but the pasta was a bit better. Too expensive: from US$5 for a pizza. Same for pastas. Wine is very very expensive. 
            * Rose Garden Sapa - a middle-ranged restaurant. The restaurant is located on phanxipang street, on the way to Cat Cat Village. They have freshly baked baguettes and hamburgers right off their own bakery. The desserts - ice cream, cakes and cookies are sweet delicacies yet at an affordable price.  
            * Little Sapa - a popular, low-priced restaurant on the hill leading out of the main tourist hotel area. Serves decent local and western dishes to a mixed local/foreign clientele. 
            * Baguettes & Chocolate - a café specializing in delicious French pastries. They serve both European and Asian meals as well. Run as a vocational school for disadvantaged youths. Up the stairs northwest of the central plaza. Expect patchy service from the disadvantaged youth.  
            * On the corner facing out onto the lake in the central part of town (up the hill from the tourist hotel area) is a pleasant shop selling local fare, they offer a partly-translated menu with fair prices (10,000-30,000 dong). 
            * At the market - Foodstalls selling good noodlesoup for VND 10.000, fried rice for VND 15.000 and the other usual Vietnamese fare for around VND 30.000. Further more it's a great experience to dine with the locals!
            * Bombay Indian, 36 pho cau may. Very good North Indian food, with many options for vegetarians. Mains are 4-8USD.  edit 
            * le pho, 18 pham xuan huan (up the stairs from T-Bone Steakhouse on pho cau may), [1]. Serving only pho and spring rolls, Le Pho is tourist-friendly and has vegetarian pho as well as meaty versions. Soups from 30,000 VND. No wheelchair access.  edit 
            <br/>
            <b> Drink</b>
            <br/>
            * Tau Bar - near the Royal Hotel, this lounge bar has a pool table, good music and darts. 
            <br/>
            <b> Sleep</b>
            <br/>
            * The Royal Hotel - located at the bottom of the main street. The rooms provide a nice view over the valley and many open onto a small balcony. It has an attached café offering standard traveller fare (banana or chocolate pancakes, as always in Vietnam, feature) and can help you out with travel arrangements. 
            <br/>
            * Lotus Hotel - located only a few meters from the Royal Hotel. Nice rooms, tea, tv, hot water, restaurant and for some rooms, a fireplace and a nice view. US$4-7. Week-ends are naturally more expensive. The staff is a little bit cold. Hotel closes at 11pm. 
            <br/>
            * Little Sapa - basically a restaurant located near the market, it also serves as a hotel for long-stay travellers, costing US$60/month. Big rooms with balconies, TV, hot water. 
            <br/>
            * Green Bamboo Sapa - a hotel with an old wing located near the entrance of the town. It serves a cheap and good breakfast at US$2.50. A night's stay at the main hotel will cost US$25. A room in the old wing will cost about US$10. Rooms in the main and old wing of the hotel, as long as not on the ground floors, will offer a breathtaking view of the Fan Xi Pan mountains.
            <br/>
            * Khach San Hoang Ha, 10 Thac Bac, [2]. checkout: 10:00am. stands like a haunted Chinese elementary school overlooking Baguette & Chocolate. free internet in the lobby. beds are a bit hard. US$15.  edit 
            <br/>
            * A near-endless supply of cheap rooms are available in the touristy area down the hill from the town centre, and generally a flock of young men and women will leap on you the moment you arrive with offers from US$3 on up (price quoted for a double). 
            <br/>
            <b> Get out</b>
            <br/>
            * If you're looking to take the train to Hanoi from Lao Cai, your hotel can probably organise to get you onto a minibus. If you're looking to pay less than the usual rate (25,000 dong), you'll have to walk to the central park area where minibuses and vans cruise for passengers and are willing to bargain. Be reminded that getting on an empty (or half-empty) bus will mean waiting for more passengers, regardless of whatever departure time is promised by the driver and his ever-present crew of buddies who're hanging around. 
            <br/>
            * Small step-through Honda motorcycles can be rented in the touristy parts of town, as well as near the gas station on the road leading to Lao Cai, for US$3-6 depending on the amount of time rented and your bargaining skills (i.e. determination). Day trips into the surrounding countryside can be very rewarding, although a good up-to-date map and a healthy dose of caution is required as roads are winding and populated with all manner of conveyance, and markings can be misleading as the North undergoes some odd town-relocation schemes. 
            <br/>
            * You may be able to hire a guide, or join a group, to visit the various ethnic villages in the area by jeep and/or boat. The various travel agencies in town, or the people at your hotel, should be able to give details. 
            <br/>
            * For those looking to go farther afield, the road to Dien Bien Phu is simply stunning and makes for a fantastic 4-5 day return trip. Always give yourself plenty of daylight hours to return home, however, as highly changeable weather could strand you in dense fog without notice, especially during the winter months
                     </td>
        <td style="width:130px;vertical-align:top;" id="list_image">
	        <img src="/images/ajax-loader.gif" id="image_load" style="display:none;"/>
        </td>
    </tr>
</table>
<div style="display:none;">
<% form_remote_tag(:url =>{:controller=>'homes',:action=>'loadimage',:id=>"6"},:update=>'list_image',:loading=>"$('image_load').show();",:complete=>"$('image_load').hide();")do %>
	<input type="submit" value="submit" id="clickload"/>
<%end%>
</div>
<script>
	$('clickload').click();
</script>
