<%= form_for @level, :html => {:name => "level_form"} do |f| %>
  <div>
    <div class="signupcause_box">
      <div id="signup_rewards_form_fields">
        <div id="signup_rewards_form_fields">
          <% {"25" => "Bronze", "50" => "Silver", "100" => "Gold", "250" => "Diamond", "500" => "Platinum" }.each do |donation_number, name| %>
            <div class="clearfix donation_inputs">
              <span>$</span>
              <%= f.text_field "donation_number_#{donation_number}", :class => "donation_input_blue", :value => donation_number %>
              <div class="donation_input">
                <%= f.text_area "name_#{donation_number}", :class => "inputtext", :value => name %>
              </div>
              <a class="grey_btn icon" href="#" tabindex="-1"><i class="mini_remove"></i></a>
            </div>
          <% end %>
        </div>
        <div class="error_box"></div>
      </div>
      <div class="clearfix donation_inputs enter_more_donation">
        <span>&nbsp;&nbsp;</span>
        <div class="donation_input">
          <a href="#"><b>Enter More Amounts</b></a>
        </div>
      </div>
    </div>
  </div>
<% end %>