<div class="page">
  <div class="inner_width">    
    <div class="steps">
      <ul class="steps_header clearfix tabs2">
        <li class="steps_header1">
          <a id="campaign_info" href="#">1. Fundraising Page Info</a>
        </li>
        <li class="steps_header2">
          <a class="selected" id="campaign_rewards" href="#" class="" href="#">2. Giving Levels</a>
        </li>
        <li class="steps_header3">
          <a href="#" class="">3. Upload Media</a>
        </li>
      </ul>
      <div class="tabs_body">
        <div class="step selected">
          <div class="step_cnt">
            <div class="step_header">
              <b>Giving Levels</b>
              Although Giving Levels are not required to use Students Angel, we strongly recommend creating them. Research shows that by giving people something in return, even if it is just a sense of achievement or belonging to an exclusive group, they are more likely to donate more to your cause.
            </div>
            <%= render 'form' %>
          </div>
          <div class="step_submit clearfix">
            <a class="btn dblue_btn create_campaign" id="level_submit"><span>Save &amp; Continue</span></a>
            <div class="right">
              <a class="light" href="#cause_logo">Skip</a> ·
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>