<div id="theLayer" style="position:absolute;top:180px;width:250px;left:200px;">
<table class="pop_dialog_table" id="pop_dialog_table">
<tr>
<td class="pop_topleft"/><td class="pop_border"/><td class="pop_topright"/>
</tr>
<tr>
<td class="pop_border"/>
<td id="pop_content" class="pop_content">
<h2 class="dialog_title" style="width:99.5%;"><span>&nbsp;&nbsp;Send To Friend</span></h2>
<div class="dialog_content">
<br/>
<% form_tag :controller=>'photos',:action => 'submit_foward' do %>
<div class="dialog_body">
<%=load_friend%>
</div>
<%end%>
</div>
</td><td class="pop_border"/>
</tr>
<tr>
<td class="pop_bottomleft"/><td class="pop_border"/><td class="pop_bottomright"/>
</tr>
</table>
</div>