<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <body>
        <script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php " type="text/javascript">
        </script>
       
        <fb:serverfbml style="width: 600px;height:700px;">
            <script type="text/fbml">
                <fb:fbml>
                    <div style="padding: 10px;">
                        <fb:request-form method="post" action="http://9bf602fd.fb.joyent.us/photos/iframe?iframe=true" content="hey" type="sample" invite="true">
                            <div class="clearfix" style="padding-bottom: 10px;">
                                <fb:multi-friend-selector condensed="true" style="width:300px;"/>
                            </div>
                            <fb:request-form-submit/>
                        </fb:request-form>
                    </div>
                </fb:fbml>
            </script>
        </fb:serverfbml>
        <script type="text/javascript">
            var api_key = '109e39b36cd0d3809ca42237f4543344'; // I type the key here
            var channel_path = '/xd_receiver1.htm';
            FB_RequireFeatures(["XFBML"], function(){
                FB.Facebook.init(api_key, channel_path);
            });
        </script>
    </body>
</html>
