<%if @boolean%>
<a class="font_standand" href="javascript:showMe('theLayer');">Edit Trip</a>
<%else%>
<a class="font_standand" href="javascript:showMe('theLayer');">Make Trip</a>
<br/>
Your data not valid. Please make trip again
<%end%>