<div style="display: block; z-index: 1001; outline: 0px none; height: auto; width: 300px; top: 494px; left: 553.5px;" class="ui-dialog ui-widget ui-widget-content ui-corner-all " tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-disable_page_info_dialog"><div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix" unselectable="on" style="-moz-user-select: none;"><span class="ui-dialog-title" id="ui-dialog-title-disable_page_info_dialog" unselectable="on" style="-moz-user-select: none;">Campaign Disabled</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button" unselectable="on" style="-moz-user-select: none;"><span class="ui-icon ui-icon-closethick" unselectable="on" style="-moz-user-select: none;">close</span></a></div><div id="disable_page_info_dialog" style="font-size: 14px; width: auto; display: block; min-height: 0px; height: 57px;" class="ui-dialog-content ui-widget-content">
    <p>This Campaign Page is now disabled.</p>
    <p>It's hidden to the outside world but, as the owner of the page, you can still see it and edit it.</p>
  </div><div class="ui-dialog-buttonpane ui-widget-content "><div class="clearfix"><a class="btn" href="#"><span>Ok</span></a>
    </div>
  </div>
</div>