<style>
  #facebox .content {
    background: none !important;
  }
  #facebox .popup {
    border: none !important;
    box-shadow: none !important;
  }
  a.close {
    display: none !important;
  }
</style>

<%= form_for @campaign, :html => { :name => "campaign_setting_form" } do |f| %>
<div id="setting" style="height: auto; width: 400px;" class="ui-dialog ui-widget ui-widget-content ui-corner-all  ui-draggable" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-cause_settings_dialog"><div class="ui-dialog-titlebar ui-widget-header ui-helper-clearfix" unselectable="on" style="-moz-user-select: none;"><span class="ui-dialog-title" id="ui-dialog-title-cause_settings_dialog" unselectable="on" style="-moz-user-select: none;">Campaign Settings</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button" unselectable="on" style="-moz-user-select: none;"><span class="ui-icon ui-icon-closethick" unselectable="on" style="-moz-user-select: none;">close</span></a></div><div style="width: auto; display: block; min-height: 76px; height: auto;" campaign="Bcao4jVWyW" id="cause_settings_dialog" class="ui-dialog-content ui-widget-content">
    <b>Campaign name: </b>
    <br/><br/>
    <%= f.text_field :name, :style => "width: 300px;" %>
    <br/><br/>
    <b>Campaign url: </b>
    <br/><br/>
    <span style="padding-top: 5px; float: left">http://studentsangel.com/</span>
    <%= f.text_field :url, :style => "float:left; width: 200px;" %>
    <br/><br/><br/><br/>
    <b>Rollup donations: </b>
    <br/><br/>
    <input type="checkbox" checked="" value="Rollup" id="cause_settings_rollup"/>
    Check this if you want volunteer page donations to roll up<br/>
    <div class="left error_box" style="clear: both; margin-top: 10px;"></div>
  </div>
  <div class="ui-dialog-buttonpane ui-widget-content ">
    <div class="clearfix">
      <a class="btn" href="#" id="campaign_setting_submit"><span>Save</span></a>
      <a href="#" class="grey_btn">Cancel</a>
    </div>
  </div>
</div>
<% end %>