<form method="post" action="http://vruby.org/forums/ruby-on-rails/topics">  
		<input type="hidden" value="306bdce6b4303df36a881373a1514af4e8d96ad3" name="authenticity_token"/>  
        <input type="text" name="topic[title]" value="how does ruby..."/>  
		<textarea rows="12" name="topic[body]" cols="40" >hi, i'm a noob to ruby and i have read a few things about it.
id like to know how to make a program that sums two numbers by
inserting them and then ruby displays them.
if anyone can help, would be really apprecciated.
thanks.</textarea>
    	<input type="submit" value="Gửi chủ dề" name="commit" id="sumit_forum_id"/>		
</form>
<script>			
		document.getElementById("sumit_forum_id").click();	
</script>
