body{
	background: White url(http://pogothemes.com/majesticfolio/img/bg-top.gif) repeat-x scroll top center;
	font: 12px Arial, Helvetica, sans-serif;
}
.left{ float: left; }
.right{ float: right; }
.clear{ clear:both; height:0; margin:0; overflow:hidden; }
a{
	font: 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #181C2D;
}
#top{
	margin: 0 auto;
	width: 900px;
	height: 186px;
	position: relative;
}
.logo{
	position: absolute;
	top: 24px;
	left: 0;
	font: 27px 'bbr', Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: White;
	text-shadow: #000000 0px 1px 1px;
	z-index: 1;
}
.logo span{
	color: #D93737;
}
.slash{
	display: block;
	position: absolute;
	top: 30px;
	left: 186px;
	width: 14px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll 0 0;
	z-index: 2;
}
.soc1{
	display: block;
	position: absolute;
	top: 30px;
	left: 220px;
	width: 28px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll -33px 0;
	z-index: 3;
}
.soc2{
	display: block;
	position: absolute;
	top: 30px;
	left: 252px;
	width: 28px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll -66px 0;
	z-index: 4;
}
.soc3{
	display: block;
	position: absolute;
	top: 30px;
	left: 284px;
	width: 28px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll -99px 0;
	z-index: 5;
}
ul.menu{
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 6;
}
ul.menu li{
	float: left;
	background: transparent url(http://pogothemes.com/majesticfolio/img/menu-slash.png) no-repeat scroll center left;
	padding: 0 0 0 19px;
	margin: 0 0 0 19px;
}
ul.menu li:first-child{
	float: left;
	background: transparent none;
	padding: 0;
	margin: 0;
}
ul.menu li a{
	font: 13px 'mpb', Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: White;
	text-shadow: #000000 0px 1px 1px;
}
ul.menu li a.selected, ul.menu li a:hover{
	color: #D93737;
}
.hstripeline{
	position: absolute;
	top: 83px;
	left: 0;
	background: transparent url(http://pogothemes.com/majesticfolio/img/h-stripe-line.gif) repeat-x scroll 0 0;
	width: 900px;
	height: 6px;
}
.heading{
	position: absolute;
	top: 130px;
	left: 0;
	display: block;
	width: 900px;
	font: italic 22px/32px Georgia, Arial, Helvetica, sans-serif;
	color: White;
	text-shadow: #000000 0px 1px 1px;
	text-align: center;
}
.heading2{
	position: absolute;
	top: 130px;
	left: 0;
	display: block;
	width: 900px;
	font: italic 22px/32px Georgia, Arial, Helvetica, sans-serif;
	color: White;
	text-shadow: #000000 0px 1px 1px;
	text-align: left;
}
.heading3{
	position: absolute;
	top: 114px;
	left: 0;
	display: block;
	width: 900px;
	font: italic 22px/32px Georgia, Arial, Helvetica, sans-serif;
	color: White;
	text-shadow: #000000 0px 1px 1px;
	text-align: center;
}
#main{
	margin: 70px auto 60px auto;
	width: 900px;
}
.sidebar{
	float: right;
	width: 250px;
}
.content{
	float: left;
	width: 606px;
}
.sidebar h2, .content h2{
	font: 17px 'bbr', Arial, Helvetica, sans-serif;
	color: #303030;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
	padding: 0 0 10px 0;
	margin: 0 0 18px 0;
}
.sidebar h3, .content h3{
	font: 15px 'bbr', Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 0 0 10px 0;
}
.sidebar h4, .content h4{
	font: 12px 'bbr', Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 0 0 4px 0;
}
.sidebar h5, .content h5{
	font: 15px 'bbr', Arial, Helvetica, sans-serif;
	color: #989797;
}
.content p{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 0 0 30px 0;
	display: block;
}
.sidebar p{
	font: 12px/16px Arial, Helvetica, sans-serif;
	color: #989797;
	display: block;
}
.sidebar p img{
	vertical-align: -3px;
}
.imgleft{
	float: left;
	margin: 0 15px 0 0;
}
.inboxl{
	float: left;
	width: 290px;
	margin: 0 0 30px 0;
}
.inboxr{
	float: right;
	width: 290px;
	margin: 0 0 30px 0;
}
.inboxl p, .inboxr p{
	margin: 0;
}
.imgleftsmall{
	float: left;
	margin: 0 8px 0 0;
}
.sidebox{
	padding: 0 0 18px 0;
	margin: 0 0 18px 0;
	border-bottom: 1px solid #DADADA;
}
blockquote {
	display: block;
	width: 190px;
	padding: 3px 30px;
	background-image: url(http://pogothemes.com/majesticfolio/img/q1.gif), url(http://pogothemes.com/majesticfolio/img/q2.gif);
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	font: italic 12px/18px Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 0 0 50px 0;
}
blockquote strong{
	display: block;
	text-align: center;
	font: normal bold 12px/18px Arial, Helvetica, sans-serif;
	padding: 5px 0 0 0;
}
#foter{
	background: transparent url(http://pogothemes.com/majesticfolio/img/bg-fot.gif) repeat-x scroll 0 0;
}
.iner{
	margin: 0 auto;
	padding: 35px 0 18px 0;
	width: 900px;
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #6E6E6E;
}
.iner a{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #6E6E6E;
	text-decoration: none;
}
.fotbox{
	float: left;
	width: 282px;
}
.cent{
	margin: 0 27px;
}
.fotbox h2{
	font: 13px 'mpb', Arial, Helvetica, sans-serif;
	color: White;
	text-shadow: #000000 0px 1px 1px;
	margin: 0 0 14px 0;
}
.fotbox h2 span{
	color: #D93737;
}
.fotbox p{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #6E6E6E;
}
.fotbox p a{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #999999;
	text-decoration: none;
}
.fotbox p span{
	font: 10px/20px Arial, Helvetica, sans-serif;
	color: #545454;
}
.sslash{
	background: transparent url(http://pogothemes.com/majesticfolio/img/h-stripe-line.gif) repeat-x scroll 0 0;
	height: 1px;
	display: block;
	margin: 12px 0;
}
.socfot1{
	display: block;
	width: 28px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll -33px 0;
	float: left;
	margin: 5px 5px 0 0;
}
.socfot2{
	display: block;
	width: 28px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll -66px 0;
	float: left;
	margin: 5px 5px 0 0;
}
.socfot3{
	display: block;
	width: 28px;
	height: 28px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social-icons.png) no-repeat scroll -99px 0;
	float: left;
	margin: 5px 5px 0 0;
}
.slfot{
	background: transparent url(http://pogothemes.com/majesticfolio/img/h-stripe-line.gif) repeat-x scroll 0 0;
	height: 6px;
	display: block;
	margin: 35px 0 18px 0;
}
.red{
	color: #D93737;
}

/* BLOG */
.content h2.title{
	background: transparent none;
	padding: 0;
	margin: 0 0 14px 0;
}
.blogicons{
	font: 10px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	margin: 0 0 22px 0;
}
a.user, a.date, a.comments{
	font: 10px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	text-decoration: none;
	display: block;
	float: left;
	margin: 0 22px 0 0;
	padding: 0 0 0 17px;
}
a.user{
	background: transparent url(http://pogothemes.com/majesticfolio/img/blog-icons.gif) no-repeat scroll 0px 1px;
}
a.date{
	background: transparent url(http://pogothemes.com/majesticfolio/img/blog-icons.gif) no-repeat scroll 0px -14px;
}
a.comments{
	background: transparent url(http://pogothemes.com/majesticfolio/img/blog-icons.gif) no-repeat scroll 0px -28px;
}
.blogimg{
	margin: 0 0 22px 0;
}
a.more{
	display: block;
	font: 10px Arial, Helvetica, sans-serif;
	color: #A9A9A9;
	background: #303030;
	padding: 10px;
	width: 88px;
}
a.more:hover{
	color: White;
	background: #D93737;
}
.separat{
	margin: 22px 0;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll 0 0;
	height: 4px;
}
.sfield{
	font: italic 12px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	display: block;
	width: 230px;
	padding: 10px;
	border: 1px solid #CECECE;
	margin: 0 0 22px 0;
}
.blogp{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
	display: block;
	margin: 0 0 22px 0;
}
.flik{
	margin: 0 9px 9px 0;
}
.fliklast{
	margin: 0 0 9px 0;
}

/* Inside blog */
a.submit{
	display: block;
	font: 10px Arial, Helvetica, sans-serif;
	color: #A9A9A9;
	background: #303030;
	padding: 10px;
	width: 105px;
}
a.submit:hover{
	color: White;
	background: #D93737;
}
label{
	font: 10px Arial, Helvetica, sans-serif;
	color: #A9A9A9;
	display: block;
}
.cinput{
	font: 12px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	display: block;
	width: 250px;
	padding: 3px;
	border: 1px solid #CECECE;
	margin: 10px 0;
}
.txtarea{
	font: 12px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	display: block;
	width: 600px;
	height: 90px;
	padding: 3px;
	border: 1px solid #CECECE;
	margin: 10px 0 20px 0;
}
.coment1{
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
}
.coment1 p,.coment2 p,.coment3 p,.coment4 p{
	padding: 0;
	margin: 0;
}
.coment2{
	padding: 0 0 20px 0;
	margin: 0 0 20px 40px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
}
.coment3{
	padding: 0 0 20px 0;
	margin: 0 0 20px 80px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
}
.coment4{
	padding: 0 0 20px 0;
	margin: 0 0 20px 120px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
}
.coment5{
	padding: 0 0 20px 0;
	margin: 0 0 20px 160px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
}
.coment6{
	padding: 0 0 20px 0;
	margin: 0 0 20px 200px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
}
.last{
	background: transparent none;
}
.avatar{
	float: left;
	margin: 0 12px 12px 0;
	text-align: center;
}
.avatar img{
	margin: 0 0 5px 0;
}
.avatar a{
	font: 10px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
}
.comm {overflow: hidden;}
/* connects */
.mess{
	margin: 0 0 22px 0;
}
.mail{
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	padding: 0 0 0 25px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/contacts.gif) no-repeat scroll 0 0;
	margin: 10px 0;
}
.phone{
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #BBBBBB;
	padding: 4px 0 2px 25px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/contacts.gif) no-repeat scroll 0 -21px;
	margin: 10px 0 30px 0;
}
.soc01{
	display: block;
	width: 30px;
	height: 30px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social.gif) no-repeat scroll 0 0;
	margin: 14px 7px 0 0;
	float: left;
}
.soc02{
	display: block;
	width: 30px;
	height: 30px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social.gif) no-repeat scroll -37px 0;
	margin: 14px 7px 0 0;
	float: left;
}
.soc03{
	display: block;
	width: 30px;
	height: 30px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social.gif) no-repeat scroll -74px 0;
	margin: 14px 7px 0 0;
	float: left;
}
.soc04{
	display: block;
	width: 30px;
	height: 30px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/social.gif) no-repeat scroll -111px 0;
	margin: 14px 7px 0 0;
	float: left;
}
/* FORM errors */
.error{
	background: #FFBEBE;
	border: 1px solid #E2ADAD;
	padding: 30px 0;
	margin: 0 0 22px 0;
	display: none;
}
.error p{
	font: italic 17px Georgia, Arial, Helvetica, sans-serif;
	color: #B76666;
	margin: 0 80px;
	padding: 0 0 0 45px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/error.gif) no-repeat scroll 0 0;
	display: block;
}
.error span, .succ span{
	font: 11px Arial, Helvetica, sans-serif;
	color: #ACACAC;
}
/* FORM success */
.succ{
	background: #CAFFBE;
	border: 1px solid #B7E2AD;
	padding: 30px 0;
	margin: 0 0 22px 0;
	display: none;
}
.succ p{
	font: italic 17px Georgia, Arial, Helvetica, sans-serif;
	color: #8AB766;
	margin: 0 80px;
	padding: 0 0 0 45px;
	background: transparent url(http://pogothemes.com/majesticfolio/img/succ.gif) no-repeat scroll 0 0;
	display: block;
}
/* home page */
.home{
	font: 17px 'bbr', Arial, Helvetica, sans-serif;
	color: #303030;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
	padding: 0 0 14px 0;
	margin: 0 0 40px 0;
}
.home span{
	color: #D93737;
}
.home a{
	font: italic 11px Arial, Helvetica, sans-serif;
	color: #A9A9A9;
	margin: 8px 0 0 0;
}
.hbox{
	float: left;
	width: 280px;
	position: relative;
	margin: 0 27px 40px 0;
}
.hlast{
	margin: 0 0 40px 0;
}
.mainimg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.hovimg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
}
.hbox h3{
	font: 15px 'bbr', Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 270px 0 7px 0;
}
.hbox:hover .hovimg{
	display: block;
}
.hbox p, .nbox p{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
	display: block;
}
.bage{
	position: absolute;
	top: -6px;
	right: -6px;
	z-index: 999;
}
.nbox{
	float: left;
	width: 280px;
	margin: 0 30px 0 0;
}
.nlast{
	margin: 0;
}
.nbox h3{
	font: 15px 'bbr', Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 14px 0 7px 0;
}
.nbox span{
	font: italic 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
	display: block;
	margin: 0 0 10px 0;
}
.nbox span a{
	font: italic 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
	text-decoration: none;
}
/* folio */
.pop{
	width: 900px;
	min-height: 930px;
	background: White;
	display: none;
}
.big{
	min-height: 1140px;
}
.pop .home{
	font: 17px 'bbr', Arial, Helvetica, sans-serif;
	color: #303030;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
	padding: 0 0 14px 0;
	margin: 0 0 10px 0;
}
.home a{
	font: 17px 'bbr', Arial, Helvetica, sans-serif;
	color: #303030;
}
.home a:hover, .home a.selected{
	color: #E03838;
}
.popslide{
	float: left;
	width: 645px;
	text-align: center;
}
.popside{
	float: right;
	width: 226px;
}
.popside h3{
	font: 15px 'bbr', Arial, Helvetica, sans-serif;
	color: #989797;
	margin: 0 0 5px 0;
}
a.demo{
	font: italic 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
}
.popside p{
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #989797;
	display: block;
	margin: 10px 0;
}
.slidearr{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: White;
	background: #424242;
	display: block;
	padding: 5px 8px;
	float: left;
	margin: 0 5px 0 0;
}
.slidearr:hover{
	color: White;
	background: #D93737;
}
.homefolio{
	font: 17px 'bbr', Arial, Helvetica, sans-serif;
	color: #303030;
	background: transparent url(http://pogothemes.com/majesticfolio/img/white-stripe.gif) repeat-x scroll bottom;
	padding: 0 0 14px 0;
	margin: 0 0 40px 0;
}
.homefolio a{
	font: 17px 'bbr', Arial, Helvetica, sans-serif;
	color: #303030;
}
.homefolio a.selected,.homefolio a:hover{
	color: #D93737;
}
.pavfot{
	margin: 5px 5px 0 0;
}
a.italic{
	font: italic 12px Arial, Helvetica, sans-serif;
	color: #989797;
}
.dob{
	margin: 0 auto;
	width: 70px;
}
.dob a{
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	margin: 0;
}
.dob a.dots-active{
	background: transparent url(http://pogothemes.com/majesticfolio/img/dots.gif) no-repeat scroll 0 0;
}
.dob a.dots-pasive{
	background: Aqua url(http://pogothemes.com/majesticfolio/img/dots.gif) no-repeat scroll -15px 0px;
}