html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
img, fieldset {
    border: 0 none;
}
html {
  background:url(bg1920.jpg) no-repeat scroll top center #b4dce8;  
}
body {
    color: #000;
    font: 16px/1.5em Arial,Helvetica,sans-serif;
    margin: 0 auto;
    width: 100%;
	border-top:5px solid #004866;
}


p {
    margin: 0;
	text-align:justify;
}
em, i {
}
a {
    color: #41addd;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #41addd;
	text-decoration:underline;
}
big {
    color: #887662;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.46em;
}
small {
    color: #ff5db8;
    font-size: 0.9em;
}
blockquote {
    background: url("img/blockquote.png") no-repeat scroll 4px 0 transparent;
    color: #897662;
    font: italic 1.1em/1.4em Georgia,"Times New Roman",Times,serif;
    padding: 0 0 0 26px;
}
ul {
    list-style: none outside none;
    margin: 1.2em 0 1.8em 0px;
}
ul li {
    background: url("img/bullet.png") no-repeat scroll 0 0.5em transparent;
    padding: 0 0 0.5em 16px;
}
ol {
    margin: 1.2em 0 1.8em 10px;
}
ol li {
    margin: 0 0 0.5em 16px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}
.clear{
	clear:both;
}
form{
	margin:15px 0; 
}
label{
	margin:0;
	float:left;
	width:95px;
	padding:0;
	text-align:right;
	margin-right:5px;
	line-height:26px;
}
input, textarea, select {
    font: 1em/1.4em Trebuchet MS,Arial,Helvetica,sans-serif;
}
textarea {
    margin-bottom:15px;
    background: none repeat scroll 0 0 #f6f5f1;
    border: 1px solid #e2e0d8;
    padding: 5px 7px;
}
textarea:focus, input[type="password"]:focus, input[type="text"]:focus {
  
    background: none repeat scroll 0 0 #FFFFFF;
    
    outline: medium none;
}
input[type="reset"], input[type="submit"] {
    -moz-border-radius: 4px 4px 4px 4px;
    background: url("submitbutton.png") repeat-x scroll 0 0 #d4d4d4;
    border: 0px solid #b9b9b9;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px 15px;
}
select{
	margin-bottom:15px;
    background: none repeat scroll 0 0 #f6f5f1;
    border: 1px solid #e2e0d8;
    padding: 5px 7px;
}
#wrapper{
	width:976px;
	margin:0 auto;
}
#logo{
	width:554px;
	height:42px;
	float:left;
	position:relative;
	margin-top:10px;
	padding: 10px 0 0 0;
}
.members{
width:150px;
float:right;
color:#fff;
text-shadow: -1px -1px #004f6f, 1px 1px #004f6f;
height:18px;
padding-top:62px;
}
.members a{
	color:#fff;
	text-shadow: 0px -1px 0px #004f6f;
}
.searchbg{
	background:url(searchbg.png) no-repeat;
	width:974px;
	height:66px;
	margin-top:24px;
}
.searchbg .inputctr{
	width:418px;
	position:relative;
	height:24px;
	background:none;
	padding:4px;
	top:17px;
	border:0;
	left:18px;
	color:#9d9d9d;
	float:left;
	
}
.searchbg .heading{
	float:left;
	position:relative;
	top:15px;
	left:100px;
	color:#fff;
	text-shadow: 0px -1px 0px #004f6f;
	font-weight:normal;
}
.searchbg .cpagebtn{
	background:url(cpagebtn.png) no-repeat;
	width:156px;
	height:39px;
	color:#fff;
	font-size:20px;
	position:relative;
	float:right;
	margin-right:18px;
	top:14px;
	text-shadow: 0px -1px 0px #004f6f;
	text-align:center;
}
.slider{
	width:974px;
	height:398px;
	margin-top:18px;
	background:url(sliderbg1.jpg) no-repeat #fff;
	margin-bottom:25px;
}
.sliderleft{
	width:434px;
	height:358px;
	float:left;
	padding:20px 10px 10px 15px;
	
}
.sliderleft .heading{
	color:#004f6f;
	text-transform:uppercase;
	font-size:33px;
	margin:0;
	padding:0;
	font-weight:bold;
	line-height:40px;
	text-shadow: 0px 1px 0px #fff;
}
.sliderleft ul{
	margin:0;
	padding:0;
	list-style:none;
	padding:0px 0;
}
.sliderleft ul li{
	background: url(bullet.png) left center no-repeat;
	padding:10px 0 8px 25px;
}
.cpageblue{
	position:relative;
	width:376px;
	height:64px;
}
.cpageblue a{
	background:url(cpagenowblue.png) no-repeat;
	width:397px;
	height:64px;
	margin:0 auto;
	display:block;
	color:#fff;
	font-size:26px;
	text-align:center;
	line-height:50px;
	text-shadow: 0px -1px 0px #084f6e;
}
.cpageblue a:hover{
	text-decoration:none;
}
.leftctr{
	width:478px;
	float:left;
	
}
.leftctr h1{
	color:#267ab2;
	text-transform:uppercase;
}
.leftctr p{
	line-height:32px;
}
.cbuttons{
	width:196px;
	float:left;
	text-align:center;
	color:#267ab2;
	font-size:18px;
	margin-top:20px;
	font-weight:bold;
}
.cbuttons a{
	background:url(cpageblue.png) no-repeat;
	width:196px;
	height:51px;
	color:#fff;
	display:block;
	line-height:42px;
	font-size:20px;
	text-shadow: 0px -1px 0px #084f6e;
	
}
.cbuttons a:hover{
	text-decoration:none;
}
.cbuttons1{
	width:196px;
	float:right;
	text-align:center;
	color:#267ab2;
	font-size:18px;
	margin-top:20px;
	font-weight:bold;
	
}
.cbuttons1 a{
	background:url(cpageblue.png) no-repeat;
	width:196px;
	height:51px;
	color:#fff;
	display:block;
	line-height:42px;
	font-size:20px;
	text-shadow: 0px -1px 0px #084f6e;
	
}
.cbuttons1 a:hover{
	text-decoration:none;
	}	
.rightctr{
	width:470px;
	float:right;
	margin-left:10px;
}
.rctr1{
	width:138px;
	height:218px;
	float:left;
	
	background:#dcf2fb;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding:5px;
	margin-bottom:25px;
}
.rctr1 .imagectr{
	width:112px;
	height:112px;
	margin:0 auto;
	background:#dcf2fb;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	margin-top:10px;
}
.rctr1 .imagectr img{
	position:relative;
	top:7px;
	left:6px;
	border:1px solid #C4CACD
}
.rctr2{
	width:138px;
	height:218px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	background:#dcf2fb;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding:5px;
	margin-bottom:25px;
}
.rctr2 .imagectr{
	width:112px;
	height:112px;
	margin:0 auto;
	background:#dcf2fb;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	margin-top:10px;
}
.rctr2 .imagectr img{
	position:relative;
	top:7px;
	left:6px;
	border:1px solid #C4CACD
}
.rctr3{
	width:138px;
	height:218px;
	float:left;
	
	background:#dcf2fb;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	padding:5px;
	margin-bottom:25px;
}
.rctr3 .imagectr{
	width:112px;
	height:112px;
	margin:0 auto;
	background:#dcf2fb;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	margin-top:10px;
}
.rctr3 .imagectr img{
	position:relative;
	top:7px;
	left:6px;
	border:1px solid #C4CACD
}
.sname p{
text-align:left;
font-size:14px;
}
.slidercounter{
	background:url(rightcounter.png) no-repeat;
	width:296px;
	height:238px;
	position:relative;
	float:right;
	margin-right:38px;
	margin-top:85px;
}
.slidercounter h2{
	position:relative;
	top:80px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
.donationbutton{
	width:258px;
	height:68px;
	margin:0 auto;
	background:url(donation.png) no-repeat;
	display:block;
	border:0;
	top:72px;
	left:18px;
	position:relative;
}
.counter{
	position:relative;
	top:85px;margin:0 auto;
	left:10px;
}
.fb{
width:300px;
float:left;
margin:20px 24px 20px 0;

}
.fb h3{
	background:url(bgbtm.jpg) repeat-x left bottom;
		color:#267ab2;
		padding-bottom:10px;
}
.details{
	width:300px;
	height:250px;
	background:#fff;
	margin-top:10px;
}
.fb2{
width:300px;
float:left;
margin:20px 12px 20px 12px;

}
.fb2 h3{
	background:url(bgbtm.jpg) repeat-x left bottom;
		color:#267ab2;
		padding-bottom:10px;
}
.fb3{
width:300px;
float:left;
margin:20px 0px 20px 24px;

}
.fb3 h3{
	background:url(bgbtm.jpg) repeat-x left bottom;
		color:#267ab2;
		padding-bottom:10px;
}

.footer{
 background:url(footer1.jpg) no-repeat top center;
 width:100%;
 margin:0 auto;
 height:164px;
}
.footerctr{
width:974px;
text-align:center;
margin:0 auto;
color:#267AB2;
}

.innerctr{
	width:954px;
	background:#fff;
	border:1px solid #c4cacd;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	margin-top:25px;
	padding:10px;
	margin-bottom:20px;
}
.leftctr-1{
	float:left;
	width:690px;
	margin-left:5px;
	
}
.leftctr-1 h2{
	color:#267ab2;
	
}
.sidebar-2{
	
	width:239px;
	padding:10px;
	float:left;
	margin-bottom:3px;
	}
	.sidebar-3{
	background: #E7E7E7;
	width:239px;
	padding:10px;
	float:left;
	}
#campaign-right-column {
    background: none repeat scroll 0 0 #E7E7E7;
    clear: both;
    float: right;
    padding: 10px;
    width: 243px;
}	
#addthis_new_bar {
    height: 40px;
    width: 100%;
}
.right {
    float: right;
}
.left {
    float: left;
}
.square_imageblocks a {
    float: left;
    margin: 0 2px 2px 0;
}
.square_imageblocks img {
    height: 24px;
    width: 24px;
}
.cause_counts b:first-child {
    margin-top: 0;
}

.cause_counts b {
    margin: 0;
}

.cause_counts b {
    display: block;
    font-size: 50px;
    letter-spacing: -4px;
}
.cause_counts [edit_cause_goal="true"], .cause_counts {
    color: #222222;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.5px;
}	

.innerctr h3{
margin-top:10px;
font-weight:normal;
border-bottom:1px solid #d2d2d2;
}
.innerctr p{
	font-size:14px;
	line-height:18px;
	padding:5px 0;
}
.imagegavtar{
	width:28px;
	height:28px;
	display:block;
	border:1px solid #c4cacd;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	float:left;
	margin-right:8px;
}
.imagegavtar img{
	position:relative;
	top:2px;
	left:3px;
}
.videoctr{
margin-top:33px;
}

.videobox{
	background:url(videoctr.jpg) no-repeat;
	width:435px;
	height:299px;
	float:left;
}
.videobox img{
	position:relative;
	top:9px;
	left:7px;
}
.vthumbnail{
	width:254px;
	height:250px;
	float:left;
}
.thumb-1{
	float:left;
	width:107px;
	height:76px;
	border:1px solid #c4cacd;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	margin:0 5px 22px 10px;
}
.thumb-1 img{
	position:relative;
	top:5px;
	left:5px;
}
.content-left{
	width:410px;
	margin-top:15px;
	float:left;
}
.sponsers{
	width:268px;
	margin-top:15px;
	float:right;
}
.verify{
	width:72px;
	height:95px;
	float:left;
	margin-right:10px;
}
.verifydata{
	width:325px;
	float:left;
	margin:0;
	font-size:14px;
	line-height:22px;
}
.content-left{
	margin:0;
	padding:0;
}
.content-left h3{
margin-top:10px;
font-weight:normal;border-bottom:0px solid #d2d2d2;

}
.content-left p{
	font-size:14px;
	line-height:18px;
	padding:5px 0;
}

.joinbtn{
	background:url(cpagebtn.png) no-repeat;
	width:156px;
	height:39px;
	color:#fff;
	font-size:20px;
	position:relative;
	float:right;
	margin-right:18px;
	top:14px;
	text-shadow: 0px -1px 0px #004f6f;
	text-align:center;
}

.red_grey_percent {
    background: url("grey_percent.png") no-repeat scroll 0 0 transparent;
    height: 45px;
    margin: 10px 0;
    width: 231px;
}
.red_grey_percent span {
    background: url("bg1.png") repeat-x scroll 0 -727px transparent;
    display: block;
    height: 30px;
}

.causeprofile .neon_green {
    color: #FFFFFF;
    display: block;
    float: none;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px 0;
    text-align: center;
    text-shadow: 0 1px 1px #8FC100;
    width: 231px;
}
.neon_green {
    background-position: 0 -273px;
}
.orange_btn, .lgrey_btn, .lgreen_btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("bg1.png") repeat-x scroll 0 -195px #C4DE74;
    border-color: #8DB300 #8DB300 #658600 #8DB400;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #416A11;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    text-shadow: none;
}

.linking {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 10px 0;
    text-align: center;
}
.legendtext{
font-size:11px;
}
.linking .square_imageblocks h3, .linking p strong {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

ul.link  {
    text-align: left;
	margin:0;
	padding:0;
}
ul.link  li {
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0;
	padding:0;
}
ul.link  li a {
    display: block;
    padding: 3px;
    text-decoration: none;
}
ul.link li a:hover {
    background: none repeat scroll 0 0 #CCCCCC;
}
ul.link .icon span {
    color: #666666;
    font-size: 12px;
    margin-left: 20px;
}

.joinbtn{
	background:url(dbutton.jpg) no-repeat;
	width:186px;
	height:39px;
	color:#fff;
	font-size:20px;
	position:relative;
	float:right;
	line-height:37px;
	top:14px;
	text-shadow: 0px -1px 0px #004f6f;
	text-align:center;
	margin-bottom:10px;
}
.joinbtn:hover{
	color:#fff;
	text-decoration:none;
}