.highslide-container div {font-family: Verdana, Helvetica; font-size: 10pt}
.highslide {outline: none; text-decoration: none}
.highslide img {cursor: url(/images/graphics/zoomin.cur), pointer; border: 2px solid silver}
.highslide:hover img {border-color: gray}
.highslide-active-anchor img {visibility: hidden}
.highslide-gallery .highslide-active-anchor img {border-color: black; visibility: visible; cursor: default}
.highslide-image {border-width: 2px; border-style: solid; border-color: white; background: gray}
.highslide-wrapper, .highslide-outline {background: white}
.highslide-image-blur {}
.highslide-number {font-weight: bold; color: gray}
.highslide-caption {display: none; border-top: none; font-size: 1em; padding: 5px; background: white}
.highslide-heading {display: none; font-weight: bold; margin: 0.4em}
.highslide-dimming {position: absolute; background: black}
.highslide-loading {display: block; color: black; font-size: 9px; font-weight: bold; text-transform: uppercase; text-decoration: none; padding: 3px; border: 1px solid white; background-color: white; padding-left: 22px; background-image: url(/images/graphics/loader.white.gif); background-repeat: no-repeat; background-position: 3px 1px}
a.highslide-credits, a.highslide-credits i {padding: 2px; color: silver; text-decoration: none; font-size: 10px}
a.highslide-credits:hover, a.highslide-credits:hover i {color: white; background-color: gray}
.highslide-move, .highslide-move * {cursor: move}
.highslide-overlay {display: none}
.closebutton {position: relative; top: -15px; left: 15px; width: 30px; height: 30px; cursor: pointer; background: url(/images/graphics/close.png)}
.highslide-controls {width: 195px; height: 40px; background: url(/images/graphics/controlbar-white.gif) 0 -90px no-repeat; margin: 20px 15px 10px 0}
.highslide-controls ul {position: relative; left: 15px; height: 40px; list-style: none; margin: 0; padding: 0; background: url(/images/graphics/controlbar-white.gif) right -90px no-repeat}
.highslide-controls li {float: left; padding: 5px 0}
.highslide-controls a {background-image: url(/images/graphics/controlbar-white.gif); display: block; float: left; height: 30px; width: 30px; outline: none}
.highslide-controls a.disabled {cursor: default}
.highslide-controls a span {display: none}
.highslide-controls .highslide-previous a {background-position: 0 0}
.highslide-controls .highslide-previous a:hover {background-position: 0 -30px}
.highslide-controls .highslide-previous a.disabled {background-position: 0 -60px !important}
.highslide-controls .highslide-play a {background-position: -30px 0}
.highslide-controls .highslide-play a:hover {background-position: -30px -30px}
.highslide-controls .highslide-play a.disabled {background-position: -30px -60px !important}
.highslide-controls .highslide-pause a {background-position: -60px 0}
.highslide-controls .highslide-pause a:hover {background-position: -60px -30px}
.highslide-controls .highslide-next a {background-position: -90px 0}
.highslide-controls .highslide-next a:hover {background-position: -90px -30px}
.highslide-controls .highslide-next a.disabled {background-position: -90px -60px !important}
.highslide-controls .highslide-move a {background-position: -120px 0}
.highslide-controls .highslide-move a:hover {background-position: -120px -30px}
.highslide-controls .highslide-full-expand a {background-position: -150px 0}
.highslide-controls .highslide-full-expand a:hover {background-position: -150px -30px}
.highslide-controls .highslide-full-expand a.disabled {background-position: -150px -60px !important}
.highslide-controls .highslide-close a {background-position: -180px 0}
.highslide-controls .highslide-close a:hover {background-position: -180px -30px}
.highslide-maincontent {display: none}
.highslide-html-content {display: none}
.highslide-html {background-color: white}
.highslide-html-content {width: 400px; padding: 0 5px 5px 5px}
.highslide-header {padding-bottom: 5px}
.highslide-header ul {margin: 0; padding: 0; text-align: right}
.highslide-header ul li {display: inline; padding-left: 1em}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {display: none}
.highslide-header a {font-weight: bold; color: gray; text-transform: uppercase; text-decoration: none}
.highslide-header a:hover {color: black}
.highslide-header .highslide-move a {cursor: move}
.highslide-footer {height: 11px}
.highslide-footer .highslide-resize {float: right; height: 11px; width: 11px; background: url(/images/graphics/resize.gif)}
.highslide-body {}
.highslide-resize {cursor: nw-resize}
.draggable-header .highslide-header .highslide-move {cursor: move; display: block; height: 1em; position: absolute; left: 0; right: 1em; top: 0; width: auto; z-index: 1}
.draggable-header .highslide-header .highslide-move * {display: none}
.draggable-header .highslide-header .highslide-close {position: relative; z-index: 2}
.no-footer .highslide-footer {display: none}
.wide-border .highslide-image {border-width: 10px}
.wide-border .highslide-caption {padding: 0 10px 10px 10px}
.borderless .highslide-image {border: none}
.borderless .highslide-caption {border-bottom: 1px solid white; border-top: 1px solid white; background: silver}
.outer-glow {background: #444}
.outer-glow .highslide-image {border: 5px solid #444444}
.outer-glow .highslide-caption {border: 5px solid #444444; border-top: none; padding: 5px; background-color: gray}
.colored-border .highslide-image {border: 2px solid green}
.colored-border .highslide-caption {border: 2px solid green; border-top: none}
.dark {background: #111}
.dark .highslide-image {border-color: black black #202020 black; background: gray}
.dark .highslide-caption {color: white; background: #111}
.dark .highslide-controls, .dark .highslide-controls ul, .dark .highslide-controls a {background-image: url(/images/graphics/controlbar-black-border.gif)}
.floating-caption .highslide-caption {position: absolute; padding: 1em 0 0 0; background: blue; color: blue; border: none; font-weight: bold}
.controls-in-heading .highslide-heading {color: gray; font-weight: bold; height: 20px; overflow: hidden; cursor: default; padding: 0 0 0 22px; margin: 0; background: url(/images/graphics/icon.gif) no-repeat 0 1px}
.controls-in-heading .highslide-controls {width: 105px; height: 20px; position: relative; margin: 0; top: -23px; left: 7px; background: none}
.controls-in-heading .highslide-controls ul {position: static; height: 20px; background: none}
.controls-in-heading .highslide-controls li {padding: 0}
.controls-in-heading .highslide-controls a {background-image: url(/images/graphics/controlbar-white-small.gif); height: 20px; width: 20px}
.controls-in-heading .highslide-controls .highslide-move {display: none}
.controls-in-heading .highslide-controls .highslide-previous a {background-position: 0 0}
.controls-in-heading .highslide-controls .highslide-previous a:hover {background-position: 0 -20px}
.controls-in-heading .highslide-controls .highslide-previous a.disabled {background-position: 0 -40px !important}
.controls-in-heading .highslide-controls .highslide-play a {background-position: -20px 0}
.controls-in-heading .highslide-controls .highslide-play a:hover {background-position: -20px -20px}
.controls-in-heading .highslide-controls .highslide-play a.disabled {background-position: -20px -40px !important}
.controls-in-heading .highslide-controls .highslide-pause a {background-position: -40px 0}
.controls-in-heading .highslide-controls .highslide-pause a:hover {background-position: -40px -20px}
.controls-in-heading .highslide-controls .highslide-next a {background-position: -60px 0}
.controls-in-heading .highslide-controls .highslide-next a:hover {background-position: -60px -20px}
.controls-in-heading .highslide-controls .highslide-next a.disabled {background-position: -60px -40px !important}
.controls-in-heading .highslide-controls .highslide-full-expand a {background-position: -100px 0}
.controls-in-heading .highslide-controls .highslide-full-expand a:hover {background-position: -100px -20px}
.controls-in-heading .highslide-controls .highslide-full-expand a.disabled {background-position: -100px -40px !important}
.controls-in-heading .highslide-controls .highslide-close a {background-position: -120px 0}
.controls-in-heading .highslide-controls .highslide-close a:hover {background-position: -120px -20px}
.digg_pagination {background: white}.digg_pagination a, .digg_pagination span {padding: .2em .5em; display: block; float: left; margin-right: 1px}
.digg_pagination span.disabled {color: #999; border: 1px solid #DDD}
.digg_pagination span.current {font-weight: bold; background: #2E6AB1; color: white; border: 1px solid #2E6AB1}
.digg_pagination a {text-decoration: none; color: #105CB6; border: 1px solid #9AAFE5}
.digg_pagination a:hover, .digg_pagination a:focus {color: #003; border-color: #003}
.digg_pagination .page_info {background: #2E6AB1; color: white; padding: .4em .6em; width: 22em; margin-bottom: .3em; text-align: center}
.digg_pagination .page_info b {color: #003; background: #6aa6ed; padding: .1em .25em}
.digg_pagination:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
* html .digg_pagination {height: 1%}
*:first-child + html .digg_pagination {overflow: hidden}
.calendar_date_select {color:white; border:#816512 1px solid; display:block; width:195px; z-index: 1000}
iframe.ie6_blocker {position: absolute; z-index: 999}
.calendar_date_select thead th {font-weight:bold; background-color: #1D3E58; border-top:1px solid #777; border-bottom:2px solid #334; color: white !important}
.calendar_date_select .cds_buttons {text-align:center; padding:5px 0px; background-color: #2C5B83}
.calendar_date_select .cds_footer {background-color: #1D3E58; padding:3px; font-size:12px; text-align:center}
.calendar_date_select table {margin: 0px; padding: 0px}
.calendar_date_select .cds_header {background-color: #ccc; border-bottom: 2px solid #aaa; text-align:center}
.calendar_date_select .cds_header span {font-size:15px; color: black; font-weight: bold}
.calendar_date_select select {font-size:11px;}
.calendar_date_select .cds_header a:hover {color: white}
.calendar_date_select .cds_header a {width:22px; height:20px; text-decoration: none; background-color: #306794; font-size:14px; color:black !important}
.calendar_date_select .cds_header a.prev {background-color: #306794; float:left}
.calendar_date_select .cds_header a.next {background-color: #306794; float:right}
.calendar_date_select .cds_header a.close {float:right; display:none}
.calendar_date_select .cds_header select.month {width:80px}
.calendar_date_select .cds_header select.year {width:65px}
.calendar_date_select .cds_buttons a {color: white; font-size: 9px}
.calendar_date_select td {background-color: #639ECD; font-size:12px; width: 24px; height: 21px; text-align:center; vertical-align: middle}
.calendar_date_select td.weekend {background-color: #306794}
.calendar_date_select td div.other {color: #4C5593}
.calendar_date_select tbody td {border-bottom: 1px solid #000044}
.calendar_date_select td.selected {font-size:16px; border: 1px dashed red; background-color:#E6C77D; color:black}
.calendar_date_select td:hover {color:black; background-color:white}
.calendar_date_select td.disabled div {color: #C0C0C0; font-size: 9px}
.calendar_date_select td.today {font-size:14px; background-color: #ffffff; color: black}
.fieldWithErrors .calendar_date_select {border: 2px solid red}